// DateComponentPicker.module.less
//
@import '../../styles/mixins.less';
@import '../../styles/variables.less';

.dateComponentPicker {
	display: inline-block;
	text-align: center;
	margin: @lime-datecomponentpicker-margin;
	vertical-align: inherit;

	.label {
		.lime-body-text();
		text-align: center;
		padding: .lime-spotlight-margin(36px);
		white-space: nowrap;
	}
}
