// DateComponentPicker.module.less
//
@import '../../styles/mixins.less';
@import '../../styles/variables.less';

.dateComponentPicker {
	display: inline-block;
	text-align: center;
	margin: @lime-datecomponentpicker-margin;
	vertical-align: inherit;

	.label {
		text-align: center;
		white-space: nowrap;
		.lime-body-text();
		.lime-spotlight-padding(36px);
	}
}
