// TabGroup.module.less
//
@import "../styles/colors.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

.tab {
	font-size: @lime-tablayout-tab-font-size-large;
	margin: @lime-tablayout-tab-horizontal-margin;

	&.horizontal {
		&.button {
			display: block;
			padding: @lime-tablayout-tab-horizontal-padding;
			height: @lime-tablayout-tab-horizontal-button-height;
			line-height: @lime-tablayout-tab-horizontal-button-line-height;

			&.small {
				font-size: @lime-tablayout-tab-font-size;
				height: @lime-tablayout-tab-horizontal-small-button-height;
				line-height: @lime-tablayout-tab-horizontal-small-button-line-height;
			}
		}
	}

	&.vertical {
		&.button {
			display: block;
			height: @lime-tablayout-tab-vertical-button-height;
			text-align: left;

			&.collapsed {
				width: @lime-tablayout-tab-vertical-button-height;
			}

			.lime-custom-text({
				font-size: @lime-tablayout-tab-font-size-large;
				min-width: @lime-button-height;
			})
		}
	}

	.applySkins({
		&.button {
			color: @lime-component-text-color;

			&.selected {
				background-color: @lime-tablayout-tab-selected-background-color;

				.bg {
					opacity: 0;
				}
			}

			.focus({
				.bg {
					opacity: 1;
				}
			});
		}
	});
}

.applySkins({
	.tabGroup {
		background-color: @lime-tablayout-tabs-background-color;
		border-radius: @lime-tablayout-border-radius;

		.tabs {
			display: flex;
		}

		&.horizontal {
			padding: @lime-tablayout-horizontal-tabs-padding;

			.tabs {
				gap: @lime-tablayout-horizontal-tabs-spacing;
			}
		}

		&.vertical {
			padding: @lime-tablayout-vertical-tabs-padding;

			.tabs {
				flex-direction: column;
				gap: @lime-tablayout-vertical-tabs-spacing;
			}
		}

		.tab {
			&.vertical {
				&.button {
					&.selected {
						.bg {
							/* Override TabLayout */
						}
					}

					.focus({
						.bg {
							/* Override TabLayout */
						}
					});
				}
			}
		}
	}
});
