// TabGroup.module.less
//
@import "../styles/colors.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

.tab {
	font-size: @lime-tablayout-tab-font-size-large;
	margin: @lime-tablayout-tab-horizontal-margin;

	&.horizontal {
		&.button {
			display: block;
			margin: @lime-tablayout-tab-horizontal-margin;
			padding: @lime-tablayout-tab-horizontal-padding;
			height: @lime-tablayout-tab-horizontal-button-height;
			line-height: @lime-tablayout-tab-horizontal-button-line-height;

			&.small {
				font-size: @lime-tablayout-tab-font-size;
				height: @lime-tablayout-tab-horizontal-small-button-height;
				line-height: @lime-tablayout-tab-horizontal-small-button-line-height;
			}

			.client {
				.lime-spotlight-margin();
			}

			&.selected {
				.client::after {
					content: "";
					position: absolute;
					.position(auto, 0, 0, 0);
					height: @lime-tablayout-tab-horizontal-selected-border-width;
				}
			}
		}
	}

	&.vertical {
		&.button {
			display: block;
			height: @lime-tablayout-tab-vertical-button-height;

			&.collapsed {
				width: @lime-tablayout-tab-vertical-button-height;
			}

			.lime-custom-text({
				font-size: @lime-tablayout-tab-font-size-large;
				min-width: @lime-button-height;
			})
		}

		.client {
			text-align: left;

			.enact-locale-rtl({
				text-align: right;
			});
		}
	}

	.applySkins({
		&.button {
			&.selected {
				&:not(:focus) {
					color: @lime-tablayout-tab-selected-text-color;
				}
			}
		}

		&.horizontal {
			&.button {
				&.selected {
					.bg {
						opacity: 0;
					}
				}

				.client::after {
					background-color: @lime-tablayout-tab-selected-text-color;
				}

				.focus({
					.bg {
						opacity: 1;
					}

					.client::after {
						background-color: unset;
					}
				});
			}
		}
	});
}

.applySkins({
	.tabGroup {
		background-color: @lime-tablayout-tabs-background-color;
		border-radius: @lime-tablayout-border-radius;

		.tabs {
			display: flex;
		}

		&.horizontal {
			padding: @lime-tablayout-horizontal-tabs-padding;

			.tabs {
				gap: @lime-tablayout-horizontal-tabs-spacing;
			}
		}

		&.vertical {
			padding: @lime-tablayout-vertical-tabs-padding;

			.tabs {
				flex-direction: column;
				gap: @lime-tablayout-vertical-tabs-spacing;
			}
		}

		.tab {
			&.vertical {
				&.button {
					&.selected {
						.bg {
							/* Override TabLayout */
						}
					}

					.focus({
						.bg {
							/* Override TabLayout */
						}
					});
				}
			}
		}
	}
});
