// Input.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.input,
.marqueeText {
	.lime-body-text();

	padding: 0;
	border: 0;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
	text-indent: @lime-inputfield-text-indent;
	max-width: 100%;

	&[type=number] {
		appearance: textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			appearance: none;
		}

		&:hover {
			appearance: none;
		}
	}

	&[placeholder] {
		text-overflow: ellipsis;
	}

	.focus({
		cursor: text;
	});

	.disabled({
		cursor: default;
	});

	.enact-locale-rtl({
		text-align: right;
	});
}

.inputField {
	display: inline-flex;
	position: relative;
	padding: @lime-inputfield-padding;
	margin: @lime-inputfield-margin;
	box-sizing: border-box;
	vertical-align: middle;
	align-items: center;
	height: @lime-inputfield-height;

	.iconBefore {
		.margin-start-end(0, @lime-inputfield-icon-margin);
	}

	.iconAfter {
		.margin-start-end(@lime-inputfield-icon-margin, 0);
	}

	.bg {
		position: absolute;
		.position(0);
		border-radius: @lime-inputfield-border-radius;
	}

	.input,
	.inputHighlight,
	.marqueeText {
		font-size: @lime-input-font-size;
		font-weight: @lime-inputfield-font-weight;
		height: @lime-inputfield-height;
		line-height: @lime-inputfield-height;
		vertical-align: middle;
		z-index: 1;
	}

	.input.passwordtel, .input[type="password"]  {
		letter-spacing: @lime-inputfield-password-spacing;

		.input-placeholder({
			letter-spacing: 0;
		});
	}

	.input.passwordtel {
		-webkit-text-security: disc;
	}

	.inputHighlight {
		position: absolute;
		top: 0;
		height: @lime-inputfield-highlight-height;
		overflow: hidden;
		letter-spacing: 0.1px;
		pointer-events: none;
		opacity: 0;
		z-index: -1;
	}

	.inputWrapper {
		position: relative;
		flex-grow: 1;
		overflow: hidden;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.marqueeText {
		position: absolute;
		pointer-events: none;
		display: flex;
		align-items: center;
	}

	&.large {
		padding: @lime-inputfield-padding-large;
		width: @lime-inputfield-width;

		&.hasIconBefore, &.hasIconAfter {
			.inputWrapper {
				max-width: @lime-inputfield-withoneicon-width;
			}
		}

		&.hasIconBefore&.hasIconAfter {
			.inputWrapper {
				max-width: @lime-inputfield-withtwoicons-width;
			}
		}
	}

	&.small {
		height: @lime-inputfield-small-height;
		width: @lime-inputfield-small-width;

		.input {
			font-size: @lime-inputfield-small-font-size;
			height: @lime-inputfield-small-height;
			line-height: @lime-inputfield-small-height;
		}

		.inputHighlight {
			line-height: @lime-inputfield-small-height;
			height: @lime-inputfield-small-height;
		}

		.marqueeText {
			font-size: @lime-inputfield-small-font-size;
		}

		&.hasIconBefore, &.hasIconAfter {
			.inputWrapper {
				max-width: @lime-inputfield-small-withoneicon-width;
			}
		}

		&.hasIconBefore&.hasIconAfter {
			.inputWrapper {
				max-width: @lime-inputfield-small-withtwoicons-width;
			}
		}
	}

	// RIGBY NOTE: multiline is a NOT YET IMPLEMENTED feature that combines <input> and <textarea>
	// into one control, to simplify input handling.
	&.multiline {
		display: block;
		padding: 24px 36px;
		border-radius: 24px;
	}

	// an Input that isn't spottable is behaviorly disabled but not visually
	&:not(:global(.spottable)) .input {
		pointer-events: none;
	}

	.tooltip {
		margin-top: @lime-inputfield-invalid-tooltip-margin-top;

		.tooltipLabel {
			font-size: @lime-inputfield-invalid-tooltip-font-size;
			font-weight: @lime-inputfield-invalid-tooltip-font-weight;
		}
	}

	// Skin colors
	.applySkins({
		caret-color: @lime-inputfield-cursor-color;
		color: @lime-inputfield-label-success-color;

		.bg {
			background-color: @lime-inputfield-container-color;
		}

		.input {
			background: transparent;
			color: inherit;

			.input-placeholder({
				color: @lime-inputfield-label-inactive-color;
			});

			&:focus-within {
				color: @lime-inputfield-label-active-color;

				.input-placeholder({
					color: @lime-inputfield-label-inactive-focused-color;
				});
			}
		}

		&.invalid input {
			color: @lime-inputfield-invalid-color;
		}

		.inputHighlight {
			color: transparent;
			background-color: transparent;
			// Set `.inputHighlight` background color to make it appear that the text is highlighted
			// when `.input` has transparent background and when `.inputField` has focus, but not `.input`.
			// background-color: @lime-spotlight-color;
		}

		.tooltip {
			.tooltipLabel {
				color: @lime-inputfield-invalid-tooltip-color;
			}
		}

		// For when the field container has spotlight focus
		.focus({
			color: @lime-inputfield-label-active-color;

			.bg {
				.lime-spotlight-focus-bg-colors();
			}

			.input {
				.input-placeholder({
					color: @lime-inputfield-label-inactive-focused-color;
				});
			}

			// Set `.inputHighlight` opacity to make it appear that the text is highlighted
			// when `.input` has transparent background and when `.inputField` has focus, but not `.input`.
			// .inputHighlight {
			// 	opacity: 1;
			// }
		});

		:global(.noAnimation) & {
			.focus({
				.bg {
					box-shadow: none;
				}
			})
		}

		// For when the HTML input field has focus (someone is typing)
		&:focus-within {
			color: @lime-inputfield-label-inactive-focused-color;

			.bg {
				.lime-spotlight-focus-bg-colors();
				box-shadow: none;
			}
		}

		.lime-disabled({
			.bg {
				.lime-disabled-focus-bg-colors(@bg: {
					opacity: @lime-inputfield-container-opacity
				});
			}

			.input {
				color: @lime-inputfield-label-inactive-color;
			}

			.focus({
				.bg {
					background-color: @lime-inputfield-container-disabled-focused-color;
					filter: unset;
				}

				.input {
					color: @lime-inputfield-label-inactive-focused-color;
				}
			});
		});
	});

	// Hide input text when not active, show marquee instead
	&:not(.active) .input {
		opacity: 0;
	}

	&.active .marqueeText {
		opacity: 0;
	}
}
