// Input.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

.inputPopupWrapper {
	display: inline;
}

.inputPopup {
	.numberField,
	.number,
	.password,
	.separated {
		/* Available for customization */
	}

	.back {
		position: absolute;
		margin: 0;

		.lime-custom-text({
			.lime-small-button-text();
		});
	}

	.inputBody {
		line-height: 0; // This removes an undesirable layout shift occurring when a number is entered into the numberCells (Popup adds a line-height to all children).
	}

	.titles {
		max-width: 100%;
		width: 100%;
	}

	.fieldWrapper {
		display: inline-block;
		position: relative;
	}

	.joined,
	.numberCell {
		position: relative;
		z-index: 0;

		&::before {
			position: absolute;
			.position(0);
			content: '';
			z-index: -1;
			border-radius: @lime-input-numbercell-border-radius;
		}
	}

	.inputArea {
		text-align: center;
	}

	.numberCell {
		justify-content: center;
		align-items: center;
		display: flex;

		&:not(.password) {
			font-family: @lime-input-number-font-family;
		}
	}

	.submitButton {
		display: block;
		margin: @lime-input-overlay-submitbutton-margin;
	}

	.inputArea {
		.tooltip {
			margin-top: @lime-input-invalid-tooltip-margin-top;

			.tooltipLabel {
				font-size: @lime-input-invalid-tooltip-font-size;
				font-weight: @lime-input-invalid-tooltip-font-weight;
				line-height: @lime-input-invalid-tooltip-line-height;
			}
		}

		.contentArea {
			/* Available for customization */
		}
	}

	.keypad {
		.enact-locale-rtl({
			direction: ltr;
		});

		.key {
			margin: @lime-input-keypad-key-margin;
			padding: @lime-input-keypad-key-padding;
			height: @lime-input-keypad-key-height;
			width: @lime-input-keypad-key-width;

			.icon {
				font-size: @lime-input-keypad-key-font-size;
			}
		}
	}

	&.fullscreen {
		.back {
			top: @lime-input-fullscreen-back-button-top;

			.position-start-end(@lime-input-fullscreen-back-button-start, initial);
		}

		.inputBody {
			padding: @lime-input-fullscreen-padding;

			:global(.enact-orientation-portrait) & {
				padding: @lime-portrait-input-fullscreen-padding;
			}
		}

		.titles {
			height: @lime-input-fullscreen-title-height;

			:global(.enact-orientation-portrait) & {
				margin-inline: @lime-input-fullscreen-back-button-start;
				width: initial;
			}
		}

		.title {
			.lime-font-size(@lime-input-fullscreen-title-font-size, @lime-non-latin-input-fullscreen-title-font-size);
		}

		.separated {
			gap: @lime-input-fullscreen-numbercell-gap;
		}

		.numberCell {
			width: @lime-input-fullscreen-numbercell-width;
			height: @lime-input-fullscreen-numbercell-height;
			font-size: @lime-input-fullscreen-numbercell-font-size;
			margin: @lime-input-fullscreen-numbercell-margin;

			&.password {
				font-size: @lime-input-fullscreen-numbercell-password-font-size;
			}
		}

		.joined {
			min-width: @lime-input-fullscreen-numberfield-width;
			width: ~"calc(var(--input-max-number-length) * (" @lime-input-fullscreen-numberfield-font-size ~"+" @lime-input-fullscreen-numberfield-letter-spacing~" / 2))";
			height: @lime-input-fullscreen-numberfield-height;
			line-height: @lime-input-fullscreen-numberfield-height;
			letter-spacing: @lime-input-fullscreen-numberfield-letter-spacing;
			font-size: @lime-input-fullscreen-numberfield-font-size;
			margin: @lime-input-fullscreen-numberfield-margin;
			padding: @lime-input-fullscreen-numberfield-padding;

			&.password {
				font-size: @lime-input-fullscreen-numbercell-password-font-size;
			}
		}

		.keypad {
			margin: @lime-input-fullscreen-keypad-margin;
			max-width: 100vw;

			:global(.enact-orientation-portrait) & {
				margin: @lime-portrait-input-fullscreen-keypad-margin;
			}
		}

		.buttonArea {
			margin: @lime-input-fullscreen-buttonarea-margin;
			display: flex;
			justify-content: center;
		}

		.inputArea {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			:global(.enact-orientation-portrait) & {
				margin: @lime-portrait-input-fullscreen-number-inputarea-margin;
			}
		}

		.tooltip {
			.tooltipLabel {
				max-width: @lime-input-fullscreen-invalid-tooltip-width;
			}
		}

		&:not(.number, .passwordnumber) {
			.inputArea {
				height: ~"calc(100% - "@lime-input-fullscreen-title-height~" - "@lime-input-fullscreen-vkb-height~")";
			}
		}

		&.number, &.passwordnumber {
			.inputArea {
				height: ~"calc(100% - "@lime-input-fullscreen-title-height~" - "@lime-input-fullscreen-footer-height~")";
				margin: @lime-input-fullscreen-numbertype-margin;

				&.withButtons {
					height: ~"calc(100% - "@lime-input-fullscreen-title-height~" - "@lime-input-fullscreen-footer-withbuttons-height~")";
					margin: @lime-input-fullscreen-numbertype-withbuttons-margin;
				}
			}
		}
	}

	&.overlay {
		width: @lime-input-overlay-width;
		border-radius: @lime-input-overlay-border-radius;

		.body {
			padding: @lime-input-overlay-body-padding;
		}

		&:is(.noTitle, .noSubtitle) .titles {
			height: @lime-input-overlay-no-title-height;
		}

		.title {
			margin: @lime-input-overlay-title-margin;

			.lime-font-size(@lime-input-overlay-title-font-size, @lime-non-latin-input-overlay-title-font-size);
		}

		.inputArea {
			margin: @lime-input-overlay-inputarea-margin;
			display: flex;
			flex-direction: column;
			align-items: center;

			:has(.number, .passwordnumber, .withButtons) & {
				margin-bottom: 0;
			}

			.textField {
				width: @lime-input-overlay-textfield-width;
			}
		}

		.numberCell {
			width: @lime-input-overlay-numbercell-width;
			height: @lime-input-overlay-numbercell-height;
			font-size: @lime-input-overlay-numbercell-font-size;
			margin: @lime-input-overlay-numbercell-margin;

			&.password {
				font-size: @lime-input-overlay-numbercell-password-font-size;
			}
		}

		.joined {
			width: @lime-input-overlay-numberfield-width;
			height: @lime-input-overlay-numberfield-height;
			line-height: @lime-input-overlay-numberfield-height;
			letter-spacing: @lime-input-overlay-numberfield-letter-spacing;
			font-size: @lime-input-overlay-numberfield-font-size;
			margin: @lime-input-overlay-numberfield-margin;
			padding: @lime-input-overlay-numberfield-padding;

			&.password {
				font-size: @lime-input-overlay-numbercell-password-font-size;
			}
		}

		.keypad {
			margin: @lime-input-overlay-keypad-margin;
			width: @lime-input-overlay-keypad-width;
			justify-content: flex-end;
			column-gap: @lime-input-overlay-keypad-gap;
		}

		.buttonArea {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: @lime-input-overlay-buttonarea-margin;
		}

		.tooltip {
			.tooltipLabel {
				max-width: @lime-input-overlay-invalid-tooltip-width;
			}
		}
	}

	.applySkins({
		background-color: @lime-input-fullscreen-background-color;

		.numberCell {
			color: @lime-input-fullscreen-dot-color;
			&::before {
				background-color: @lime-inputfield-container-color;
			}
		}

		// Style joined numeric inputs and active cells like a focused input
		.joined,
		.numberCell.active {
			color: @lime-input-dot-focused-color;

			&::before {
				.lime-spotlight-focus-bg-colors();
				// Remove drop shadow for this input-like field
				box-shadow: none;
			}

			.lime-disabled({
				color: @lime-input-numberfield-disabled-color;

				&::before {
					opacity: @lime-input-numberfield-disabled-opacity;
				}
			});
		}

		.inputArea {
			.tooltip {
				.tooltipLabel {
					color: @lime-input-invalid-tooltip-color;
				}
			}
		}

		&.overlay {
			background-color: @lime-input-overlay-background-color;

			.inputArea {
				.inputField {
					color: @lime-input-inputfield-popup-label-inactive-color;

					.bg {
						background-color: @lime-input-inputfield-popup-container-color;
					}

					.input {
						.input-placeholder({
							color: @lime-input-inputfield-popup-label-inactive-color;
						});
					}
				}
			}

			.numberCell {
				color: @lime-input-overlay-dot-color;

				&::before {
					background-color: @lime-input-inputfield-popup-container-color;
				}
			}

			.numberCell.active {
				&::before {
					.lime-spotlight-focus-bg-colors();
					// Remove drop shadow for this input-like field
					box-shadow: none;
				}
			}

			.keypad {
				.key {
					color: @lime-input-button-popup-transparent-label-color;

					.icon {
						color: @lime-input-button-popup-transparent-label-color;
					}
				}
			}

			.title {
				color: @lime-input-header-popup-label-main-color;
			}

			.subtitle {
				color: @lime-input-header-popup-label-sub-color;
			}

			.back {
				color: @lime-input-button-popup-transparent-icon-color;

				.icon {
					color: @lime-input-button-popup-transparent-icon-color;
				}
			}

			.button {
				.bg{
					background-color: @lime-input-overlay-button-bg-color;
				}
			}
		}
	});
}
