// Heading.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.heading {
	margin: @lime-heading-margin;
	padding: @lime-heading-padding;
	letter-spacing: @lime-heading-letter-spacing;
	font-style: @lime-heading-font-style;

	:global(.enact-locale-non-italic) & {
		font-style: @lime-heading-font-style;
	}

	.enact-locale-line-height(@lime-heading-line-height, @lime-tallglyph-heading-line-height);

	// Only the following sizes get a bottom border
	&.large,
	&.medium,
	&.small,
	&.tiny {
		border-bottom: @lime-heading-border-width solid transparent;
	}

	&.title {
		.lime-font(@lime-heading-title-font-family, @lime-non-latin-font-family);
		.enact-locale-line-height(@lime-heading-title-line-height, @lime-tallglyph-heading-title-line-height);
		.enact-locale-tallglyph({
			font-size: @lime-tallglyph-heading-title-font-size;
		});
		font-weight: @lime-heading-title-font-weight;
		font-size: @lime-heading-title-font-size;
		.font-kerning();
	}
	&.subtitle {
		.lime-font(@lime-heading-subtitle-font-family, @lime-non-latin-font-family);
		.enact-locale-line-height(@lime-heading-subtitle-line-height, @lime-tallglyph-heading-subtitle-line-height);
		.enact-locale-tallglyph({
			font-size: @lime-tallglyph-heading-subtitle-font-size;
		});
		font-weight: @lime-heading-subtitle-font-weight;
		font-size: @lime-heading-subtitle-font-size;
	}
	&.large {
		font-family: @lime-heading-large-font-family;
		font-weight: @lime-heading-large-font-weight;
		font-size: @lime-heading-large-font-size;
	}
	&.medium {
		font-family: @lime-heading-medium-font-family;
		font-weight: @lime-heading-medium-font-weight;
		font-size: @lime-heading-medium-font-size;
	}
	&.small {
		font-family: @lime-heading-small-font-family;
		font-weight: @lime-heading-small-font-weight;
		font-size: @lime-heading-small-font-size;
	}
	&.tiny {
		margin: @lime-heading-margin-tiny;
		font-family: @lime-heading-tiny-font-family;
		font-weight: @lime-heading-tiny-font-weight;
		font-size: @lime-heading-tiny-font-size;
	}

	// Margin-bottom is set up this way so the presence of the line does not affect the height of the Heading.
	// We simply toggle the color from transparent to "colored" below, leaving the height untouched.
	&.titleSpacing {
		margin-bottom: @lime-heading-spacing-title;
	}
	&.subtitleSpacing {
		margin-bottom: @lime-heading-spacing-subtitle;
	}
	&.largeSpacing {
		margin-bottom: (@lime-heading-spacing-large - @lime-heading-border-width);
		min-height: (@lime-heading-spacing-large - @lime-heading-border-width);
	}
	&.mediumSpacing {
		margin-bottom: (@lime-heading-spacing-medium - @lime-heading-border-width);
		min-height: (@lime-heading-spacing-medium - @lime-heading-border-width);
	}
	&.smallSpacing {
		margin-bottom: @lime-heading-spacing-small-margin-bottom;
		min-height: (@lime-heading-spacing-small - @lime-heading-border-width);
	}
	&.noneSpacing {
		margin-bottom: 0;
		min-height: 0;
	}

	// Skin colors
	.applySkins({
		color: @lime-heading-label-main-color;

		&.tiny {
			color: @lime-heading-label-tiny-color;
		}

		&.subtitle {
			color: @lime-heading-label-sub-color;
		}

		&.showLine {
			border-bottom-color: @lime-heading-border-color;
		}
	});
}
