// App.module.less
//
@import '~@enact/limestone/styles/mixins.less';
@import '~@enact/limestone/styles/colors.less';

.app {
	background-color: black;
	overflow: hidden;
	width: 100%;
	height: 100%;

	& > * {
		display: inline-block;
		height: 100%;
	}
}

.list {
	width: 90%;
}

.side {
	width: 5%;
	background-color: var(--semantic-color-surface-default);
	.focus({
		background-color: var(--semantic-color-surface-default-focused);
	});
}
