// Chip.module.less
//
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.chip {
	position: relative;
	display: inline-block;

	.button {
		&.small {
			.margin-start-end(0, 0);
		}

		.bg {
			border-radius: @lime-chip-border-radius;
		}
	}

	.deleteButtonContainer {
		position: absolute;
		display: none;

		&.right {
			top: 0;
			right: 0;
			transform: translateX(100%);
		}

		&.bottom {
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 100%);
		}

		&.top {
			top: -100%;
			left: 50%;
			transform: translateX(-50%);
		}

		.deleteButton {
			margin-left: @lime-chip-delete-button-margin;
			margin-right: @lime-chip-delete-button-margin;
		}
	}

	.focused {
		display: block;
	}

	// Skin colors
	.applySkins({
		.focus({
			.lime-spotlight-focus-text-colors();

			.bg {
				.lime-spotlight-focus-bg-colors();
			}
		});

		.disabled({
			opacity: @lime-disabled-opacity;
		})
	})
}
