// Header.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

// Module level variables, for use only in this file
@header-compact-padding-left: .extract(@lime-header-compact-padding, left)[];
@header-compact-padding-right: .extract(@lime-header-compact-padding, right)[];

.header {
	position: relative;
	max-width: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top left;
	.border-box();

	///
	/// Begin states of header configuration
	///

	.titlesRow {
		padding-bottom: @lime-header-subtitle-height;

		// The following alters .subtitle to be removed from the measurement calculations for so the
		// title can vertically align with the side buttons (ignoring the dimensions of subtitle).
		.subtitle {
			position: absolute;
			right: 0;
			left: 0;
		}

		.back {
			margin-inline-start: 0;

			.lime-custom-text({
				.lime-large-button-text();
				height: @lime-button-height;
				line-height: (@lime-button-height - (2 * @lime-button-border-width));
				min-width: @lime-button-height;
			});
		}

		.close {
			margin-inline-end: 0;
		}
	}

	&:not(.centered) {
		.titlesRow {
			height: @lime-header-titleRow-height;
		}
	}

	&.isPopupHeader {
		.titlesRow {
			height: @lime-header-popup-titleRow-height;
		}
	}

	&.wizard {
		.titlesRow {
			padding-bottom: @lime-header-subtitle-height;
		}
	}

	.slotBefore,
	.slotAfter,
	.slotSizer {
		white-space: nowrap;
	}

	.slotSizer {
		display: flex;
		gap: 36px;

		> * {
			margin: 0;
		}
	}

	&.centered:not(.isPopupHeader):not(.wizard) {
		.titlesRow {
			height: @lime-header-centered-titleRow-height;
		}

		.title {
			margin-top: @lime-header-standard-title-margin-top;
		}
	}

	&.centered:not(.isPopupHeader) {
		.slotAbove,
		.slotBelow {
			text-align: center;
		}
	}

	///
	/// Begin child node rules configuration, shared across multiple types
	///

	.title {
		margin: 0;
	}

	.subtitle {
		.margin-start-end(@lime-header-subtitle-margin-start, 0);
	}

	.slotAbove {
		margin: @lime-header-slotabove-margin;
	}

	// Align `slotAfter` contents to the right LTR
	.slotAfter {
		text-align: right;

		// Align `slotAfter` contents to the left in RTL
		.enact-locale-rtl({
			text-align: left;
		});
	}

	.slotBelow {
		margin: @lime-header-slotbelow-margin;
	}

	///
	/// Begin "types" rules configuration
	///

	// Standard Header
	&.standard {
		margin: @lime-header-standard-margin;
		padding: @lime-header-standard-padding;

		.subtitle,
		.title {
			padding: @lime-header-standard-title-padding;
		}

		.subtitle {
			margin: @lime-header-standard-subtitle-margin;
		}

		&.slotBefore:not(.centered) .slotBefore {
			.margin-start-end(0, @lime-header-standard-slotbefore-margin-end);
		}

		&.slotAfter:not(.centered) .slotAfter {
			.margin-start-end(@lime-header-standard-slotafter-margin-start, 0);
		}
	}

	// Compact Header
	&.compact {
		margin: @lime-header-compact-margin;
		padding: @lime-header-compact-padding;

		.back,
		.close {
			margin: 0;
		}

		.title {
			padding: @lime-header-compact-title-padding;
		}

		.titlesRow {
			padding: @lime-header-compact-titles-row-padding;
		}

		.subtitle {
			padding: @lime-header-compact-subtitle-padding;
			margin-top: @lime-header-compact-subtitle-margin-top;
		}

		.title {
			.lime-font-size(@lime-header-compact-title-font-size, @lime-non-latin-header-compact-title-font-size);
		}

		&.slotBefore:not(.centered) .slotBefore {
			.margin-start-end(0, @lime-header-compact-slotbefore-margin-end);
		}

		&.slotAfter:not(.centered) .slotAfter {
			.margin-start-end(@lime-header-compact-slotafter-margin-start, 0);
		}

		&.isPopupHeader {
			&.slotAfter {
				.padding-start-end(@header-compact-padding-left, ~"calc(@{header-compact-padding-right} - @{lime-header-popup-compact-slotafter-padding-offset})");
			}
		}
	}

	// Wizard Header
	&.wizard {
		margin: @lime-header-wizard-margin;
		padding: @lime-header-wizard-padding;

		&.noSubtitle {
			padding-bottom: @lime-header-wizard-nosubtitle-padding-bottom;
		}

		.titleContainer {
			// absolutely position the incoming title
			&:nth-child(2) {
				top: 0;
				position: absolute;
				width: 100%;
			}
		}

		.title {
			.lime-font-size(@lime-header-wizard-title-font-size, @lime-non-latin-header-wizard-title-font-size);
			padding: @lime-header-wizard-title-padding;
		}

		.subtitle {
			padding: @lime-header-wizard-subtitle-padding;
		}

		&.centered {
			.subtitle {
				text-align: center;
			}
		}
	}

	// Mini Header
	&.mini {
		margin: @lime-header-mini-margin;
		padding: @lime-header-mini-padding;

		.titlesRow {
			padding: 0;
		}

		.titleCell {
			width: auto;
		}

		.title {
			.lime-font-size(@lime-header-mini-title-font-size, @lime-non-latin-header-mini-title-font-size);
		}

		&.withSubtitle:not(.noSubtitle) {
			.titlesRow {
				padding-bottom: @lime-header-subtitle-height;
			}
		}
	}

	&.noSubtitle {
		.titlesRow {
			padding-bottom: 0;
		}
	}

	.applySkins({
		&.shadowed {	
			.subtitle,
			.title {
				text-shadow: @lime-header-text-shadow;
			}
		}
	});
}
