// Header.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";
@import "../styles/variables-base.less";

// Module level variables, for use only in this file
@header-compact-padding-left: .extract(@lime-header-compact-padding, left)[];
@header-compact-padding-right: .extract(@lime-header-compact-padding, right)[];
@button-offset: .lime-taparea(@lime-button-height)[@_tap-offset];
@button-offset-abs: abs(@button-offset);

.header {
	position: relative;
	max-width: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top left;
	.border-box();

	///
	/// Begin states of header configuration
	///

	.titlesRow {
		padding-bottom: @lime-header-subtitle-height;

		// The following alters .subtitle to be removed from the measurement calculations for so the
		// title can vertically align with the side buttons (ignoring the dimensions of subtitle).
		.subtitle {
			position: absolute;
			right: 0;
			left: 0;
		}

		.back {
			margin-inline-start: 0;
		}

		.close {
			margin-inline-end: 0;
		}
	}

	&:not(.centered) {
		.titlesRow {
			height: @lime-header-titleRow-height;

			.enact-locale-tallglyph({
				height: @lime-header-tallglyph-titleRow-height;
			});
		}
	}

	&.isPopupHeader {
		.titlesRow {
			align-items: center;
			height: @lime-header-popup-titleRow-height;
		}
	}

	.slotBefore,
	.slotAfter,
	.slotSizer {
		white-space: nowrap;
	}

	.slotSizer {
		display: inline-block;

		> * {
			margin: 0;
		}
	}

	.slotAfter {
		.slotSizer {
			> *:not(:first-child) {
				margin-inline-start: @lime-header-standard-slotafter-margin-start;
			}
		}

		text-align: right;

		// Align `slotAfter` contents to the left in RTL
		.enact-locale-rtl({
			text-align: left;
		});
	}

	.slotBefore {
		.slotSizer {
			/* Select the children that have visible siblings right after them */
			> *:not([style*="display: none"]):has(~ *:not([style*="display: none"])) {
				margin-inline-end: @lime-header-standard-slotbefore-margin-end;
			}
		}
	}

	.slotAbove {
		margin: @lime-header-slotabove-margin;
	}

	.slotBelow {
		margin: @lime-header-slotbelow-margin;
	}

	&.centered:not(.isPopupHeader):not(.wizard) {
		.titlesRow {
			height: @lime-header-centered-titleRow-height;

			.enact-locale-tallglyph({
				height: @lime-header-tallglyph-centered-titleRow-height;
			});
		}

		.title {
			margin-top: @lime-header-standard-title-margin-top;
		}
	}

	&.centered:not(.isPopupHeader) {
		.slotAbove,
		.slotBelow {
			text-align: center;
		}

		&.mini .title {
			margin-top: ~'calc(@{button-offset-abs} / 2)';
		}

		:global(.enact-orientation-portrait) & {
			&.standard .title {
				margin-top: ~'calc(@{button-offset-abs} / -2)';
			}
		}
	}

	///
	/// Begin child node rules configuration, shared across multiple types
	///

	.title {
		margin: 0;
	}

	.subtitle {
		.margin-start-end(@lime-header-subtitle-margin-start, 0);
	}

	///
	/// Begin "types" rules configuration
	///

	&.standard,
	&.wizard {
		&.slotBefore:not(.centered) .slotBefore {
			.margin-start-end(0, @lime-header-standard-slotbefore-margin-end);
		}

		&.slotAfter:not(.centered) .slotAfter {
			.margin-start-end(@lime-header-standard-slotafter-margin-start, 0);
		}
	}

	// Standard Header
	&.standard {
		margin: @lime-header-standard-margin;
		padding: @lime-header-standard-padding;

		.subtitle,
		.title {
			padding: @lime-header-standard-title-padding;
		}

		.subtitle {
			margin: @lime-header-standard-subtitle-margin;
		}
	}

	// Compact Header
	&.compact {
		margin: @lime-header-compact-margin;
		padding: @lime-header-compact-padding;

		.back,
		.close {
			margin: 0;
		}

		.title {
			padding: @lime-header-compact-title-padding;
			.lime-font-size(@lime-header-compact-title-font-size, @lime-non-latin-header-compact-title-font-size);
		}

		.titlesRow {
			padding: @lime-header-compact-titles-row-padding;
		}

		.subtitle {
			padding: @lime-header-compact-subtitle-padding;
			margin-top: @lime-header-compact-subtitle-margin-top;
		}

		&.slotBefore .slotBefore {
			.margin-start-end(0, @lime-header-compact-slotbefore-margin-end);
		}

		&.slotAfter .slotAfter {
			.margin-start-end(@lime-header-compact-slotafter-margin-start, 0);
		}

		&.isPopupHeader {
			&.slotAfter {
				.padding-start-end(@header-compact-padding-left, ~"calc(@{header-compact-padding-right} - @{lime-header-popup-compact-slotafter-padding-offset})");
			}
		}
	}

	// Wizard Header
	&.wizard {
		margin: @lime-header-wizard-margin;
		padding: @lime-header-wizard-padding;

		&.noSubtitle {
			padding-bottom: @lime-header-wizard-nosubtitle-padding-bottom;
		}

		.titleContainer {
			// absolutely position the incoming title
			&:nth-child(2) {
				top: 0;
				position: absolute;
				width: 100%;
			}
		}

		.titlesRow {
			padding-bottom: @lime-header-subtitle-height;
		}

		.title {
			padding: @lime-header-wizard-title-padding;
			min-height: @lime-header-wizard-title-line-height;

			.lime-font-size(@lime-header-wizard-title-font-size, @lime-non-latin-header-wizard-title-font-size);
			.enact-locale-tallglyph({
				min-height: @lime-tallglyph-line-height;
			});
		}

		.subtitle {
			padding: @lime-header-wizard-subtitle-padding;
		}

		&.centered {
			.subtitle {
				text-align: center;
			}
		}

		:global(.enact-orientation-portrait) & {
			&.slotBefore .slotBefore,
			&.slotAfter .slotAfter {
				margin-top: ~'calc((@{lime-button-height} + @{button-offset}) * -1)';
			}
		}
	}

	// Mini Header
	&.mini {
		margin: @lime-header-mini-margin;
		padding: @lime-header-mini-padding;

		.titlesRow {
			padding: 0;
		}

		.titleCell {
			width: auto;
		}

		.title {
			.lime-font-size(@lime-header-mini-title-font-size, @lime-non-latin-header-mini-title-font-size);

			&:not(.isPopupHeader) {
				margin-top: ~'calc(abs(@{button-offset}) / 2)';
			}
		}

		&.slotBefore .slotBefore {
			.margin-start-end(0, @lime-header-mini-slotbefore-margin-end);
		}

		&.slotAfter .slotAfter {
			.margin-start-end(@lime-header-mini-slotafter-margin-start, 0);
		}

		&.withSubtitle:not(.noSubtitle) {
			.titlesRow {
				padding-bottom: @lime-header-subtitle-height;
			}
		}
	}

	&.noSubtitle {
		.titlesRow {
			padding-bottom: 0;
		}
	}

	.applySkins({
		&.shadowed {	
			.subtitle,
			.title {
				text-shadow: @lime-header-text-shadow;
			}
		}
	});
}
