// ImageItem.module.less
//
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.imageItem {
	position: relative;
	font-weight: @lime-imageitem-font-weight;

	.image {
		display: block;
		margin: 0;
	}

	&:not(.fullImage) {
		&::before {
			content: '';
			position: absolute;
			.position(0);
			border-radius: @lime-imageitem-border-radius;
		}
	}

	.selectionContainer {
		background-color: transparent;
		pointer-events: none;
		.position(0);
		position: absolute;

		display: flex;
		align-items: center;
		justify-content: center;

		&::after {
			content: '';
			position: absolute;
			.position(0);
			border-width: @lime-imageitem-image-border-width;
			border-style: solid;
		}

		.selectionIcon {
			position: relative;
			display: block;
			border-radius: 50%;
			margin: 0;
		}
	}

	.caption {
		font-size: @lime-imageitem-caption-font-size;
		line-height: @lime-imageitem-caption-line-height;
		.enact-locale-tallglyph({
			font-size: @lime-tallglyph-imageitem-caption-font-size;
		});
	}

	.label {
		font-size: @lime-imageitem-label-font-size;
		font-weight: @lime-imageitem-label-font-weight;
		line-height: @lime-imageitem-label-line-height;
		.enact-locale-tallglyph({
			font-size: @lime-tallglyph-imageitem-label-font-size;
		});
	}

	&.vertical {
		&.fullImage {
			border-radius: 0;
			padding: @lime-imageitem-vertical-full-image-padding;

			.image {
				transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
				will-change: transform, box-shadow;

				.selectionIcon {
					transition: transform 200ms ease-in-out;
				}
			}

			.selectionContainer::after {
				border-width: @lime-imageitem-vertical-full-image-border-width;
			}

			.focus({
				.selectionContainer::after {
					border-width: @lime-imageitem-vertical-full-image-focus-border-width;
				}
			});
		}

		&:not(.fullImage) {
			padding: @lime-imageitem-vertical-padding;
			margin: @lime-imageitem-margin;
		}

		.selectionIcon {
			width: @lime-imageitem-vertical-selection-icon-size;
			height: @lime-imageitem-vertical-selection-icon-size;
			line-height: @lime-imageitem-vertical-selection-icon-size;
		}

		.captions {
			align-items: center;
			margin-top: @lime-imageitem-vertical-captions-margin-top;
		}

		.imageIcon {
			height: @lime-imageitem-vertical-image-icon-size;
			width: @lime-imageitem-vertical-image-icon-size;
			margin: @lime-imageitem-vertical-image-icon-margin;
		}

		.label {
			height: @lime-imageitem-vertical-label-height;
		}

		.placeholderCaption {
			height: @lime-imageitem-placeholder-caption-height;
		}

		.placeholderLabel {
			height: @lime-imageitem-placeholder-label-height;
		}
	}

	&.horizontal {
		.lime-spotlight-padding(@lime-imageitem-horizontal-padding);
		align-items: center;
		margin: @lime-imageitem-margin;

		.image {
			width: @lime-imageitem-horizontal-image-width;
			height: @lime-imageitem-horizontal-image-height;
			margin: 0;

			.margin-start-end(0, @lime-imageitem-horizontal-image-margin);
		}

		&.wideImage {
			padding: @lime-imageitem-horizontal-wideimage-padding;

			.image {
				width: @lime-imageitem-horizontal-wideimage-image-width;
				height: @lime-imageitem-horizontal-wideimage-image-height;
			}
		}

		.selectionIcon {
			border-radius: 50%;
			margin: 0;

			.margin-start-end(@lime-imageitem-horizontal-selection-icon-margin-left, @lime-imageitem-horizontal-selection-icon-margin-right);
		}
	}

	// Skin colors
	.applySkins({
		&::before {
			.lime-spotlight-resting-bg-colors();
		}

		.selectionContainer::after {
			border-color: @lime-imageitem-image-border-color;
		}

		.selectionIcon {
			background-color: @lime-imageitem-selection-container-color;
			color: @lime-imageitem-selection-icon-color;
		}

		.caption {
			color: @lime-imageitem-label-main-color;
		}

		.label {
			color: @lime-imageitem-label-sub-color;
		}

		&.selected {
			.caption {
				color: @lime-imageitem-label-main-selected-color;
			}

			.label {
				color: @lime-imageitem-label-sub-selected-color;
			}

			.selectionContainer::after {
				border-color: @lime-imageitem-selected-image-border-color;
			}

			.selectionIcon {
				background-color: @lime-imageitem-selection-container-selected-color;
				box-shadow: 0 0 0 @lime-checkbox-border-width @lime-imageitem-selection-container-selected-color;
				color: @lime-imageitem-selection-icon-selected-color;
			}
		}

		&.vertical {
			&.fullImage {
				.selectionContainer::after {
					border-color: @lime-imageitem-full-image-border-color;
				}

				.lime-focus-highlight(image)
			}
		}

		&.horizontal {
			&:not(.selected) {
				.selectionIcon {
					box-shadow: 0 0 0 @lime-checkbox-border-width @lime-imageitem-selection-border-color;
				}
			}
		}

		.focus({
			.lime-spotlight-focus-text-colors();

			.disabled({
				opacity: @lime-disabled-focus-content-opacity;

				.caption,
				.label {
					opacity: @lime-disabled-focus-content-opacity;
				}
			});

			&::before {
				.lime-spotlight-focus-bg-colors();
			}

			.selectionIcon {
				background-color: @lime-imageitem-selection-container-focused-color;
				color: @lime-imageitem-selection-icon-focused-color;
			}

			.caption {
				color: @lime-imageitem-label-main-focused-color;
			}

			.label {
				color: @lime-imageitem-label-sub-focused-color;
			}

			&.vertical {
				&.fullImage {
					.selectionContainer::after {
						border-color: @lime-imageitem-full-image-focused-border-color;
					}

					.image {
						transform: @lime-imageitem-vertical-focus-image-transform;
						box-shadow: @lime-imageitem-full-image-focused-shadow-color;
					}
				}
			}

			&.selected {
				.selectionIcon {
					background-color: @lime-imageitem-selection-container-selected-focused-color;
					color: @lime-imageitem-selection-icon-selected-focused-color;
				}
			}

			&.horizontal {
				&:not(.selected) {
					.selectionIcon {
						box-shadow: 0 0 0 @lime-checkbox-border-width @lime-imageitem-selection-border-focus-color;
					}
				}
			}
		});

		:global(.noAnimation) & {
			&.vertical {
				&.fullImage {
					.image {
						transition: none;
					}
				}
			}

			.focus({
				&::before {
					box-shadow: none;
				}

				&.vertical {
					&.fullImage .image {
						box-shadow: none;
					}
				}
			})
		}
	});
}
