@import "~@enact/limestone/styles/mixins.less";
@import "~@enact/limestone/styles/skin.less";

.spottableitem {
	.applySkins({
		background-color: transparent;
		color: var(--semantic-color-on-background-main);
		.focus({
			background-color: @lime-spotlight-bg-color;
			color: @lime-spotlight-text-color;
		});
	});
}

.spottableDiv1 {
	.applySkins({
		.lime-focus-highlight();
	});
	.focus({
		transform: scale(1.1);
	});
	& .image {
		margin: 0;
	}
}

.spottableDiv2 {
	.applySkins({
		.lime-focus-highlight(image);
	});

	.focus({
		transform: scale(1.1);
	});
}

.scroller {
	overflow-y: scroll;
	height: 240px;
	border: 6px solid orangered;
}

.block {
	display: block;
}
