// Spinner.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

@keyframes spin {
	@turn-offset: (2 / 8);
	0%   { transform: rotate(0turn + @turn-offset); }
	33%   { transform: rotate(0.25turn + @turn-offset); }
	80%   { transform: rotate(0.7turn + @turn-offset); }
	85%   { transform: rotate(0.75turn + @turn-offset); }
	100%  { transform: rotate(1turn + @turn-offset); }
}

.spinner {
	line-height: @lime-body-line-height;
	vertical-align: middle;

	.bg {
		position: relative;
		border-radius: 999px;
		width: @lime-spinner-size;
		height: @lime-spinner-size;
		margin-left: auto;
		margin-right: auto;
	}

	.decorator {
		width: @lime-spinner-size;
		height: @lime-spinner-size;
		position: relative;
		background-size: cover;
		border-radius: 999px;
		overflow: hidden;
		margin: 0 auto;
		-webkit-mask-image: radial-gradient(transparent (@lime-spinner-size / 2 - @lime-spinner-line-width - 1px), black (@lime-spinner-size / 2 - @lime-spinner-line-width)); // These colors control masking, not visible colors
		animation: none @lime-spinner-time linear infinite;
		animation-name: spin;
		animation-play-state: paused;
	}

	.client {
		.lime-body-text();
		align-content: center;
		height: @lime-spinner-client-height;
		font-weight: @lime-spinner-font-weight;
		line-height: @lime-spinner-client-line-height;
		max-width: 696px;
	}

	&.medium { /* Needed to prevent global class being added in the DOM */ }

	&.small {
		.bg,
		.decorator {
			width: @lime-spinner-small-size;
			height: @lime-spinner-small-size;
		}

		.bg {
			padding: @lime-spinner-small-line-margin;
		}

		.decorator {
			-webkit-mask-image: radial-gradient(transparent (@lime-spinner-small-size / 2 - @lime-spinner-small-line-width - 1px), black (@lime-spinner-small-size / 2 - @lime-spinner-small-line-width));
		}

		// Large-text mode support
		.lime-custom-text({
			.bg,
			.decorator {
				width: @lime-spinner-small-size-large;
				height: @lime-spinner-small-size-large;
			}

			.decorator {
				-webkit-mask-image: radial-gradient(transparent (@lime-spinner-small-size-large / 2 - @lime-spinner-small-line-width - 1px), black (@lime-spinner-small-size-large / 2 - @lime-spinner-small-line-width));
			}
		});
	}

	&.content {
		padding: ((@lime-button-height - @lime-spinner-size) / 2);
	}

	&.running .decorator {
			animation-play-state: running;
	}

	// Skin colors
	.applySkins({
		color: @lime-spinner-text-color;

		.bg {
			background-color: @lime-spinner-bg-color;
		}

		.decorator {
			background: conic-gradient(@lime-spinner-empty-color 57.5%, @lime-spinner-color 100%);
		}

		&.transparent {
			.bg {
				background-color: transparent;
			}
		}

		.client {
			text-shadow: 0 1px 1px @lime-spinner-text-shadow-color;
		}
	});
}

.spinnerContainer {
	// Skin colors
	.applySkins({
		.blockClickOn {
			// Visible scrim
			.scrim {
				background-color: @lime-scrim-color;
			}
		}
	});
}
