// KeyGuide.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

.keyGuide {
	position: absolute;
	width: @lime-keyguide-width;
	right: @lime-keyguide-position-right;
	bottom: @lime-keyguide-position-bottom;
	padding: @lime-keyguide-padding;

	.item {
		.lime-font({
			font-size: @lime-keyguide-font-size;
		});
		font-size: @lime-keyguide-font-size;
		height: @lime-keyguide-item-height;
		margin: 0;

		.icon {
			margin: 0;
		}

		.slotBefore {
			margin-inline-end: @lime-keyguide-icon-margin-right;
		}
	}

	.red,
	.green,
	.yellow,
	.blue {
		width: @lime-keyguide-colordot-width;
		height: @lime-keyguide-colordot-height;
		margin: @lime-keyguide-colordot-margin;
		border-radius: @lime-keyguide-colordot-border-radius;
	}

	.applySkins({
		background: @lime-keyguide-bg-color;

		.red {
			background-color: @lime-keyguide-colordot-red-color;
		}
		.green {
			background-color: @lime-keyguide-colordot-green-color;
		}
		.yellow {
			background-color: @lime-keyguide-colordot-yellow-color;
		}
		.blue {
			background-color: @lime-keyguide-colordot-blue-color;
		}

		.item {
			color: @lime-keyguide-item-color;
		}
	})
}
