// DateTime.module.less
//
@import "../../styles/skin.less";
@import "../../styles/variables.less";

.dateTime {
	display: inline-block;

	.heading {
		margin: @lime-datetime-heading-margin;
		border-bottom: none;
	}

	&.center {
		.heading {
			display: flex;
			justify-content: center;
		}
	}

	.pickers {
		vertical-align: middle;
		// direction: ltr;

		> *:first-child {
			margin-inline-start: 0
		}

		> *:nth-last-child(2) {
			margin-inline-end: 0
		}
	}

	.applySkins({
		.heading {
			color: @lime-datetime-label-color;
		}
	})
}
