// DateTime.module.less
//
@import "../../styles/skin.less";
@import "../../styles/variables.less";

.dateTime {
	display: inline-block;

	.heading {
		font-weight: normal;
	}

	.pickers {
		vertical-align: middle;
		// direction: ltr;
		margin: @lime-component-spacing;

		> *:first-child {
			margin-inline-start: 0
		}

		> *:nth-last-child(2) {
			margin-inline-end: 0
		}
	}

	.applySkins({
		.heading {
			color: @lime-datetime-label-color;
		}
	})
}
