// DateTime.module.less
//
@import "../../styles/skin.less";
@import "../../styles/variables.less";

.dateTime {
	display: inline-block;

	.pickers {
		vertical-align: middle;
		// direction: ltr;

		> *:first-child {
			margin-inline-start: 0
		}

		> *:nth-last-child(2) {
			margin-inline-end: 0
		}

		.heading {
			margin: @lime-datetime-heading-margin;
		}
	}

	.applySkins({
		.heading {
			color: @lime-picker-datetime-label-color;
		}
	});
}
