// Dropdown.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.dropdown {
	display: inline-block;
	margin: @lime-dropdown-margin;
	min-width: @lime-dropdown-min-width;

	&.tinyWidth {
		.title,
		.button {
			width: @lime-dropdown-tiny-width;
		}
	}

	&.smallWidth {
		.title,
		.button {
			width: @lime-dropdown-small-width;
		}
	}

	&.mediumWidth {
		.title,
		.button {
			width: @lime-dropdown-medium-width;
		}
	}

	&.largeWidth {
		.title,
		.button {
			width: @lime-dropdown-large-width;
		}
	}

	&.x-largeWidth {
		.title,
		.button {
			width: @lime-dropdown-x-large-width;
		}
	}

	&.hugeWidth {
		.title,
		.button {
			width: @lime-dropdown-huge-width;
		}
	}

	.title {
		min-width: @lime-dropdown-min-width;
		font-style: @lime-dropdown-title-font-style;

		:global(.enact-locale-non-italic) & {
			font-style: @lime-non-italic-dropdown-title-font-style;
		}
	}

	&.hasTitle .button {
		margin-top: 0;
	}

	.button {
		min-width: unset;
		max-width: unset;

		&:not([disabled]) {
			.focus({
				&.pressed,
				&:active {
					.bg {
						animation-name: none;
					}
				}
			});
		}
	}

	// Skin colors
	.applySkins({
		.title {
			color: @lime-dropdown-title-color;
		}
	});
}

.dropdownList {
	max-height: @lime-dropdown-list-max-height;
	min-width: @lime-dropdown-list-min-width;
	padding: @lime-dropdown-list-padding;

	&.verticalScrollbar {
		padding-right: @lime-dropdown-list-scroller-padding;
	}

	&.tiny {
		width: @lime-dropdown-list-tiny-width;
	}

	&.small {
		width: @lime-dropdown-list-small-width;
	}

	&.medium {
		width: @lime-dropdown-list-medium-width;
	}

	&.large {
		width: @lime-dropdown-list-large-width;
	}

	&.x-large {
		width: @lime-dropdown-list-x-large-width
	}

	&.huge {
		width: @lime-dropdown-list-huge-width;
	}

	// Skin colors
	.applySkins({
		border-radius: @lime-dropdown-border-radius;

		[data-selected="true"] {
			&:not(:focus) {
				color: @lime-dropdown-selected-text-color;
			}
		}
	});
}
