// Dropdown.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.dropdown {
	display: inline-block;
	margin: @lime-dropdown-margin;
	min-width: @lime-dropdown-min-width;

	&.tinyWidth {
		.title {
			width: @lime-dropdown-tiny-title-width;
		}

		.button {
			width: @lime-dropdown-tiny-width;
		}
	}

	&.smallWidth {
		.title {
			width: @lime-dropdown-small-title-width;
		}

		.button {
			width: @lime-dropdown-small-width;
		}
	}

	&.mediumWidth {
		.title {
			width: @lime-dropdown-medium-title-width;
		}

		.button {
			width: @lime-dropdown-medium-width;
		}
	}

	&.largeWidth {
		.title {
			width: @lime-dropdown-large-title-width;
		}

		.button {
			width: @lime-dropdown-large-width;
		}
	}

	&.x-largeWidth {
		.title {
			width: @lime-dropdown-x-large-title-width;
		}

		.button {
			width: @lime-dropdown-x-large-width;
		}
	}

	&.hugeWidth {
		.title {
			width: @lime-dropdown-huge-title-width;
		}

		.button {
			width: @lime-dropdown-huge-width;
		}
	}

	.title {
		min-width: @lime-dropdown-title-min-width;
		padding: @lime-dropdown-title-padding;
		margin: 0;
	}

	.button {
		min-width: unset;
		max-width: unset;
		padding: @lime-dropdown-padding;
		margin: 0;

		&:not([disabled]) {
			.focus({
				&.pressed,
				&:active {
					.bg {
						animation-name: none;
					}
				}
			});
		}

		.icon {
			.margin-start-end(@lime-dropdown-icon-margin, 0);
		}
	}
}

.dropdownList {
	max-height: @lime-dropdown-list-max-height;
	min-width: @lime-dropdown-list-min-width;

	&.verticalScrollbar {
		.scrollbarTrack{
			height: calc(100% - @lime-scrollbar-padding);
		}
	}

	&.tiny {
		width: @lime-dropdown-list-tiny-width;
	}

	&.small {
		width: @lime-dropdown-list-small-width;
	}

	&.medium {
		width: @lime-dropdown-list-medium-width;
	}

	&.large {
		width: @lime-dropdown-list-large-width;
	}

	&.x-large {
		width: @lime-dropdown-list-x-large-width
	}

	&.huge {
		width: @lime-dropdown-list-huge-width;
	}

	.lime-custom-text({
		max-height: @lime-dropdown-list-max-height-large;
	});

	// Skin colors
	.applySkins({
		[data-selected="true"] {
			&:not(:focus) {
				color: @lime-dropdown-label-selected-color;
			}
		}
	});
}

.applySkins({
	.contextualPopup {
		padding-bottom: 0;
	}
});
