// MediaTitle.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.titleFrame {
	width: ~"calc(100% - 2 * "@lime-mediaplayer-times-min-width~")";

	@badges-present-transition: transform 500ms ease-in-out;

	position: relative;
	flex-grow: 1;
	opacity: 1;

	&.hidden {
		transition: opacity 1000ms ease-in-out;
		opacity: 0;
	}

	// Title
	.title {
		font-size: @lime-video-player-label-font-size;
		font-weight: @lime-video-player-label-font-weight;
		line-height: @lime-video-player-label-line-height;
		transition: @badges-present-transition;
		.font-kerning;

		.enact-locale-tallglyph({
			// The font-size .times is the same as .title in tallglyph locales so no
			// vertical adjustment is required to align their baselines
			bottom: 0;
		});
	}

	// Badges and title components
	.infoComponents {
		font-size: @lime-video-player-info-font-size;
		font-weight: @lime-video-player-info-font-weight;
		height: @lime-video-player-info-height;
		line-height: @lime-video-player-info-line-height;

		&.hidden {
			opacity: 0;
		}

		&.visible {
			transition: opacity 500ms ease-in-out;
		}

		> * {
			display: inline-block;
			margin: 0 12px;
		}

		.badgeTextIcon {
			font-family: @lime-font-family-bold;
			font-size: @lime-video-player-badge-text-size;
			text-align: center;
			white-space: nowrap;
			display: inline-block;
		}

		.fontLgIcons {
			font-family: "LG Icons";
		}
	}

	:global(.largeText) & {
		.title {
			font-size: @lime-video-player-label-font-size-large;
			line-height: @lime-video-player-label-line-height-large;
		}

		.infoComponents {
			font-size: @lime-video-player-info-font-size-large;
			line-height: @lime-video-player-info-line-height-large;
		}
	}

	:global(.noAnimation) & {
		&.hidden {
			transition: none;
		}

		.title {
			transition: none;
		}

		.infoComponents {
			&.visible {
				transition: none;
			}
		}
	}
}

.applySkins({
	.titleFrame {
		color: @lime-video-player-label-color;
	}
});
