// VideoPlayer.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.videoPlayer {
	// Set by counting the IconButtons inside the side components.
	--liftDistance: 0px;

	overflow: hidden;

	.video {
		height: 100%;
		width: 100%;
	}

	.preloadVideo {
		display: none;
	}

	.overlay {
		position: absolute;
		.position(0);

		&::after {
			content: "";
			position: absolute;
			.position(auto, 0, 0, 0);
			height: 80%;
			transform-origin: bottom;
			// Fancier gradient for future reference. Keeping linear-gradient as specified from Enyo.
			// background-image: radial-gradient(rgba(0, 0, 0, 0) 50%, #000000 100%);
			// background-size: 170% 200%;
			// background-position: bottom center;
		}
	}

	.fullscreen {
		.miniFeedback {
			position: absolute;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: @lime-video-feedback-mini-font-size;
			font-weight: @lime-video-feedback-mini-font-weight;
			height: @lime-video-feedback-mini-height;
			width: @lime-video-feedback-mini-width;
			line-height: @lime-video-feedback-mini-height;
			margin-bottom: @lime-video-feedback-mini-margin-bottom;
			z-index: 100; // Value assigned as part of the VideoPlayer API so layers may be inserted in-between
			top: @lime-video-feedback-mini-top;
			bottom: auto;
			pointer-events: none;
			.position-start-end(@lime-video-feedback-mini-left, initial);
		}

		.back {
			margin: 0;
			position: absolute;
			z-index: 100; // Value assigned as part of the VideoPlayer API so layers may be inserted in-between
			top: @lime-video-back-button-top;
			.position-start-end(@lime-video-back-button-left, initial);
		}

		.bottom {
			position: absolute;
			z-index: 100;  // Value assigned as part of the VideoPlayer API so layers may be inserted in-between
			bottom: @lime-video-player-padding-bottom;
			left: @lime-video-player-padding-side;
			right: @lime-video-player-padding-side;

			&.lift {
				transform: translateY(~"calc(var(--liftDistance) * -1)");
				transition: transform 0.3s linear;

				:global(.noAnimation) & {
					transition: none;
				}
			}

			&.hidden {
				pointer-events: none;

				.sliderContainer {
					position: absolute;
					width: 100%;
				}
			}

			.infoFrame {
				display: flex;
				padding: @lime-video-player-info-padding;
				margin-bottom: @lime-video-player-info-margin-bottom;
			}

			.sliderContainer {
				display: flex;
				align-items: center;
				height: @lime-video-player-slider-container-height;
				padding: @lime-video-player-slider-container-padding;

				> *:first-child {
					text-align: right;
				}

				.enact-locale-rtl({
					direction: ltr;
				});
			}
		}
	}

	.controlsHandleAbove {
		pointer-events: none;
		position: absolute;
		.position(0, 0, auto, 0);
	}

	// Skin colors
	.applySkins({
		.fullscreen {
			.miniFeedback {
				color: @lime-video-player-label-color;
				background-color: @lime-video-slider-tooltip-background-color;
			}

			.bottom {
				background-color: @lime-video-player-bottom-bg-color;
			}
		}

		.overlay {
			&.scrim::after {
				background: @lime-video-player-scrim-gradient-color;
			}
		}
	});
}
