// ScrollbarTrack.module.less
//
@import "../styles/colors.less";
@import "../styles/mixins.less";
@import "../styles/variables.less";

.scrollbarTrack {
	--scrollbar-track-margin: @lime-scrollbar-track-margin;
	--scrollbar-thumb-size-ratio: 1;
	--scrollbar-thumb-progress-ratio: 0;
	--scrollbar-thumb-size: ~"calc(100% * var(--scrollbar-thumb-size-ratio))";
	--scrollbar-thumb-progress: ~"calc(((1 - var(--scrollbar-thumb-size-ratio)) * var(--scrollbar-thumb-progress-ratio)) * 100%)";

	position: relative;
	height: 100%;
	width: 100%;
	background-color: @lime-scroll-track-color;
	border-radius: @lime-scrollbar-track-border-radius;
	opacity: 0;
	transition: opacity 100ms ease-out;

	&:hover {
		opacity: 1;
	}

	&:has(.thumb:focus) {
		background-color: @lime-scroll-track-focused-color;
	}

	&.focusableScrollbar {
		// Always show the scrollbar
		opacity: 1;
		--scrollbar-track-margin: @lime-scrollbar-track-focusable-margin;
	}

	.thumb {
		background: @lime-scroll-handle-color;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: @lime-scrollbar-thumb-border-radius;

		.focus({
			position: absolute;
			background-color: @lime-scroll-handle-focused-color;
			box-shadow: @lime-scrollbar-thumb-focus-box-shadow @lime-scrollbar-thumb-focus-box-shadow-color;
			border-radius: @lime-scrollbar-thumb-focus-border-radius;

			.directionIndicator {
				position: absolute;
				width: 0;
				height: 0;
				border-top: @lime-scrollbar-thumb-focus-direction-indicator-height solid transparent;
				border-bottom: @lime-scrollbar-thumb-focus-direction-indicator-height solid @lime-scroll-arrow-color;
				border-right: (@lime-scrollbar-thumb-focus-direction-indicator-width / 2) solid transparent;
				border-left: (@lime-scrollbar-thumb-focus-direction-indicator-width / 2) solid transparent;
			}
		});

		:global(.noAnimation) & {
			.focus({
				box-shadow: none;
			});
		}

		:global(.spotlight-input-touch) & {
			pointer-events: none;
		}
	}

	&.vertical {
		margin: 0 var(--scrollbar-track-margin);
		width: @lime-scrollbar-track-width;

		.thumb {
			height: var(--scrollbar-thumb-size);
			top: var(--scrollbar-thumb-progress);
			will-change: top;

			&:focus {
				width: @lime-scrollbar-thumb-focus-width;
				left: @lime-scrollbar-thumb-focus-left;

				.directionIndicator.backward {
					top: calc(@lime-scrollbar-thumb-focus-direction-indicator-top - @lime-scrollbar-thumb-focus-direction-indicator-height);
					left: @lime-scrollbar-thumb-focus-direction-indicator-left;
				}

				.directionIndicator.forward {
					transform: rotate(180deg);
					bottom: calc(@lime-scrollbar-thumb-focus-direction-indicator-top - @lime-scrollbar-thumb-focus-direction-indicator-height);
					left: @lime-scrollbar-thumb-focus-direction-indicator-left;
				}
			}
		}
	}

	&:not(.vertical) {
		margin: var(--scrollbar-track-margin) 0;
		height: @lime-scrollbar-track-width;

		.thumb {
			width: var(--scrollbar-thumb-size);
			left: var(--scrollbar-thumb-progress);
			will-change: left;
			top: 50%;
			transform: translateY(-50%);

			.focus({
				height: @lime-scrollbar-thumb-focus-width;

				.directionIndicator.backward {
					transform: rotate(-90deg);
					left: calc(@lime-scrollbar-thumb-focus-direction-indicator-top - @lime-scrollbar-thumb-focus-direction-indicator-height);
					top: calc(@lime-scrollbar-thumb-focus-direction-indicator-left / 2);
				}

				.directionIndicator.forward {
					transform: rotate(90deg);
					right: calc(@lime-scrollbar-thumb-focus-direction-indicator-top - @lime-scrollbar-thumb-focus-direction-indicator-height);
					top: calc(@lime-scrollbar-thumb-focus-direction-indicator-left / 2);
				}
			})
		}
	}
}
