// PageViews.module.less
//
@import "../styles/skin.less";
@import "../styles/variables.less";

.pageViews {
	height: 100%;
	width: 100%;
	display: inline-flex;
	flex-direction: column;

	.navButton {
		/* CSS Overrides */
	}

	.navButtonCell {
		text-align: center;
		display: flex;
		align-items: center;
		width: @lime-pageviews-navigation-button-area-width;
		justify-content: center;
	}

	.navButtonContainer {
		position: absolute;
		width: 100%;
		height: @lime-button-height;
		top: ~"calc(50% - "@lime-button-height / 2 ~")";
		z-index: 10;
		pointer-events: none;

		& [role='button'] {
			pointer-events: auto;
		}
	}

	&.number .navButtonCell {
		width: @lime-pageviews-number-navigation-button-area-width;

		.navButton {
			margin: 0;
		}
	}

	.stepsRow {
		align-items: center;
		justify-content: center;
		text-align: center;
		height: @lime-pageviews-steps-height;

		&.hidden {
			min-height: @lime-pageviews-steps-area-min-height;
			visibility: hidden;
		}
	}

	&.number .stepsRow {
		min-height: @lime-pageviews-number-steps-area-min-height;

		.pageNumber {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			padding: @lime-pageviews-navigation-text-area-padding;
			width: @lime-pageviews-number-steps-number-width;
			font-size: @lime-pageviews-number-steps-number-font-size;

			:global(.largeText) & {
				font-size: @lime-pageviews-number-steps-number-font-size-large;
			}

			.separator {
				width: @lime-pageviews-number-steps-separator-width;
			}
		}
	}

	&.dot .steps {
		display: flex;
		align-items: center;
		min-height: @lime-pageviews-dot-steps-area-min-height;
		gap: @lime-pageviews-indicator-icon-gap;

		.step {
			height: @lime-pageviews-dot-step-size;
			width: @lime-pageviews-dot-step-size;
			margin: 0;

			&.current {
				height: @lime-pageviews-dot-highlighted-step-size;
				width: @lime-pageviews-dot-highlighted-step-size;
			}

			&.future, &.past {
				opacity: @lime-pageviews-indicator-icon-opacity;
			}
		}

		.pageIndicator {
			&.past, &.current, &.future {
				/* CSS Overrides */
			}
		}
	}

	&.fullContents .stepsRow {
		position: absolute;
		align-self: center;
	}

	&.fullContents.indicatorBottom .stepsRow {
		bottom: @lime-pageviews-full-contents-bottom-steps-bottom;
		pointer-events: none;

		& [role='button'] {
			pointer-events: auto;
		}
	}

	.contentsArea {
		position: relative;
		overflow: hidden;
	}

	.viewManager {
		overflow: hidden;
		border-radius: @lime-pageviews-contents-border-radius;
	}

	.horizontalLayout {
		height: 100%;
	}

	.footerButtons {
		justify-content: center;
	}

	.applySkins({
		.viewManager {
			background-color: @lime-pageviews-bg-color;
		}

		.steps .step {
			background-color: @lime-pageviews-indicator-icon-active;

			&.future, &.past {
				background-color: @lime-pageviews-indicator-icon-inactive;
			}
		}
	});
}
