@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.controlsFrame {
	position: relative;
	display: block;

	&.hidden {
		will-change: opacity;
		opacity: 0;
	}

	.mediaControls {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: @lime-mediaplayer-controls-gap;

		.button {
			height: @lime-mediaplayer-button-height;
			min-width: @lime-mediaplayer-button-height;
			margin: 0;

			.client {
				padding: @lime-mediaplayer-button-client-padding;
			}
		}
	}

	.actionGuide {
		padding-top: @lime-mediaplayer-controls-actionguide-padding-top;
		transition: opacity @lime-mediaplayer-controls-actionguide-time linear;

		&.hidden {
			opacity: 0;
			visibility: hidden;
		}

		.label {
			margin-top: -24px;
		}
	}

	.moreComponents {
		position: absolute;
		left: 0;
		right: 0;
		height: 0;
		opacity: 0;

		&.hidden {
			visibility: hidden;
		}

		.moreButtonsComponents {
			> * {
				margin: 0;
				margin-inline-start: @lime-mediaplayer-controls-morebuttons-margin-start;

				&:first-child {
					margin-inline-start: 0;
				}
			}
		}

		> :first-child {
			margin-top: @lime-mediaplayer-controls-moreComponents-margin-top;
		}
	}

	// Skin colors
	.applySkins({
		.button {
			.bg {
				border-radius: @lime-mediaplayer-button-border-radius;
			}
		}
	});
}
