// Times.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";

.times {
	.lime-text-base(@lime-mediaplayer-times-text-size);
	line-height: @lime-mediaplayer-times-line-height;
	white-space: nowrap;
	min-width: @lime-mediaplayer-times-min-width;

	> * {
		display: inline-block;
	}

	.separator {
		padding: 0 1ex;
	}

	.enact-locale-rtl({
		direction: ltr;
	});
}
