// Checkbox.module.less
//
@import "../styles/mixins.less";
@import "../styles/motion-mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

// Assign the colors all in one place
.checkbox-colors (@color, @bg, @border) {
	.icon {
		color: @color;
		background-color: @bg;
		box-shadow: 0 0 0 @lime-checkbox-border-width @border;
	}
}

// Generate all states (and selectors) for the checkbox
.checkbox-states (@resting, @selected, @indeterminate) {
	@resting();

	&.selected {
		@selected();
	}

	&.indeterminate {
		@indeterminate();
	}
}

// Standalone version of the Checkbox (Also used when Checkbox has been wrapped with Spottable)
@checkbox-standalone-rules: {
	.bg {
		position: absolute;
		.position(@lime-checkbox-container-position);
		border-radius: @lime-checkbox-container-border-radius;
		.lime-spotlight-resting-bg-colors();
	}
}

// Resting States
@checkbox-resting: {
	.checkbox-states(
		.checkbox-colors(
			@lime-checkbox-icon-color,
			@lime-checkbox-container-color,
			@lime-checkbox-border-color
		);
		.checkbox-colors(
			@lime-checkbox-icon-selected-color,
			@lime-checkbox-container-selected-color,
			@lime-checkbox-border-selected-color
		);
		.checkbox-colors(
			@lime-checkbox-icon-indeterminate-color,
			@lime-checkbox-container-indeterminate-color,
			@lime-checkbox-border-indeterminate-color
		);
	);
};

// Focus States
@checkbox-focus: {
	.checkbox-states(
		// Gathered rules into a rules-set to include the .bg selector in the resting block
		{
			.checkbox-colors(
				@lime-checkbox-icon-focused-color,
				@lime-checkbox-container-focused-color,
				@lime-checkbox-border-focused-color
			);
			.bg {
				.lime-spotlight-focus-bg-colors();
			}
		};
		.checkbox-colors(
			@lime-checkbox-icon-selected-focused-color,
			@lime-checkbox-container-selected-focused-color,
			@lime-checkbox-border-selected-focused-color
		);
		.checkbox-colors(
			@lime-checkbox-icon-indeterminate-focused-color,
			@lime-checkbox-container-indeterminate-focused-color,
			@lime-checkbox-border-indeterminate-focused-color
		);
	);
};

// Disabled
@checkbox-disabled-resting: {
	.checkbox-states(
		{
			// No custom rules for this state
		};
		.checkbox-colors(
			@lime-checkbox-icon-selected-disabled-color,
			@lime-checkbox-container-selected-disabled-color,
			@lime-checkbox-border-selected-disabled-color
		);
		{
			// No custom rules for this state
		}
	);
};

// Disabled + Focus States
@checkbox-disabled-focus: {
	.checkbox-states(
		{
			// No custom rules for this state
			.bg {
				background-color: @lime-checkbox-container-standalone-disabled-focused-color;
			}
		};
		.checkbox-colors(
			@lime-checkbox-icon-selected-disabled-focused-color,
			@lime-checkbox-container-selected-disabled-focused-color,
			@lime-checkbox-border-selected-disabled-focused-color
		);
		.checkbox-colors(
			@lime-checkbox-icon-indeterminate-focused-color,
			@lime-checkbox-container-indeterminate-focused-color,
			@lime-checkbox-border-indeterminate-focused-color
		);
	);
};


.checkbox {
	display: inline-block;
	position: relative;
	line-height: 0;

	.icon {
		margin: 0;	// Needed to apply here instead of on `.checkbox` due to .icon.size precedence :(
		border-radius: @lime-checkbox-border-radius;
		position: relative;
		text-align: center;
		--icon-size: @lime-icon-tiny-size;

		.lime-custom-text({
			--icon-size: @lime-icon-small-size;
		});
	}

	&.selected.checkmark .icon {
		.lime-check-motion();
	}

	//
	// Checkbox supports several states, each of which has a different set of colors.
	// All supported states are as follows:
	//
	// standalone
	// standalone selected
	// standalone indeterminate
	// standalone disabled
	// standalone disabled selected
	// standalone disabled indeterminate
	// asChild
	// asChild selected
	// asChild indeterminate
	// asChild disabled
	// asChild disabled selected
	// asChild disabled indeterminate
	//
	// Standalone is represented below as .standalone. This handles focus and disabled states.
	// asChild depends on the status of the parent for focus and disabled states.
	//

	.applySkins({
		// Set up the background for standalone (and independently spottable) versions
		&.standalone {
			@checkbox-standalone-rules();
		}
		// Spottable version of the Checkbox
		.spottable(@checkbox-standalone-rules);

		// Resting
		@checkbox-resting();

		// Focus
		.focus({
			@checkbox-focus();
		});

		:global(.noAnimation) & {
			.focus({
				.bg {
					box-shadow: none;
				}
			})
		}

		// Disabled
		.lime-disabled({
			.icon {
				.lime-disabled-colors();
			}

			// Disabled + Focus
			.focus({
				@checkbox-disabled-focus();

				.icon {
					.lime-disabled-focus-content-colors();
				}
			});
		});
	});
}

// The following target instances where the checkbox is inside another component and that
// component is receiving the disabled/focused etc states, rather than checkbox directly.
.applySkins({
	.focus({
		& .checkbox {
			@checkbox-focus();
		}
	});

	:global(.noAnimation) & {
		.focus({
			& .checkbox .bg {
				box-shadow: none;
			}
		});
	}
});

.applySkins({
	.disabled({
		&.checkbox {
			@checkbox-disabled-resting();
		}
	});
});

.applySkins({
	.focus({
		.disabled({
			& .checkbox {
				@checkbox-disabled-focus();

				&.standalone {
					.icon {
						.lime-disabled-focus-content-colors();
					}
				}
			}
		});
	});
});
