// Switch.module.less
//
@import "../styles/motion-mixins.less";
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.switch {
	display: inline-block;
	position: relative;

	.client {
		border-radius: @lime-switch-border-radius;
		width: @lime-switch-width;
		height: @lime-switch-height;
		position: relative;
		text-align: left;
		cursor: default;
	}

	.icon {
		border-radius: 50%;
		visibility: visible;
		height: @lime-switch-icon-height;
		width: @lime-switch-icon-height;
		font-size: @lime-switch-icon-font-size;
		line-height: @lime-switch-icon-line-height;
		margin: 0;
		position: absolute;
		vertical-align: top;
		top: @lime-switch-icon-top;
		left: @lime-switch-icon-top;
	}

	&.selected {
		.icon {
			left: (@lime-switch-width - @lime-switch-icon-height - @lime-switch-icon-top);
		}
	}

	&.animated {
		.client {
			transition: background-color 200ms;
		}

		.icon {
			transition: left 200ms, background-color 200ms;
		}

		&.selected .icon {
			.lime-toggle-motion(@lime-switch-icon-top);
		}
	}

	// The switch is acting a standalone capacity and is Spottable
	.spottable({
		margin: @lime-switch-spottable-margin;

		.bg {
			position: absolute;
			.position(@lime-switch-spottable-position);
			z-index: -1;
		}
	});

	// Skin colors
	.applySkins({
		.client {
			background-color: @lime-switch-container-inactive-color;
		}

		.icon {
			background-color: @lime-switch-handle-inactive-color;
		}

		&.selected {
			.client {
				background-color: @lime-switch-container-active-color;
			}

			.icon {
				background-color: @lime-switch-handle-active-color;
			}
		}

		.disabled({
			&.selected {
				.client {
					background-color: @lime-switch-container-active-disabled-color;
				}

				.icon {
					background-color: @lime-switch-handle-active-disabled-color;
				}
			}
		});

		// Standalone Switch
		.spottable({
			.lime-taparea(@lime-switch-height);

			.bg {
				border-radius: @lime-switch-spottable-border-radius;
				.lime-spotlight-resting-bg-colors();
			}
		});

		.focus({
			.bg {
				.lime-spotlight-focus-bg-colors();
			}

			.icon {
				background-color: @lime-switch-handle-inactive-focused-color;
			}

			&.selected {
				.icon {
					background-color: @lime-switch-handle-active-focused-color;
				}
			}
		});

		:global(.noAnimation) & {
			.focus({
				.bg {
					box-shadow: none;
				}
			})
		}

		.lime-disabled({
			.client {
				.lime-disabled-colors();
			}

			.focus({
				.bg {
					.lime-disabled-focus-bg-colors();
				}
				.client {
					.lime-disabled-focus-content-colors();
				}
			});
		});
	});
}

// Keep the switch handle (the icon) a constant color regardless of focus state.
.applySkins({
	.focus({
		.switch {
			.icon {
				background-color: @lime-switch-handle-inactive-focused-color;
			}

			&.selected {
				.icon {
					background-color: @lime-switch-handle-active-focused-color;
				}
			}
		}
	}, parent);
});

.applySkins({
	.disabled({
		.switch {
			&.selected {
				.client {
					background-color: @lime-switch-container-active-disabled-color;
				}

				.icon {
					background-color: @lime-switch-handle-active-disabled-color;
				}
			}
		}
	});
});
