// FormCheckboxItem.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.formCheckboxItem {
	&.hasSlotBefore {
		.checkbox {
			margin-inline-end: @lime-formcheckboxitem-checkbox-margin-end;
		}
	}

	// FormCheckboxItem should not increase in size when in `largeText` mode
	.lime-custom-text({
		font-size: @lime-item-font-size;

		.enact-locale-line-height(@lime-item-line-height, @lime-tallglyph-item-line-height);
	});
}

.item {
	.applySkins({
		.focus({
			color: @lime-formcheckboxitem-label-main-focused-color;

			.bg {
				background-color: transparent;
				opacity: 0;
			}

			.label {
				color: @lime-formcheckboxitem-label-sub-focused-color
			}

			.disabled({
				color: @lime-formcheckboxitem-label-main-disabled-focused-color;

				.bg {
					opacity: 0;
				}

				.slotBefore {
					// Overrides Item's rule, setting all content fields to the content opacity.
					// Standalone Checkbox handles this coloration on its own, so that rule isn't
					// needed, so we reset it back to default here.
					opacity: initial;
				}
				&.hasSlotBefore .slotBefore > :last-child {
					opacity: @lime-disabled-focus-content-opacity;
				}
			});
		});

		&.selected {
			.bg {
				background-color: @lime-formcheckboxitem-item-selected-container-color;
			}
		}

		.disabled({
			color: @lime-formcheckboxitem-label-main-disabled-color;
		})
	});
}
