// WizardPanels.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";

.wizardPanels {
	&.noSteps {
		.steps {
			visibility: hidden;
		}
	}

	.steps {
		height: @lime-wizardpanels-steps-height;
		line-height: @lime-wizardpanels-steps-height;
		margin-top: @lime-wizardpanels-steps-margin-top;
	}

	.content {
		margin: @lime-wizardpanels-content-margin;
	}

	.footer {
		text-align: center;
		margin: @lime-wizardpanels-footer-margin;
	}
}
