// Limestone Base App styles
//

// Core Rules
@import "~@enact/ui/styles/core.less";
@import "~@enact/ui/styles/mixins.less";

// Limestone Internal Rules
@import "../styles/internal/fonts.less";

// Limestone Rules
@import "~@enovaui/core-tokens/css/spacing-primitive.css";
@import "~@enovaui/core-tokens/css/typography-primitive.css";
@import "~@enovaui/design-tokens/packages/webos-tokens/css/color-semantic-dark.css";
@import "~@enovaui/webos-tokens/css/radius-semantic.css";
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

.applySkins({
	color: var(--semantic-color-on-background-main);

	::selection {
		color: @lime-input-selection-color;
		background-color: @lime-input-selection-bg-color;
	}

	// Disabled Components
	.disabled({
		.lime-disabled-colors();

		cursor: default;

		// Disabled children of disabled components
		.disabled({
			opacity: 1;
		}, parent);
	});
});

.root {
	.lime-text-base(@lime-base-font-size, self);
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	// Prevent Chrome from highlighting tapped elements
	-webkit-tap-highlight-color: transparent;

	&.bg,
	& > .bg {
		padding: @lime-app-keepout;
	}

	.enact-locale-rtl({
		direction: rtl;
	}, self);

	:focus {
		// Prevent Chrome's default focus treatment
		outline: none;
	}

	/* Light Skin */
	&:global(.light) {
		@import-json "~@enovaui/design-tokens/packages/webos-tokens/json/color-semantic-light.json";
	}

	/* High Contrast */
	&:global(.enact-a11y-high-contrast):global(.highContrast) {
		@import-json "~@enovaui/design-tokens/packages/webos-tokens/json/color-semantic-high-contrast.json";
	}

	&:global(.christmas) {
		@import-json "~@enovaui/design-tokens/packages/webos-tokens/json/color-semantic-christmas.json";
	}
}

// Skin colors
// This is outside the `.root` class above because high-contrast is applied to root
// as well as skins. The high-contrast mixin (in skin.less) refers to high-contrast
// and the skins node as descent, rather than on the same node. This allows the
// styling to be applied without costly duplication of all rules in the skin mixin.
.applySkins({
	&.bg,
	> .bg {
		background-color: var(--semantic-color-background-full-default);
	}
});
