// Limestone Base App styles
//

// Core Rules
@import "~@enact/ui/styles/core.less";
@import "~@enact/ui/styles/mixins.less";

// Limestone Internal Rules
@import "../styles/internal/fonts.less";

// Limestone Rules
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";
@import "../styles/colors-alias.css";

.applySkins({
	color: var(--lime-alias-color-on-surface-main);

	::selection {
		color: @lime-input-selection-color;
		background-color:@lime-input-selection-bg-color;
	}

	// Disabled Components
	.disabled({
		.lime-disabled-colors();

		cursor: default;

		// Disabled children of disabled components
		.disabled({
			opacity: 1;
		}, parent);
	});
});

.root {
	.lime-text-base(@lime-base-font-size, self);
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	// Prevent Chrome from highlighting tapped elements
	-webkit-tap-highlight-color: transparent;

	&.bg,
	& > .bg {
		padding: @lime-app-keepout;
	}

	.enact-locale-rtl({
		direction: rtl;
	}, self);

	:focus {
		// Prevent Chrome's default focus treatment
		outline: none;
	}

	/* Light Skin */
	&:global(.light) {
		--lime-alias-color-surface-full: var(--ref-color-base-85);
		--lime-alias-color-on-surface-main: var(--ref-color-base-10);
		--lime-alias-color-on-surface-sub: var(--ref-color-base-35);
		--lime-alias-color-on-selection-icon-selected-disabled-focused: var(--ref-color-base-65);
		--lime-alias-color-on-selection-icon-selected-disabled: var(--ref-color-base-65);
		--lime-alias-color-on-selection-bg-active-disabled: var(--ref-color-base-60);
		--lime-alias-color-on-selection-bg-active-disabled-focused: var(--ref-color-base-60);
		--lime-alias-color-surface-overlay: var(--ref-color-secondary-85);
		--lime-alias-color-progress-bar: var(--lime-alias-color-accent);
		--lime-alias-color-progress-bg: var(--ref-color-base-40-a70);
	}

	/* High Contrast */
	&:global(.enact-a11y-high-contrast):global(.highContrast) {
		--lime-alias-color-surface-overlay: var(--ref-color-base-0);
	}
}

// Skin colors
// This is outside the `.root` class above because high-contrast is applied to root
// as well as skins. The high-contrast mixin (in skin.less) refers to high-contrast
// and the skins node as descent, rather than on the same node. This allows the
// styling to be applied without costly duplication of all rules in the skin mixin.
.applySkins({
	&.bg,
	> .bg {
		background-color: var(--lime-alias-color-surface-full);
	}
});
