// Card.module.less
//
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.selected-border(@color: white, @z-index: 1) {
	&::before {
		content: '';
		position: absolute;
		.position(0);
		border-width: @lime-card-image-border-width;
		border-style: solid;
		border-color: @color;
		z-index: @z-index;
	}
}

.card {
	position: relative;
	margin: @lime-card-margin;
	font-weight: @lime-card-font-weight;

	.image {
		position: relative;
	}

	.selectionContainer {
		pointer-events: none;
		position: absolute;
		.position(0);

		display: flex;
		align-items: center;
		justify-content: center;

		border-width: @lime-card-image-border-width;
		border-style: solid;

		.selectionIcon {
			width: @lime-card-selection-icon-size;
			height: @lime-card-selection-icon-size;
			border-radius: @lime-card-selection-icon-border-radius;
			margin: @lime-card-selection-icon-margin;
			line-height: @lime-card-selection-icon-line-height;
		}
	}

	.primaryBadge, .secondaryBadge {
		position: absolute;
		width: @lime-card-badge-size;
		height: @lime-card-badge-size;
		margin: @lime-card-badge-margin;
		top: @lime-card-badge-top;
	}
	.primaryBadge {
		left: @lime-card-badge-left;
	}
	.secondaryBadge {
		right: @lime-card-badge-right;
	}

	.caption {
		font-size: @lime-card-caption-font-size;
		line-height: @lime-card-caption-line-height;
	}

	.label {
		font-size: @lime-card-label-font-size;
		line-height: @lime-card-label-line-height;
	}

	&.vertical {
		.captions {
			padding: @lime-card-vertical-captions-padding;
			display: flex;
			align-items: center;
			gap: @lime-card-vertical-catpions-gap;
			align-self: stretch;
		}

		.imageIcon {
			height: @lime-card-vertical-image-icon-size;
			width: @lime-card-vertical-image-icon-size;
			margin: @lime-card-vertical-image-icon-margin;
		}

		&.roundedImage {
			border-radius: @lime-card-border-radius;

			.selectionContainer, .image {
				border-radius: @lime-card-border-radius;
			}
		}

		&.captionOverlay .captions {
			padding: @lime-card-vertical-caption-overlay-captions-padding;
		}

		&.hasContainer {
			.captions {
				padding: @lime-card-vertical-has-container-captions-padding;
			}

			&.roundedImage {
				.image {
					border-bottom-left-radius: unset;
					border-bottom-right-radius: unset;
				}

				&.selected::before {
					border-radius:  @lime-card-border-radius;
				}
			}
		}
	}

	&.horizontal {
		border-radius: @lime-card-border-radius;

		.captions {
			padding: @lime-card-horizontal-captions-padding;
		}

		.image {
			border-top-left-radius: @lime-card-border-radius;
			border-bottom-left-radius: @lime-card-border-radius;
		}

		&.selected::before {
			border-radius: @lime-card-border-radius;
		}
	}

	// Skin colors
	.applySkins({
		.image-scrim() {
			content: '';
			position: absolute;
			.position(0);
			background: @lime-card-scrim-bg-color;
			z-index: 1;
		}

		.selectionContainer {
			border-color: transparent;
			.selectionIcon {
				color: transparent;
			}
		}

		&.selected .selectionIcon {
			background-color: @lime-card-selected-selection-icon-bg-color;
			color: @lime-card-selected-selection-icon-color;
		}

		.caption {
			color: @lime-card-caption-color;
		}

		.label {
			color: @lime-card-label-color;
		}

		&.vertical {
			&.hasContainer {
				background-color: @lime-card-bg;

				&.selected {
					.selected-border(@lime-card-selected-image-border-color, 7);
				}
			}

			&.selected:not(.hasContainer) .selectionContainer {
				border-color: @lime-card-selected-image-border-color;
				z-index: 5;
			}

			&.selected {
				.image::after {
					.image-scrim();
				}

				&.roundedImage .image::after {
					border-radius:  @lime-card-border-radius;
				}

				&.hasContainer.roundedImage .image::after {
					border-bottom-left-radius: unset;
					border-bottom-right-radius: unset;
				}
			}
		}

		&.horizontal {
			background-color: @lime-card-bg;

			&.selected {
				.selected-border(@lime-card-selected-image-border-color, 7);
			}

			&.selected .image::after {
				.image-scrim();
				border-radius: @lime-card-border-radius;
				border-top-right-radius: unset;
				border-bottom-right-radius: unset;
			}
		}

		.focus({
			.selectionIcon {
				color: @lime-card-selection-icon-color;
			}

			&.selected .selectionIcon {
				color: @lime-card-selected-selection-icon-color;
			}

			&.hasContainer .caption, &.horizontal .caption {
				color: @lime-card-focus-caption-color;
			}

			&.hasContainer .label, &.horizontal .label {
				color: @lime-card-focus-label-color;
			}

			&.vertical {
				&:not(.captionOverlay):not(.hasContainer) .image,
				&.captionOverlay,
				&.hasContainer {
					transform: scale(1.1);
				}

				&.hasContainer {
					background-color: @lime-card-focused-bg-color;
					.selected-border(@lime-card-focused-image-border-color, 7);

					&.roundedImage::before {
						border-radius: @lime-card-border-radius;
					}
				}

				&:not(.hasContainer) .selectionContainer {
					z-index: 7;
					border-color: @lime-card-focused-image-border-color;
				}
			}

			&.horizontal {
				transform: scale(1.1);
				background-color: @lime-card-focused-bg-color;
				.selected-border(@lime-card-focused-image-border-color, 7);

				&::before {
					border-radius: @lime-card-border-radius;
				}
			}
		})
	})
}
