// Card.module.less
//
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.selected-border(@color: white, @z-index: 1) {
	&::before {
		content: '';
		position: absolute;
		.position(0);
		border-width: @lime-card-image-border-width;
		border-style: solid;
		border-color: @color;
		z-index: @z-index;
	}
}

.image-scrim() {
	content: '';
	position: absolute;
	.position(0);
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.card {
	position: relative;
	margin: @lime-card-margin;

	.image {
		position: relative;
	}

	.selectionContainer {
		pointer-events: none;
		position: absolute;
		.position(0);
		display: flex;
		align-items: center;
		justify-content: center;

		border-width: @lime-card-image-border-width;
		border-style: solid;

		.selectionIcon {
			width: @lime-card-selection-icon-size;
			height: @lime-card-selection-icon-size;
			border-radius: @lime-card-selection-icon-border-radius;
			margin: @lime-card-selection-icon-margin;
			line-height: @lime-card-selection-icon-line-height;
		}
	}

	.primaryBadge, .secondaryBadge {
		position: absolute;
		width: @lime-card-badge-size;
		height: @lime-card-badge-size;
		margin: @lime-card-badge-margin;
		top: @lime-card-badge-top;
	}
	.primaryBadge {
		left: @lime-card-badge-left;
	}
	.secondaryBadge {
		right: @lime-card-badge-right;
	}

	.caption {
		line-height: @lime-card-caption-line-height;
	}

	.label {
		line-height: @lime-card-label-line-height;
	}

	&.vertical {
		.captions {
			padding: @lime-card-vertical-captions-padding;
			display: flex;
			align-items: center;
			gap: @lime-card-vertical-catpions-gap;
			align-self: stretch;
		}

		.imageIcon {
			height: @lime-card-vertical-image-icon-size;
			width: @lime-card-vertical-image-icon-size;
			margin: @lime-card-vertical-image-icon-margin;
		}

		&.roundedImage {
			border-radius: @lime-card-border-radius;

			.selectionContainer, .image {
				border-radius: @lime-card-border-radius;
			}
		}

		&.captionOverlay .captions {
			padding: @lime-card-vertical-caption-overlay-captions-padding;
		}

		&.hasContainer {
			.captions {
				padding: @lime-card-vertical-has-container-captions-padding;
			}

			&.roundedImage {
				.image {
					border-bottom-left-radius: unset;
					border-bottom-right-radius: unset;
				}

				&.selected::before {
					border-radius:  @lime-card-border-radius;
				}
			}
		}

		&.selected {
			.image::after {
				.image-scrim();
			}

			&.roundedImage .image::after {
				border-radius:  @lime-card-border-radius;
			}

			&.hasContainer.roundedImage .image::after {
				border-bottom-left-radius: unset;
				border-bottom-right-radius: unset;
			}
		}
	}

	&.horizontal {
		border-radius: @lime-card-border-radius;

		.captions {
			padding: @lime-card-horizontal-captions-padding;
		}

		.image {
			border-top-left-radius: @lime-card-border-radius;
			border-bottom-left-radius: @lime-card-border-radius;
		}

		&.selected::before {
			border-radius: @lime-card-border-radius;
		}

		&.selected .image::after {
			.image-scrim();
			border-radius: @lime-card-border-radius;
			border-top-right-radius: unset;
			border-bottom-right-radius: unset;
		}
	}

	// Skin colors
	.applySkins({
		.selectionContainer {
			border-color: transparent;
			.selectionIcon {
				color: transparent;
			}
		}

		&.selected .selectionIcon {
			background-color: red;
			color: white;
		}

		&.vertical {
			&.hasContainer {
				background-color: rgba(255, 255, 255, 0.1);

				&.selected {
					.selected-border(white, 7);
				}
			}

			&.selected:not(.hasContainer) .selectionContainer {
				border-color: white;
				z-index: 5;
			}
		}

		&.horizontal {
			background-color: rgba(255, 255, 255, 0.1);

			&.selected {
				.selected-border(white, 7);
			}
		}

		.focus({
			.selectionIcon {
				color: transparent;
			}

			&.selected .selectionIcon {
				color: white;
			}

			&.vertical {
				&:not(.captionOverlay):not(.hasContainer) .image,
				&.captionOverlay,
				&.hasContainer {
					transform: scale(1.1);
				}

				&.hasContainer {
					background-color: white;
					.selected-border(white, 7);

					&.roundedImage::before {
						border-radius: @lime-card-border-radius;
					}
				}

				&:not(.hasContainer) .selectionContainer {
					z-index: 5;
					border-color: white;
				}
			}

			&.horizontal {
				transform: scale(1.1);
				background-color: white;
				.selected-border(white, 7);

				&::before {
					border-radius: @lime-card-border-radius;
				}
			}
		})
	})
}
