@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

// Module level variables, for use only in this file
@fixedpopuppanels-max-height: calc(100vh - @lime-fixedpopuppanels-margin);

.fixedPopupPanels {
	// Overrides for Panels - the & just refers to this element. Using a block here to visually compartmentalize the overrides apart from the general styles.
	& {
		position: relative;
		.position(auto);
		max-height: 100%;

		.viewport {
			position: static;
			.position(auto);
			pointer-events: auto;
		}
	}

	&.fullHeight {
		.viewport {
			height: 100%;
		}
	}

	&.narrow {
		width: @lime-fixedpopuppanels-width;
	}

	&.half {
		width: @lime-fixedpopuppanels-half-width;
	}

	> .body {
		pointer-events: inherit;
		padding: 0;

		.enact-locale-rtl({
			padding: 0;
		});
	}

	// Overrides for Popup
	&.popup {
		&.right {
			margin: @lime-fixedpopuppanels-margin @lime-fixedpopuppanels-margin 0 0;
		}

		&.left {
			margin: @lime-fixedpopuppanels-margin 0 0 @lime-fixedpopuppanels-margin;
		}
	}

	// Skin colors
	.applySkins({
		background-color: transparent;

		// Overrides for Viewport
		.viewport {
			border-radius: @lime-fixedpopuppanels-border-radius;
			box-shadow: @lime-fixedpopuppanels-shadow;
			outline-color: @lime-fixedpopuppanels-outline-color;
			outline-style: @lime-fixedpopuppanels-outline-style;
			outline-width: @lime-overlay-outline-width;
			outline-offset: -@lime-overlay-outline-width;

			:global(.noAnimation) & {
				box-shadow: none;
			}
		}

		&.scrimTranslucent {
			.viewport {
				background-color: @lime-fixedpopuppanels-bg-color;
			}
		}

		&.scrimNone,
		&.scrimTransparent {
			.viewport {
				background-color: @lime-fixedpopuppanels-scrimtransparent-bg-color;
			}
		}
	});
}

// Overrides for Panel
.panel {
	max-height: @fixedpopuppanels-max-height;

	.header {
		padding: @lime-fixedpopuppanels-panel-title-padding;
	}

	> .body {
		display: flex;
		flex-direction: column;
		padding: @lime-fixedpopuppanels-panel-body-padding;
		flex: 1 1 auto;
	}
}
