@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

// Module level variables, for use only in this file
@fixedpopuppanels-margin-top: .extract(@lime-fixedpopuppanels-margin, top)[];
@fixedpopuppanels-margin-bottom: .extract(@lime-fixedpopuppanels-margin, bottom)[];
@fixedpopuppanels-max-height: ~"calc(100vh - (@{fixedpopuppanels-margin-top} + @{fixedpopuppanels-margin-bottom}))";

.fixedPopupPanels {
	// Overrides for Panels - the & just refers to this element. Using a block here to visually compartmentalize the overrides apart from the general styles.
	& {
		position: relative;
		.position(auto);
		max-height: 100%;

		.viewport {
			position: static;
			.position(auto);
			pointer-events: auto;
		}
	}

	&.fullHeight {
		.viewport {
			height: 100%;
		}
	}

	&.narrow {
		width: @lime-fixedpopuppanels-width;
	}

	&.half {
		width: @lime-fixedpopuppanels-half-width;
	}

	> .body {
		pointer-events: inherit;
		padding: 0;

		.enact-locale-rtl({
			padding: 0;
		});
	}

	// Overrides for Popup
	&.popup {
		margin: @lime-fixedpopuppanels-margin;
		max-height: @fixedpopuppanels-max-height;

		&.left {
			margin-left: .extract(@lime-fixedpopuppanels-margin, right)[];
			margin-right: .extract(@lime-fixedpopuppanels-margin, left)[];
		}
	}

	// Skin colors
	.applySkins({
		background-color: transparent;

		// Overrides for Viewport
		.viewport {
			background:
				@lime-fixedpopuppanels-overlay-bg-gradient padding-box,
				linear-gradient(@lime-fixedpopuppanels-overlay-bg-fill, @lime-fixedpopuppanels-overlay-bg-fill) padding-box,
				@lime-fixedpopuppanels-overlay-stroke-gradient border-box;
			border: @lime-fixedpopuppanels-overlay-stroke-width solid transparent;
			border-radius: @lime-fixedpopuppanels-border-radius;
			box-shadow: @lime-overlay-shadow;
			opacity: 1;

			:global(.noAnimation) & {
				box-shadow: none;
			}

			:has(:global(.highContrast)) & {
				outline-color: @lime-overlay-outline-color;
				outline-width: @lime-overlay-outline-width;
				outline-style: @lime-overlay-outline-style;
				outline-offset: -@lime-overlay-outline-width;
			}
		}
	});
}

// Overrides for Panel
.panel {
	max-height: @fixedpopuppanels-max-height;

	> .body {
		display: flex;
		flex-direction: column;
		padding: @lime-fixedpopuppanels-panel-body-padding;
		flex: 1 1 auto;
	}
}
