// Picker.module.less
//

@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.title {
	.margin-start-end(@lime-picker-title-margin-left, .extract(@lime-heading-margin, right)[]);

	&.inlineTitle {
		display: inline-block;
		max-width: @lime-picker-title-max-width;
		line-height: @lime-picker-value-height;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.heading {
	.applySkins({
		&.tiny {
			color: @lime-picker-label-color;
		}
	})
}
