// PopupTabLayout.module.less
//

.container {
    width: 100%;
    height: 100%;
    background-color: ~"color(from" var(--semantic-color-surface-default-group) ~"srgb r g b / 0.1)";
    border-radius: var(--semantic-radius-container);
    padding-top: 36px;
}

.scroller {
    .container();
    
    & > :first-child {
        background-color: transparent;
    }
}
