// Slider.module.less
@import "~@enact/limestone/styles/variables.less";

.vertical {
	box-sizing: border-box;
	height: 100%;
	padding-top: ~"calc("@lime-slider-tick-label-line-height ~"+" @lime-slider-side-label-gap ~")";
	padding-bottom: ~"calc("@lime-slider-tick-label-line-height ~"+" @lime-slider-side-label-gap ~")";
}

