// Slider.module.less
@import "~@enact/limestone/styles/variables.less";

.horizontal {
	box-sizing: border-box;
	padding-left: ~"calc("@lime-slider-side-label-width ~"+" @lime-slider-side-label-gap ~")";
	padding-right: ~"calc("@lime-slider-side-label-width ~"+" @lime-slider-side-label-gap ~")";
	width: 100%;
}

.vertical {
	box-sizing: border-box;
	height: 100%;
	padding-top: ~"calc("@lime-slider-tick-label-line-height ~"+" @lime-slider-side-label-gap ~")";
	padding-bottom: ~"calc("@lime-slider-tick-label-line-height ~"+" @lime-slider-side-label-gap ~")";
}
