@import '~@enact/limestone/styles/mixins.less';
@import '~@enact/limestone/styles/skin.less';
@import '~@enact/limestone/styles/variables.less';

.tooltip {
	font-size: 1000px;

	.tooltipLabel {
		font-size: 1000px;
		background-color: red;
		color: blue;
	}


}
.applySkins({
	.tooltip {
		.tooltipLabel {
			background-color: red;
			color: blue;
		}
	}
});