// TimePicker.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

.timePicker {
	.timeSeparator {
		vertical-align: inherit;
		display: inline-block;
		margin: @lime-timepicker-colon-margin;
		font-weight: @lime-picker-font-weight;
	}

	.pickers {
		display: flex;
		align-items: center;

		.enact-locale-rtl({
			// RTL uses a special order:
			// Reading from right to left, the sequence is "minute : hour meridiem"
			.hourPicker {
				order: 3;
				margin-inline-start: .extract(@lime-datecomponentpicker-margin, left)[];
			}

			.timeSeparator {
				order: 2;
			}

			.minutePicker {
				order: 1;
				margin-inline-start: 0;
			}

			.meridiemPicker {
				order: 4;
			}
		});
	}

	.lime-custom-text({
		.timeSeparator {
			font-size: @lime-timepicker-colon-fontsize-large;
		}
	});

	.applySkins({
		.timeSeparator {
			.lime-disabled({
				.lime-disabled-colors();
			});
		}
	});
}
