// RadioItem.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

// Local mixin to make rule application more consistent.
.radioIconColors (@color, @bg, @border) {
	color: @color;
	background-color: @bg;
	box-shadow: 0 0 0 @lime-radioitem-icon-border-width @border;
}

.radioItem {
	.slotBefore {
		> * {
			// Override Item's slotBefore margin
			&:first-child {
				margin-inline-start: @lime-radioitem-icon-margin;
			}
			&:last-child {
				margin-inline-end: @lime-radioitem-icon-margin;
			}
		}
	}

	.icon {
		border-radius: @lime-radioitem-icon-border-radius;
		font-size: @lime-radioitem-icon-font-size;
	}

	.applySkins({
		.icon {
			.radioIconColors(
				@lime-radioitem-icon-color,
				@lime-radioitem-container-color,
				@lime-radioitem-border-color
			);
		}

		&.selected {
			.icon {
				.radioIconColors(
					@lime-radioitem-icon-selected-color,
					@lime-radioitem-container-selected-color,
					@lime-radioitem-border-selected-color
				);
			}

			.bg {
				background-color: @lime-radioitem-item-selected-container-color;
			}
		}

		.focus({
			.icon {
				.radioIconColors(
					@lime-radioitem-icon-focused-color,
					@lime-radioitem-container-focused-color,
					@lime-radioitem-border-focused-color
				);
			}

			&.selected {
				.icon {
					.radioIconColors(
						@lime-radioitem-icon-selected-focused-color,
						@lime-radioitem-container-selected-focused-color,
						@lime-radioitem-border-selected-focused-color
					);
				}
			}
		});
	});
}
