// RadioItem.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

// Local mixin to make rule application more consistent.
.radioIconColors (@color, @bg, @border) {
	color: @color;
	background-color: @bg;
	box-shadow: 0 0 0 @lime-radioitem-icon-border-width @border;
}

.radioItem {
	.applySkins({
		.icon {
			.radioIconColors(
				@lime-radioitem-icon,
				@lime-radioitem-icon-bg,
				@lime-radioitem-icon-border
			);
			border-radius: @lime-radioitem-icon-border-radius;
			font-size: @lime-radioitem-icon-font-size;
			margin: @lime-radioitem-icon-margin;
		}

		&.selected {
			.icon {
				.radioIconColors(
					@lime-radioitem-icon-selected,
					@lime-radioitem-icon-bg-active,
					@lime-radioitem-icon-border-selected
				);
			}
		}

		.focus({
			.icon {
				.radioIconColors(
					@lime-radioitem-icon-focused,
					@lime-radioitem-icon-bg-focused,
					@lime-radioitem-icon-border-focused
				);
			}

			&.selected {
				.icon {
					.radioIconColors(
						@lime-radioitem-icon-selected-focused,
						@lime-radioitem-icon-bg-active-focused,
						@lime-radioitem-icon-border-selected-focused
					);
				}
			}
		});
	});
}
