// Chip.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";

.chip {
	position: relative;
	display: inline-block;

	.button.small {
		margin: @lime-chip-margin;
		min-width: @lime-chip-min-width;
	}

	.multiline {
		display: -webkit-box;
		overflow: hidden;
		text-align: left;
		white-space: normal;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
	}

	.multilineButton {
		.bg {
			border-radius: @lime-chip-border-radius;
		}

		&:has(.multiline) {
			height: auto;
			max-width: @lime-chip-multiline-max-width;

			.icon {
				margin-block: 0;
			}
		}

		&:has(.icon) {
			.padding-start-end(@lime-chip-padding-icon-left, @lime-button-small-h-padding);
		}
	}

	.deleteButtonContainer {
		position: absolute;
		display: none;

		&.right {
			top: 50%;
			right: 0;
			transform: translateY(-50%) translateX(~"calc(100% + " @lime-chip-button-spacing ~")");
		}

		&.bottom {
			bottom: ~"calc("@lime-chip-button-spacing ~"* -1)";
			left: 50%;
			transform: translate(-50%, 100%);
		}

		&.top {
			top: ~"calc(" @lime-chip-button-spacing ~" * -1)";
			left: 50%;
			transform: translate(-50%, -100%);
		}
	}

	:global(.largeText) & {
		.button.small {
			min-width: @lime-chip-min-width;
		}
	}

	.focused {
		display: block;
	}
}
