// Chips.module.less
//
.chips {
    display: block;

    &.vertical {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &.horizontal {
        display: flex;
    }
}
