// Scroller.module.less
//
@import "../styles/colors.less";
@import "../styles/mixins.less";
@import "../styles/variables.less";

.focusableBody {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: inherit;

	&::before {
		content: '';
		position: absolute;
		.position(0);
		border-radius: @lime-scroll-focusablebody-focus-border-radius;
		opacity: 0;
	}

	&.hasVerticalScrollbar::before {
		right: var(--scroll-scrollbar-size);
	}

	&.hasHorizontalScrollbar::before {
		bottom: var(--scroll-scrollbar-size);
	}

	.enact-locale-rtl({
		&.hasVerticalScrollbar::before {
			right: 0;
			left: var(--scroll-scrollbar-size);
		}
	});

	.focus({
		:global(.spotlight-input-key)& {
			&::before {
				background-color: @lime-scroll-focusablebody-focus-bg-color;
				opacity: 1;
			}
		}
	})
}

.verticalFadeout {
	padding: @lime-scroll-vertical-fade-out-padding;
	mask-image: linear-gradient(transparent, #000 @lime-scroll-fade-out-size, #000 calc(100% - @lime-scroll-fade-out-size), transparent 100%);

	.focusableBody & {
		.padding-start-end(@lime-scroll-focusablebody-padding);
		mask-image: linear-gradient(transparent @lime-scroll-fade-out-offset, #000 calc(@lime-scroll-fade-out-offset + @lime-scroll-fade-out-size), #000 calc(100% - @lime-scroll-fade-out-size - @lime-scroll-fade-out-offset), transparent calc(100% - @lime-scroll-fade-out-offset));
	}
}

.horizontalFadeout {
	padding: @lime-scroll-horizontal-fade-out-padding;
	mask-image: linear-gradient(to right, transparent, #000 @lime-scroll-fade-out-size, #000 calc(100% - @lime-scroll-fade-out-size), transparent 100%);
}
