// Popup.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

// Module level variables, for use only in this file
@popupTabLayout-max-height: ~"calc(100vh -" (.extract(@lime-popuptablayout-margin, top)[] + .extract(@lime-popuptablayout-margin, bottom)[])~")";

.popupTabLayout {
	// Override Popup (more precedence)
	&.popup, &.optimized {
		margin: @lime-popuptablayout-margin;
		max-height: @popupTabLayout-max-height;
	}
	// Override TabLayout (more precedence)
	.tabLayout {
		.tabs {
			bottom: auto; // Override the bottom:0 set by TabLayout which allows the use of an un-sized scroller, but is uncooperative with this layout (a shrinking container)
		}

		&.collapsed { /* Override TabLayout */ }

		.tabGroup {
			.tab {
				&.vertical {
					&.button {
						&.selected {
							.bg {
								/* Override TabLayout */
							}
						}

						.focus({
							.bg {
								/* Override TabLayout */
							}
						});
					}

					&.collapsed {
						&.button {
							&.selected {
								.bg {
									/* Override TabLayout */
								}
							}
						}
					}
				}
			}
		}
	}

	.tabs {
		margin-right: @lime-popuptablayout-tabs-content-spacing;
	}

	.tabsExpanded {
		/* Override TabLayout */
	}

	.content {
		margin-top: @lime-popuptablayout-content-margin; // Overrides a TabLayout style
		height: 100%;
	}

	.panels::before {
		content: "";
		position: absolute;
		.position(0);
	}

	// Skin colors
	.applySkins({
		background-color: transparent;

		.tabs {
			border-radius: @lime-popuptablayout-tabs-border-radius;
		}

		.content .panels::before {
			border-radius: @lime-popuptablayout-content-border-radius;
		}

		.tabs,
		.content .panels::before {
			background-color: @lime-popuptablayout-content-background-color;
			box-shadow: @lime-overlay-shadow;
			outline-color: @lime-overlay-outline-color;
			outline-width: @lime-overlay-outline-width;
			outline-style: @lime-overlay-outline-style;
			outline-offset: -@lime-overlay-outline-width;
		}

		.tabGroup {
			background-color: @lime-popuptablayout-content-background-color;
			
			.tab {
				.icon {
					--icon-size: @lime-popuptablayout-tab-icon-size;
				}
			}
		}

		:global(.noAnimation) & {
			.tabs,
			.content .panels::before {
				box-shadow: none;
			}
		}
	});
}

// Overrides for Popup
.popupTransitionContainer {
	width: 100%;
}

.popup {
	> .body {
		position: relative;
		padding: 0;
		// Overrides padding for Popup in RTL
		.enact-locale-rtl({
			padding: 0;
		});
	}
}

// Overrides for Panels
.panels {
	position: relative;
	.position(auto);
	max-height: 100%;

	> .viewport {
		position: static;
		.position(auto);
	}
}

// Overrides for Panel
.panel {
	padding: 0;
	max-height: @popupTabLayout-max-height;
	min-height: @lime-popuptablayout-panel-min-height;

	> .body {
		display: flex;
		flex-direction: column;
		flex: 0 1 auto;  // Allow this node to vertically shrink to fit the content but not extend larger than the container.
		padding: @lime-popuptablayout-panel-body-padding;
	}
}

// Supporting concave click area
.popup > .body, .optimized {
	pointer-events: none;

	.tabs,
	.content > .panels {
		pointer-events: auto;
	}
}
