// MediaOverlay.module.less
//
@import "../styles/mixins.less";
@import "../styles/motion-mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.mediaOverlay {
	display: block;
	position: relative;
	width: @lime-mediaoverlay-width;
	height: auto;
	padding: @lime-mediaoverlay-padding;
	font-weight: @lime-mediaoverlay-font-weight;

	.bg {
		position: absolute;
		.position(0);
		border-radius: @lime-mediaoverlay-border-radius;
	}

	.mediaContainer {
		position: relative;
		.lime-focus-out-motion();
	}

	.focus({
		.mediaContainer {
			.lime-focus-in-motion();
		}
	});

	&:not([disabled]) {
		.focus({
			.mediaContainer {
				&:active {
					.lime-press-motion();
				}
				&:not(:active) {
					.lime-release-motion();
				}
			}
		});
	}

	.media {
		display: block;
		position: relative; // it is for z-index;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.image,
	.textLayout {
		position: absolute;
		.position(0);
	}

	.textLayout {
		margin: @lime-mediaoverlay-textlayout-margin;
	}

	.image {
		margin: 0;
		height: auto;
		width: auto;
	}

	.text {
		.lime-font({
			font-size: @lime-mediaoverlay-text-font-size;
			line-height: @lime-mediaoverlay-line-height;
		});
		font-size: @lime-mediaoverlay-text-font-size;
		line-height: @lime-mediaoverlay-line-height;
		margin-bottom: @lime-mediaoverlay-text-margin-bottom;
	}

	.progressBar {
		position: absolute;
		.position(auto, 0, 0);
		margin: @lime-mediaoverlay-progressbar-margin;
	}

	.captionContainer {
		> :first-child {
			margin-top: @lime-mediaoverlay-caption-margin-top;
		}

		> :last-child {
			margin-bottom: @lime-mediaoverlay-caption-margin-bottom;
		}
    }

	.caption,
	.title {
		.lime-font({
			font-size: @lime-mediaoverlay-caption-font-size;
			line-height: @lime-mediaoverlay-caption-line-height;
		});
		font-size: @lime-mediaoverlay-caption-font-size;
		font-weight: @lime-mediaoverlay-caption-font-weight;
		line-height: @lime-mediaoverlay-caption-line-height;
	}

	.subtitle {
		.lime-font({
			font-size: @lime-mediaoverlay-subtitle-font-size;
			line-height: @lime-mediaoverlay-line-height;
		});
		font-size: @lime-mediaoverlay-subtitle-font-size;
		line-height: @lime-mediaoverlay-line-height;
	}

	.applySkins({
		.bg {
			.lime-spotlight-resting-bg-colors();
		}

		.caption,
		.title {
			color: @lime-mediaoverlay-outer-label-main-color;
		}

		.text {
			color: @lime-mediaoverlay-inner-label-main-color;
		}

		.subtitle {
			color: @lime-mediaoverlay-outer-label-sub-color;
		}

		.focus({
			.media {
				outline: @lime-mediaoverlay-focus-media-outline-width solid @lime-mediaoverlay-inner-border-focused;
			}
		});

		:global(.noAnimation) & {
			.focus({
				.bg {
					box-shadow: none;
				}
			});
		}
	});
}
