// DayPicker.module.less
//
@import "../styles/variables.less";
@import "../styles/skin.less";

.dayPicker {
	.checkboxItem {
		margin-top: 0;
		margin-bottom: 0;

		.applySkins({
			&.selected {
				.bg {
					background-color: inherit;
				}
			}
		});
	}
}
