// DayPicker.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.dayPicker {
	width: @lime-daypicker-width;

	.checkboxItem {
		margin: 0;
	}

	.divider {
		margin: @lime-item-divider-margin;
	};

	.applySkins({
		.checkboxItem {
			&.selected {
				.bg {
					background-color: inherit;
				}
			}
		}

		.divider {
			border-bottom: @lime-item-divider-border-width @lime-item-divider-border-style @lime-item-divider-border;
		};
	});
};
