// Item.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

.item {
	&.selected {
		/* Available for customization */
	}

	font-size: @lime-item-font-size;
	padding: @lime-item-padding;
	font-weight: @lime-item-font-weight;
	.enact-locale-line-height(@lime-item-line-height, @lime-tallglyph-item-line-height);
	height: @lime-item-height;
	display: flex;
	position: relative;
	color: inherit;
	margin: @lime-item-margin;

	.bg {
		position: absolute;
		.position(0);
		border-radius: @lime-item-border-radius;
	}

	.slotAfter,
	.slotBefore {
		line-height: 0;  // Attempt to get the children of this to always vertically-align their middles with the text

		> * {
			// vertically align all direct children
			vertical-align: middle;

			// Remove the specific edge margin on direct children so the slot can define the proper
			// spacing for itself.
			&:first-child {
				margin-inline-start: 0;
			}
			&:last-child {
				margin-inline-end: 0;
			}
		}
	}

	.slotAfter {
		margin-inline-start: @lime-item-slotafter-spacing;
	}

	.slotBefore {
		margin-inline-end: @lime-item-slotbefore-spacing;
	}

	&.hasLabel {
		height: @lime-item-withlabel-height;
		padding: @lime-item-withlabel-padding;

		.itemContent {
			&.labelAfter,
			&.labelBelow {
				.content { order: 1; }
				.label   { order: 2; }
			}

			&.labelAbove,
			&.labelBefore {
				.content { order: 2; }
				.label   { order: 1; }
			}
		}
	}

	&.inline {
		display: inline-flex;
		max-width: @lime-item-inline-max-width;

		// Apply to the marquee content area to tell it to expand to the available width of the container
		.content,
		.itemContent {
			flex-shrink: 1;
			overflow: auto;
		}
	}

	&.centered {
		.itemContent {
			max-width: fit-content;
		}
	}

	// Text
	.label {
		font-size: @lime-item-label-font-size;
		font-weight: @lime-item-label-font-weight;
		.enact-locale-line-height(@lime-item-label-line-height, @lime-tallglyph-item-label-line-height);
	}

	.lime-custom-text({
		font-size: @lime-item-font-size-large;
		.enact-locale-line-height(@lime-item-line-height-large, @lime-tallglyph-item-line-height-large);

		.label {
			font-size: @lime-item-label-font-size-large;
		}
	});

	&.large { /* Needed to prevent global class being added in the DOM */ }

	&.small {
		font-size: @lime-item-small-font-size;
		font-weight: @lime-item-small-font-weight;
		height: @lime-item-small-height;
		.enact-locale-line-height(@lime-item-small-line-height, @lime-tallglyph-item-small-line-height);

		&.hasLabel {
			height: @lime-item-small-withlabel-height;
		}

		.label {
			font-size: @lime-item-small-label-font-size;
			font-weight: @lime-item-small-label-font-weight;
			line-height: @lime-item-small-label-line-height;
		}

		.enact-locale-tallglyph({
			font-size: @lime-item-small-font-size;
		});

		.lime-custom-text({
			font-size: @lime-item-small-font-size-large;
			.enact-locale-line-height(@lime-item-small-line-height-large, @lime-tallglyph-item-small-line-height-large);
		});
	}

	.locale-japanese-line-break();

	// Skin colors
	.applySkins({
		.bg {
			.lime-spotlight-resting-bg-colors();
		}

		.label {
			color: @lime-item-label-sub-color;
		}

		&.selected {
			color: @lime-item-label-main-selected-color;

			.bg {
				opacity: 1;
				background-color: @lime-item-container-selected-color;
			}

			.label {
				color: @lime-item-label-sub-selected-color;
			}
		}

		.focus({
			.lime-spotlight-focus-text-colors();

			.bg {
				.lime-spotlight-focus-bg-colors();
			}

			.label {
				color: @lime-item-label-sub-focused-color;
			}
		});

		:global(.noAnimation) & {
			.focus({
				.bg {
					box-shadow: none;
				}
			})
		}

		.lime-disabled({
			.slotBefore,
			.itemContent,
			.slotAfter {
				.lime-disabled-colors();
			}

			.focus({
				.bg {
					background-color: @lime-item-container-disabled-focused-color;
				}

				.slotBefore,
				.itemContent,
				.slotAfter {
					.lime-disabled-focus-content-colors();
				}
			});
		});
	});
}
