// Button.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.button {
	// default is size="large"
	.lime-large-button-text();
	height: @lime-button-height;
	line-height: (@lime-button-height - (2 * @lime-button-border-width));
	min-width: @lime-button-min-width;
	max-width: @lime-button-max-width;
	padding: 0 @lime-button-h-padding;
	margin: @lime-button-margin;
	text-align: center;
	vertical-align: middle;
	--button-height: $height;

	.lime-custom-text({
		font-size: @lime-button-font-size-large;
		height: @lime-button-height-large;
		min-width: @lime-button-height-large;
		line-height: (@lime-button-height-large - (2 * @lime-button-border-width));
		--button-height: $height;
	});

	&.focusStatic {
		/* Defined to prevent global export */
	}

	&.focusExpand {
		margin: @lime-button-margin;
	}

	&.centered {
		.marquee {
			flex-grow: 0;
		}
	}

	.client {
		padding: @lime-button-border-width 0;	// We account for the button border-width here, since that is applied to .bg, not .client. Having these match means the text doesn't overlap the border
		border-radius: inherit;
	}

	.icon {
		flex-shrink: 0;
		.margin-start-end(@lime-button-icon-margin-start, @lime-button-icon-margin-end);
	}

	// Button with icon and text
	&.iconAfter {
		.client {
			flex-direction: row-reverse;
		}

		.icon {
			.margin-start-end(@lime-button-icon-position-after-margin-start, @lime-button-icon-position-after-margin-end);
		}
	}

	&.red,
	&.green,
	&.yellow,
	&.blue {
		.padding-start-end(@lime-button-colordot-padding-start, @lime-button-h-padding);

		// IconButton-like Button scenario
		.client::before {
			// Colored under-bar
			content: "";
			position: absolute;
			bottom: @lime-button-colordot-bottom;
			left: 50%;
			width: @lime-button-colordot-width;
			height: @lime-button-colordot-height;
			border-radius: @lime-button-colordot-border-radius;
			transform: translate(-50%, 50%);
		}

		// Standard Button Scenario
		&.minWidth {
			// Update icon's margin to allow more room for the colordot
			.icon {
				margin-inline-start: 0;
			}

			.client {
				margin-inline-start: @lime-button-colordot-width;
				padding-inline-start: @lime-button-colordot-h-margin; // The gap between the color-dot and the content matches the space between the regular icon and the text

				&::before {
					// Colored side-bar
					bottom: 50%;
					transform: translateY(50%);
					.position-start-end(-@lime-button-colordot-width, initial);
				}
			}
		}
	}

	//**
	//* The marquee container of the client area. Added by {@link limestone/MarqueeDecorator}.
	//* @public
	//*/
	.marquee {
		flex-grow: 1;
	}

	// Center the text if there is also icon, but no color.
	&.centered:not(.hasColor) {
		.marquee {
			flex-grow: 0;
		}
	}

	// Only center the text if there is no icon and no color. We'll explicitly override Marquee's
	// alignment for this case, relying on the parent node's alignment preference (inherit).
	// Otherwise, the default is to just leave alignment to Marquee to handle.
	&:not(.hasIcon):not(.hasColor) {
		.marquee {
			text-align: inherit;
		}
	}

	&.minWidth {
		min-width: @lime-button-min-width-default;
	}

	&.small {
		.lime-small-button-text();
		height: @lime-button-small-height;
		min-width: @lime-button-small-min-width;
		max-width: @lime-button-small-max-width;
		line-height: (@lime-button-small-height - (2 * @lime-button-border-width));
		margin: @lime-button-small-margin;
		padding-left: @lime-button-small-h-padding;
		padding-right: @lime-button-small-h-padding;
		--button-height: $height;

		&.focusExpand {
			margin: @lime-button-small-margin;
		}

		// Standard Button Scenario
		&.minWidth {
			min-width: @lime-button-small-min-width-default;
		}

		.icon {
			.margin-start-end(@lime-button-icon-small-margin-start, @lime-button-icon-small-margin-end);
		}

		&.iconAfter {
			.icon {
				.margin-start-end(@lime-button-icon-position-after-small-margin-start, @lime-button-icon-position-after-small-margin-end);
			}
		}

		&.red,
		&.green,
		&.yellow,
		&.blue {
			.padding-start-end(@lime-button-small-colordot-padding-start, @lime-button-small-h-padding);

			// IconButton-like Button scenario
			.client::before {
				bottom: @lime-button-small-colordot-bottom;
				width: @lime-button-small-colordot-width;
				height: @lime-button-small-colordot-height;
			}

			// Standard Button Scenario
			&.minWidth {
				.client {
					margin-inline-start: @lime-button-small-colordot-width;

					&::before {
						bottom: 50%;
						.position-start-end(-@lime-button-small-colordot-width, initial);
					}
				}

				.icon {
					margin-inline-start: 0;
				}

				&.iconAfter {
					.icon {
						// Override the above rule
						margin-inline-start: @lime-button-icon-position-after-small-margin-start;
					}
				}
			}
		}

		.lime-custom-text({
			font-size: @lime-button-small-font-size-large;
			height: @lime-button-small-height-large;
			min-width: @lime-button-small-height-large;
			line-height: (@lime-button-small-height-large - (2 * @lime-button-border-width));
			--button-height: $height;

			&.minWidth {
				min-width: @lime-button-small-min-width-default;
			}
		});
	}

	// IconButton rules
	&.iconOnly {
		min-width: @lime-button-height;

		.client {
			padding: 0;

			.marquee {
				display: none;
			}
		}

		&.iconAfter,
		&.iconBefore,
		&.large,
		&.small {
			min-width: @lime-button-small-height;
			padding: @lime-button-icon-small-padding;
			.padding-start-end(.extract(@lime-button-icon-small-padding, left)[], .extract(@lime-button-icon-small-padding, right)[]);

			.icon {
				margin: 0; // reset margins for `IconButton`

				.lime-custom-text({
					width: 100%;
				})
			}

			&.red,
			&.green,
			&.yellow,
			&.blue {
				.client::before {
					width: @lime-button-icon-only-colordot-width;
					height: @lime-button-icon-only-colordot-height;
				}
			}
		}

		&.large {
			padding: @lime-button-icon-padding; // adjust the padding to center the icon because of the existence of `Marquee` as a sibling even if there are no children in `Marquee`
		}

		&.red,
		&.green,
		&.yellow,
		&.blue {
			.client::before {
				width: @lime-button-icon-only-colordot-width;
				height: @lime-button-icon-only-colordot-height;
			}
		}
	}

	// Collapsable only has an effect if there is both an icon and text.
	&.collapsable.hasIcon:not(.iconOnly) {
		padding-left: 0;
		padding-right: 0;
		transition: min-width @lime-button-collapse-duration ease-out;

		.icon {
			margin: @lime-button-collapsable-icon-margin;
		}

		.marquee {
			margin: 0;
			opacity: 1;
			transition: opacity @lime-button-collapse-duration ease-out;
			will-change: opacity;
		}

		&.collapsed {
			.marquee {
				opacity: 0;
			}
		}
	}

	// Skin colors
	.applySkins({
		& {
			border-radius: @lime-button-border-radius;
			.lime-taparea(@lime-button-height);
		}

		&,
		:global(.enact-a11y-high-contrast) & {
			color: @lime-button-fill-label-color;
		}

		.bg {
			.lime-button-resting-bg-colors();
			border-width: @lime-button-bg-border-width;
			border-style: @lime-button-bg-border-style;
			border-color: @lime-button-outline-border-color;
			border-radius: @lime-button-border-radius;
		}

		&.bordered {
			.bg {
				background-color: @lime-button-outline-container-color;
				border: @lime-button-border-width solid @lime-button-outline-border-color;
			}
		}

		&.opaque {
			color: @lime-button-fill-label-color;

			.bg {
				opacity: @lime-button-bg-opacity;
			}
		}

		&.transparent {
			color: @lime-button-transparent-fill-text-color;

			.bg {
				opacity: @lime-button-transparent-bg-opacity;
			}

			&.shadowed .client {
				text-shadow: @lime-button-text-shadow;
			}
		}

		&.red .client::before {
			background-color: @lime-colorkey-icon-red;
		}

		&.green .client::before {
			background-color: @lime-colorkey-icon-green;
		}

		&.yellow .client::before {
			background-color: @lime-colorkey-icon-yellow;
		}

		&.blue .client::before {
			background-color: @lime-colorkey-icon-blue;
		}

		&.small {
			.lime-taparea(@lime-button-small-height);
		}

		&.iconOnly {
			.bg {
				border: @lime-button-icononly-bg-border;
				border-radius: @lime-button-icononly-border-radius;
			}
		}

		&.roundBorder {
			.bg {
				border-radius: calc(var(--button-height) / 2);
			}
		}

		&.selected {
			color: @lime-button-fill-label-selected-color;

			.bg {
				.lime-button-selected-colors();
			}

			&.bordered {
				.bg {
					border: @lime-button-border-width solid @lime-button-outline-border-selected-color;
				}
			}

			&.opaque {
				.bg {
					opacity: @lime-button-bg-opacity;
				}
			}

			&.transparent {
				.bg {
					opacity: @lime-button-transparent-selected-bg-opacity;
				}
			}
		}

		.focus({
			.lime-spotlight-focus-text-colors();

			.bg {
				.lime-button-focus-bg-colors();
			}

			.client {
				text-shadow: none;
			}

			&.iconOnly {
				.bg {
					background-color: @lime-button-icononly-bg-focused-color;
				}
			}

			&.focusExpand {
				.bg {
					.lime-bg-colors({
						transform: @lime-button-focusexpand-focus-bg-transform;
					});
				}

				&.small .bg {
					.lime-bg-colors({
						transform: @lime-button-small-focusexpand-focus-bg-transform;
					});
				}
			}
		});

		// Button-non-disabled rules
		&:not([disabled]) {
			.focus({
				z-index: 1;

				&.focusExpand {
					&.pressed,
					&:active {
						.bg {
							.lime-bg-colors({
								transform: @lime-button-focusexpand-pressed-bg-transform;
							});
						}

						&.small {
							.bg {
								.lime-bg-colors({
									transform: @lime-button-small-focusexpand-pressed-bg-transform;
								});
							}
						}
					}
				}
			});
		}

		:global(.noAnimation) & {
			.focus({
				.bg {
					.lime-button-focus-bg-colors(@shadow: {
						box-shadow: none;
					});
				}

				&.focusExpand {
					.bg {
						.lime-bg-colors({
							transform: none;
						});
					}

					&.small .bg {
						.lime-bg-colors({
							transform: none;
						});
					}

					&.pressed,
					&:active {
						.bg {
							.lime-bg-colors({
								transform: none;
							});
						}

						&.small {
							.bg {
								.lime-bg-colors({
									transform: none;
								});
							}
						}
					}
				}
			});
		}

		.lime-disabled({
			.client {
				.lime-disabled-colors();
			}

			&.opaque {
				.bg {
					.lime-disabled-bg-colors();
				}
			}

			.focus({
				.bg {
					.lime-disabled-focus-bg-colors();
				}

				.client {
					.lime-disabled-focus-content-colors();
				}
			})
		})
	});
}
