@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.applySkins({
	.contextualPopup .container {
		max-width: @lime-tooltip-max-width;
		min-height: fit-content;
		overflow: hidden;
		padding: @lime-tooltip-padding;
		border-radius: var(--semantic-radius-button);

		&.above {
			&.small { margin-top: ~"calc(@{lime-contextualpopup-offset-small} * -2.5)"; }
			&.large { margin-top: ~"calc(@{lime-contextualpopup-offset-large} * -2.5)"; }
		}
		&.below {
			&.small { margin-top: calc(@lime-contextualpopup-offset-small * 2.5); }
			&.large { margin-top: calc(@lime-contextualpopup-offset-large * 2.5); }
		}
		&.right {
			&.top,
			&.middle,
			&.bottom {
				&.small { margin-left: calc(@lime-contextualpopup-offset-small * 2.5); }
				&.large { margin-left: calc(@lime-contextualpopup-offset-large * 2.5); }
			}
		}
		&.left  {
			&.top,
			&.middle,
			&.bottom {
				&.small { margin-left: ~"calc(@{lime-contextualpopup-offset-small} * -2.5)"; }
				&.large { margin-left: ~"calc(@{lime-contextualpopup-offset-large} * -2.5)"; }
			}
		}
	}
});

.bodyText {
	margin: 0;
}

.popupComponent {
	text-align: center;

	.image {
		margin: 0;
	}
}