// BodyText.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";

.bodyText {
	.lime-body-text();
	margin: @lime-bodytext-margin;
	padding: @lime-bodytext-padding;
	white-space: normal;

	:global(.enact-orientation-portrait) & {
		// TODO: Remove before merge
		color: red !important;
	}

	&.large { /* Needed to prevent global class being added in the DOM */ }

	&.small {
		.lime-body-text-small();

		.enact-locale-tallglyph({
			font-size: @lime-tallglyph-body-small-font-size;
		});

		.lime-locale-non-latin({
			font-size: @lime-non-latin-body-small-font-size;
			line-height: @lime-non-latin-body-line-height;
		});
	}

	.enact-locale-rtl({
		text-align: right;

		&.centered {
			text-align: center;
		}
	});

	&.noWrap {
		/* Support for single-line, provided for extensibility */
		white-space: nowrap;
	}

	.locale-japanese-line-break();

	.lime-custom-text({
		font-size: @lime-body-font-size-large;

		&.small {
			font-size: @lime-body-small-font-size-large;

			.enact-locale-tallglyph({
				font-size: @lime-tallglyph-body-small-font-size-large;
			});

			.lime-locale-non-latin({
				font-size: @lime-non-latin-body-small-font-size-large;
			});
		}
	});
}
