// IconItem.module.less
//
@import '../styles/mixins.less';
@import "../styles/motion-mixins.less";
@import '../styles/variables.less';
@import '../styles/skin.less';

.iconItem {
	position: relative;
	.lime-focus-out-motion();
	will-change: transform;
	height: @lime-iconitem-height;
	width: @lime-iconitem-width;

	.content {
		box-sizing: border-box;
		background-size: contain;
		border-radius: @lime-iconitem-border-radius;
		justify-content: center;
	}

	&.bordered .content {
		border-width: @lime-iconitem-border-width;
		border-style: @lime-iconitem-border-style;
	}

	&.hasLabel {
		.image {
			height: @lime-iconitem-label-image-height;
		}
	}

	&.hasTitle {
		height: @lime-iconitem-title-height;
	}

	.image {
		display: block;
		height: @lime-iconitem-image-height;
		width: @lime-iconitem-image-width;
	}

	.icon {
		margin: @lime-iconitem-icon-margin;
		height: @lime-iconitem-icon-height;
		width: @lime-iconitem-icon-width;
		line-height: @lime-iconitem-icon-height;
	}

	.labelContainer {
		width: 100%;
	}

	.label {
		font-size: @lime-iconitem-label-font-size;
		font-weight: @lime-iconitem-label-font-weight;
		line-height: @lime-iconitem-label-line-height;
		padding: @lime-iconitem-label-padding;
	}

	.title {
		font-size: @lime-iconitem-title-font-size;
		font-weight: @lime-iconitem-title-font-weight;
		line-height: @lime-iconitem-title-line-height;
		margin: @lime-iconitem-title-margin;
	}

	&.labelOnFocus {
		.label, .labelContainer {
			display: none;
		}
	}

	&.titleOnFocus .title {
		visibility: hidden;
	}

	.focus({
		.lime-focus-in-motion();

		&.labelOnFocus {
			.label, .labelContainer {
				display: block;
			}
		}

		&.titleOnFocus .title {
			visibility: visible;
		}
	});

	&:not([disabled]) {
		.focus({
			&.pressed,
			&:active {
				.lime-press-motion();
			}
			&:not(:pressed) {
				.lime-release-motion();
			}
		});
	}

	:global(.noAnimation) & {
		transition: none;
	}

	.lime-custom-text({
		&.hasTitle {
			height: @lime-iconitem-title-height-large;
		}

		.icon {
			height: @lime-iconitem-icon-height-large;
			width: @lime-iconitem-icon-width-large;
			line-height: @lime-iconitem-icon-height-large;
		}

		.label {
			font-size: @lime-iconitem-label-font-size-large;
			line-height: @lime-iconitem-label-line-height-large;
		}

		.title {
			font-size: @lime-iconitem-title-font-size-large;
			line-height: @lime-iconitem-title-line-height-large;
		}
	});

	// Skin colors
	.applySkins({
		&.bordered .content {
			border-color: @lime-iconitem-inner-border-color;
		}

		.content {
			background-color: @lime-iconitem-inner-container-color;
		}

		.icon {
			color: @lime-iconitem-inner-icon-color;
		}

		.label {
			color: @lime-iconitem-inner-label-color;
		}

		&.darkLabel .label {
			color: @lime-iconitem-inner-label-dark-color;
		}

		.title {
			color: @lime-iconitem-outer-label-main-color;
		}

		.disabled ({
			opacity: @lime-iconitem-disabled-opacity;
		});

		.lime-focus-highlight(content);

		.focus({
			.content {
				box-shadow: @lime-iconitem-focused-shadow;
			}

			.icon {
				color: @lime-iconitem-inner-icon-color;
			}
		});
	});
}
