// AlertImage.module.less
//
@import "../styles/variables.less";

.alertImage {
	margin: 0;

	&.thumbnail {
		width: @lime-alert-image-thumbnail-width;
		height: @lime-alert-image-thumbnail-height;
	}

	&.icon {
		&.large {
			width: @lime-alert-image-icon-large-size;
			height: @lime-alert-image-icon-large-size;
		}

		&.small {
			width: @lime-alert-image-icon-small-size;
			height: @lime-alert-image-icon-small-size;
		}
	}
}
