// Alert.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.alertWrapper {
	display: inline;
}

.alert {

	&.noImage { /* Needed to prevent global class being added in the DOM */ }

	&.fullscreen {
		.alertImage {
			margin-bottom: @lime-alert-fullscreen-image-spacing;
		}

		.title,
		.content {
			font-weight: @lime-alert-font-weight;
			max-width: @lime-alert-fullscreen-max-width;

			:global(.enact-orientation-portrait) & {
				max-width: @lime-portrait-alert-fullscreen-max-width;
			}
		}

		.content {
			margin: @lime-alert-fullscreen-content-margin;
			overflow: hidden;
			max-height: 60%; // Set a reasonable cutoff for a maximum bound
		}

		.title {
			.lime-font-size(@lime-alert-title-font-size, @lime-tallglyph-alert-title-font-size);
		}

		.buttonContainer {
			margin-top: @lime-alert-buttons-margin-top;
		}
	}

	&.overlay {
		overflow: hidden;

		.alertImage {
			margin-bottom: @lime-alert-overlay-image-margin-bottom;
			padding: @lime-alert-overlay-image-padding;
		}

		.buttonContainer {
			box-sizing: border-box;
			margin-top: @lime-alert-overlay-buttons-margin-top;
			padding: @lime-alert-overlay-body-padding;
		}

		.content {
			align-self: stretch;
			.lime-alert-overlay-content();
			padding: @lime-alert-overlay-body-padding;
			margin: 0;
			max-width: var(--alert-overlay-content-max-width, @lime-alert-overlay-width);

			:global(.enact-locale-ja) &,
			:global(.enact-locale-zh) & {
				overflow-wrap: normal;
				word-break: normal;
			}
		}
	}
}

.popup {
	&.overlay {
		box-sizing: border-box;
		--alert-overlay-horizontal-button-count: 1;
		--alert-overlay-horizontal-button-width: ~"calc(@{lime-button-min-width-default} + (2 * @{lime-button-margin}))";
		--alert-overlay-horizontal-buttons-total-width: ~"calc(var(--alert-overlay-horizontal-button-width) * var(--alert-overlay-horizontal-button-count))";
		--alert-overlay-width: ~"max(@{lime-alert-overlay-width}, var(--alert-overlay-horizontal-buttons-total-width))";
		--alert-overlay-content-horizontal-padding: .extract(@lime-alert-overlay-body-padding, right)[];
		--alert-overlay-content-max-width: ~"calc(var(--alert-overlay-width) - (2 * var(--alert-overlay-content-horizontal-padding)))";
		width: var(--alert-overlay-width);
		min-width: @lime-alert-overlay-width;
		max-width: @lime-alert-overlay-max-width;
		margin-left: auto;
		margin-right: auto;

		.body {
			padding: @lime-alert-overlay-padding;
			max-height: @lime-alert-overlay-max-height;
		}
	}

	.applySkins({
		background-color: @lime-alert-full-bg-color;

		&.overlay {
			border-radius: @lime-alert-overlay-border-radius;
			outline-style: @lime-alert-overlay-outline-style;

			/* Override colors inside overlay type Alert */
			--semantic-color-on-background-main: @lime-alert-overlay-label-color;
			--semantic-color-on-background-sub: @lime-alert-overlay-label-sub-color;
			--semantic-color-stroke-selection-inactive: @lime-alert-overlay-label-color;

			background:
				@lime-alert-overlay-bg-gradient padding-box,
				linear-gradient(@lime-alert-overlay-bg-fill, @lime-alert-overlay-bg-fill) padding-box,
				@lime-alert-overlay-stroke-gradient border-box;
			border: @lime-alert-overlay-stroke-width solid transparent;
			box-shadow: @lime-alert-overlay-shadow;

			:global(.noAnimation) & {
				box-shadow: none;
			}

			:has(:global(.highContrast)) & {
				outline-style: @lime-overlay-outline-style;
			}

			.button {
				.bg{
					background-color: @lime-alert-overlay-button-bg-color;
				}
			}
		}
	});
}
