// Alert.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.alertWrapper {
	display: inline;
}

.alert {
	.title {
		font-family: @lime-title-font-family;
	}

	&.noImage { /* Needed to prevent global class being added in the DOM */ }

	&.horizontal {
		.button {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&.vertical {
		.buttonCell:first-child .button {
			margin-top: 0;
		}

		.buttonCell:last-child .button {
			margin-bottom: 0;
		}
	}

	&.fullscreen {
		.alertImage {
			margin-bottom: @lime-alert-fullscreen-image-spacing;
		}

		.title,
		.content {
			font-weight: @lime-alert-font-weight;
			max-width: @lime-alert-fullscreen-max-width;

			:global(.enact-orientation-portrait) & {
				max-width: @lime-portrait-alert-fullscreen-max-width;
			}
		}

		.content {
			margin: @lime-alert-fullscreen-content-margin;
			overflow: hidden;
			max-height: 60%; // Set a reasonable cutoff for a maximum bound
		}

		.title {
			.lime-font-size(@lime-alert-title-font-size, @lime-tallglyph-alert-title-font-size);
		}

		.buttonContainer {
			margin-top: @lime-alert-buttons-margin-top;
		}
	}

	&.overlay {
		overflow: hidden;

		.alertImage {
			margin-bottom: @lime-alert-overlay-image-margin-bottom;
			padding: @lime-alert-overlay-image-padding;
		}

		.buttonContainer {
			box-sizing: border-box;
			margin-top: @lime-alert-overlay-buttons-margin-top;
			padding: @lime-alert-overlay-body-padding;
		}

		.content {
			align-self: stretch;
			.lime-alert-overlay-content();
			padding: @lime-alert-overlay-body-padding;
			margin: 0;
			max-width: var(--alert-overlay-content-max-width, @lime-alert-overlay-width);

			:global(.enact-locale-ja) &,
			:global(.enact-locale-zh) & {
				overflow-wrap: normal;
				word-break: normal;
			}
		}

		&.large {
			.title {
				margin: 0 0 @lime-alert-overlay-large-title-margin-bottom 0;
				padding: @lime-alert-overlay-body-padding;
				.lime-font-size(@lime-alert-overlay-large-title-font-size, @lime-tallglyph-alert-title-font-size);
			}
		}
	}
}

.popup {
	&.overlay {
		box-sizing: border-box;
		--alert-overlay-horizontal-button-count: 1;
		--alert-overlay-horizontal-button-width: ~"calc(@{lime-button-min-width-default} + (2 * @{lime-button-margin}))";
		--alert-overlay-horizontal-buttons-total-width: ~"calc(var(--alert-overlay-horizontal-button-width) * var(--alert-overlay-horizontal-button-count))";
		--alert-overlay-width: ~"max(@{lime-alert-overlay-width}, var(--alert-overlay-horizontal-buttons-total-width))";
		--alert-overlay-content-horizontal-padding: .extract(@lime-alert-overlay-body-padding, right)[];
		--alert-overlay-content-max-width: ~"calc(var(--alert-overlay-width) - (2 * var(--alert-overlay-content-horizontal-padding)))";
		width: var(--alert-overlay-width);
		min-width: @lime-alert-overlay-width;
		max-width: @lime-alert-overlay-max-width;
		margin-left: auto;
		margin-right: auto;

		.body {
			padding: @lime-alert-overlay-padding;
			max-height: @lime-alert-overlay-max-height;
		}

		&.medium {
			--alert-overlay-width: ~"max(@{lime-alert-overlay-medium-width}, var(--alert-overlay-horizontal-buttons-total-width))";
			min-width: @lime-alert-overlay-medium-width;
		}

		&.large {
			--alert-overlay-width: ~"max(@{lime-alert-overlay-large-width}, var(--alert-overlay-horizontal-buttons-total-width))";
			min-width: @lime-alert-overlay-large-width;
		}
	}

	.applySkins({
		background-color: @lime-alert-full-bg-color;

		&.overlay {
			border-radius: @lime-alert-overlay-border-radius;
			outline-style: @lime-alert-overlay-outline-style;

			/* Override colors inside overlay type Alert */
			--semantic-color-on-background-main: @lime-alert-overlay-label-color;
			--semantic-color-on-background-sub: @lime-alert-overlay-label-sub-color;
			--semantic-color-stroke-selection-inactive: @lime-alert-overlay-label-color;

			background-color: ~"color(from" @lime-alert-overlay-bg-color ~"srgb r g b /" @lime-alert-overlay-bg-color-opacity ~")";
			box-shadow: @lime-alert-overlay-shadow;

			:global(.noAnimation) & {
				box-shadow: none;
			}

			:has(:global(.highContrast)) & {
				outline-style: @lime-overlay-outline-style;
			}

			.button {
				.bg{
					background-color: @lime-alert-overlay-button-bg-color;
				}
			}
		}
	});
}
