// Alert.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.alertWrapper {
	display: inline;
}

.alert {

	&.noImage { /* Needed to prevent global class being added in the DOM */ }

	&.fullscreen {
		.alertImage {
			margin-bottom: @lime-alert-fullscreen-image-spacing;
		}

		.title,
		.content {
			max-width: @lime-alert-fullscreen-max-width;
		}

		.content {
			margin: 0;
			overflow: hidden;
			max-height: 60%; // Set a reasonable cutoff for a maximum bound
		}

		&.noTitle {
			.content {
				.lime-font-size(@lime-alert-notitle-content-font-size, @lime-tallglyph-alert-notitle-content-font-size);
				.enact-locale-line-height();
			}
		}

		&.maxButtons {
			.buttonContainer {
				margin-top: @lime-alert-max-buttons-margin-top;
			}
		}

		.title {
			.lime-font-size(@lime-alert-title-font-size, @lime-tallglyph-alert-title-font-size);
		}

		.buttonContainer {
			margin-top: @lime-alert-buttons-margin-top;

			// Every buttonCell after the first one
			.buttonCell + .buttonCell {
				margin-top: @lime-alert-fullscreen-button-spacing;
			}
		}
	}

	&.overlay {
		.alertImage {
			margin-bottom: @lime-alert-overlay-image-margin-bottom;
			padding: @lime-alert-overlay-image-padding;
		}

		.buttonContainer {
			box-sizing: border-box;
			margin-top: @lime-alert-overlay-buttons-margin-top;

			// Every buttonCell after the first one
			.buttonCell + .buttonCell {
				margin-top: @lime-alert-overlay-button-spacing;
			}
		}

		.content {
			align-self: normal;
			.lime-alert-overlay-content();
			.padding-start-end(@lime-alert-overlay-body-padding);
			margin: 0;

			:global(.enact-locale-ja) &,
			:global(.enact-locale-zh) & {
				overflow-wrap: normal;
				word-break: normal;
			}
		}

		&.noImage {
			.content {
				.margin-start-end(@lime-alert-overlay-noimage-text-gap, @lime-alert-overlay-text-button-gap);

				:global(.enact-orientation-portrait) & {
					width: @lime-portrait-alert-overlay-noimage-content-width;
					.margin-start-end(@lime-alert-overlay-noimage-text-gap, @lime-portrait-alert-overlay-text-button-gap, parent);
				}

			}
		}
	}
}

.popup {
	&.overlay {
		width: @lime-alert-overlay-width;
		margin-left: auto;
		margin-right: auto;

		.body {
			padding: @lime-alert-overlay-padding;
			max-height: @lime-alert-overlay-max-height;
		}
	}

	.applySkins({
		background-color: @lime-alert-bg-color;

		&.overlay {
			margin-bottom: @lime-alert-overlay-margin-bottom;
			border-radius: @lime-alert-overlay-border-radius;

			/* Override colors inside overlay type Alert */
			--lime-bg-color: @lime-alert-overlay-bg-color;
			--lime-text-color: @lime-alert-overlay-text-color;
			--lime-text-sub-color: @lime-alert-overlay-text-sub-color;
			--lime-focus-text-color: @lime-alert-overlay-focus-text-color;
			--lime-disabled-selected-color: @lime-alert-overlay-disabled-selected-color;
			--lime-disabled-selected-bg-color: @lime-alert-overlay-disabled-selected-bg-color;
			--lime-disabled-selected-focus-color: @lime-alert-overlay-disabled-selected-focus-color;
			--lime-disabled-selected-focus-bg-color: @lime-alert-overlay-disabled-selected-focus-bg-color;
			--lime-progress-color: @lime-alert-overlay-progress-color;
			--lime-progress-bg-color: @lime-alert-overlay-progress-bg-color;
			--lime-progress-bg-color-opacity: @lime-alert-overlay-progress-bg-color-opacity;
			--lime-checkbox-color: @lime-alert-overlay-checkbox-color;
			--lime-checkbox-disabled-selected-text-color: @lime-alert-overlay-checkbox-disabled-selected-text-color;
			--lime-formcheckboxitem-focus-text-color: @lime-alert-overlay-formcheckboxitem-focus-text-color;
			--lime-item-disabled-focus-bg-color: @lime-alert-overlay-item-disabled-focus-bg-color;

			background-color: ~"color(from" @lime-alert-overlay-bg-color ~"srgb r g b /" @lime-alert-overlay-bg-color-opacity ~")";
			box-shadow: @lime-alert-overlay-shadow;

			:global(.noAnimation) & {
				box-shadow: none;
			}
		}
	});
}
