@import "../styles/variables.less";

.alertImage {
	margin: 0;

	&.thumbnail {
		width: @lime-alert-image-thumbnail-width;
		height: @lime-alert-image-thumbnail-height;
	}

	&.icon {
		width: @lime-alert-image-icon-size;
		height: @lime-alert-image-icon-size;
		border-radius: @lime-alert-image-icon-border-radius;
	}
}
