// colors-highcontast.less (neutral skin + high-contrast variant)
//

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

// UI Conceptual Colors
// ---------------------------------------

@lime-overlay-outline-color: var(--lime-overlay-outline-color, #7c848b);
@lime-overlay-outline-style: var(--lime-overlay-outline-style, solid);

// Overlay Alert
// ---------------------------------------

// common colors
@lime-alert-overlay-bg-color: var(--lime-alert-overlay-bg-color, #000000);
@lime-alert-overlay-bg-color-opacity: 1;
@lime-alert-overlay-text-color: var(--lime-alert-overlay-text-color, #e6e6e6);
@lime-alert-overlay-text-sub-color: var(--lime-alert-overlay-text-sub-color, #abaeb3);
@lime-alert-overlay-focus-text-color: var(--lime-alert-overlay-focus-text-color, #ffffff);

// component colors
@lime-alert-overlay-progress-color: var(--lime-alert-overlay-progress-color, #e6e6e6);
@lime-alert-overlay-progress-bg-color: var(--lime-alert-overlay-progress-bg-color, #373a41);
@lime-alert-overlay-progress-bg-color-opacity: var(--lime-alert-overlay-progress-bg-color-opacity, 1);
@lime-alert-overlay-checkbox-color: var(--lime-alert-overlay-checkbox-color, #e6e6e6);
@lime-alert-overlay-checkbox-disabled-selected-text-color: var(--lime-alert-overlay-checkbox-disabled-selected-text-color, #4c5059);
@lime-alert-overlay-item-disabled-focus-bg-color: var(--lime-alert-overlay-item-disabled-focus-bg-color, #e6e6e6);

// ---------------------------------------
// Component Colors
// ---------------------------------------

// Input
// ---------------------------------------
@lime-input-fullscreen-background-color: var(--semantic-color-background-overlay-default); // different from neutral

// KeyGuide
// ---------------------------------------
@lime-keyguide-bg-color: var(--primitive-color-cool-gray-15); // Same as neutral, TBD

// Popup
// ---------------------------------------
@lime-popup-bg-color: var(--semantic-color-background-overlay-default); // opaque
@lime-popup-scrimtransparent-bg-color: var(--semantic-color-background-overlay-default); // opaque
