// colors-light.less (light skin)
//

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------


// UI Conceptual Colors
// ---------------------------------------

// common colors
& {
    --lime-alias-color-surface-full: var(--ref-color-base-85);
    --lime-alias-color-on-surface-main: var(--ref-color-base-10);
    --lime-alias-color-on-surface-sub: var(--ref-color-base-35);
    --lime-alias-color-on-selection-icon-selected-disabled-focused: var(--ref-color-base-65);
    --lime-alias-color-on-selection-icon-selected-disabled: var(--ref-color-base-65);
    --lime-alias-color-on-selection-bg-active-disabled: var(--ref-color-base-60);
    --lime-alias-color-on-selection-bg-active-disabled-focused: var(--ref-color-base-60);
    --lime-alias-color-surface-overlay: var(--ref-color-secondary-85);
}

@lime-progress-color: var(--lime-progress-color, #373a41);
@lime-progress-bg-color: var(--lime-progress-bg-color, #a1a1a1);
@lime-progress-bg-color-opacity: var(--lime-progress-bg-color-opacity, 0.4);
@lime-progress-highlighted-color: var(--lime-progress-highlighted-color, #000000);

// component colors
@lime-checkbox-color: var(--lime-checkbox-color, #858b92);
@lime-item-disabled-focus-bg-color: var(--lime-item-disabled-focus-bg-color, #989ca2);
@lime-keyguide-bg-base-color: var(--lime-keyguide-bg-color, #bbbbbb);


// Overlay Alert
// --------------------------------------

// common colors
@lime-alert-overlay-bg-color: var(--lime-alert-overlay-bg-color, #000000);
@lime-alert-overlay-text-color: var(--lime-alert-overlay-text-color, #e6e6e6);
@lime-alert-overlay-text-sub-color: var(--lime-alert-overlay-text-sub-color, #abaeb3);
@lime-alert-overlay-focus-text-color: var(--lime-alert-overlay-focus-text-color, #ffffff);

// component colors
@lime-alert-overlay-progress-color: var(--lime-alert-overlay-progress-color, #e6e6e6);
@lime-alert-overlay-progress-bg-color: var(--lime-alert-overlay-progress-bg-color, #373a41);
@lime-alert-overlay-progress-bg-color-opacity: var(--lime-alert-overlay-progress-bg-color-opacity, 1);
@lime-alert-overlay-checkbox-color: var(--lime-alert-overlay-checkbox-color, #e6e6e6);
@lime-alert-overlay-checkbox-disabled-selected-text-color: var(--lime-alert-overlay-checkbox-disabled-selected-text-color, #4c5059);
@lime-alert-overlay-item-disabled-focus-bg-color: var(--lime-alert-overlay-item-disabled-focus-bg-color, #e6e6e6);
