// colors-game-orange.less (game skin)
// (orange)

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

// colors
@lime-game-skin-color-01: #eb5e00;
@lime-game-skin-color-02: #d75431;

@lime-game-skin-heading-border-color: #ea5e00;
@lime-game-skin-item-focus-bg-gradient-1: fade(#562907, 0%);
@lime-game-skin-item-focus-bg-gradient-2: #a85c37;


// UI Conceptual Colors
// ---------------------------------------

// common colors

& {
	--lime-alias-color-container-normal: #422923;
	--lime-alias-color-container-focused: #b85f23;
}
