// colors-game-green.less (game skin)
// (green)

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

// colors
@lime-game-skin-color-01: #00ffc2;
@lime-game-skin-color-02: #45c194;

@lime-game-skin-heading-border-color: #3e6354;
@lime-game-skin-item-focus-bg-gradient-1: fade(#00ffbc, 0%);
@lime-game-skin-item-focus-bg-gradient-2: fade(#00ffc2, 47%);


// UI Conceptual Colors
// ---------------------------------------

// common colors

& {
	--semantic-color-surface-default: #1F2C24;
	--semantic-color-surface-default-focused: #3ea07d;
}
