// colors.less (neutral skin)
//

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

// Remote button colors
// ---------------------------------------
@lime-remote-button-red-color:     #ff6d78;
@lime-remote-button-green-color:   #93d371;
@lime-remote-button-yellow-color:  #ffc600;
@lime-remote-button-blue-color:    #0084ff;

// UI Conceptual Colors
// ---------------------------------------

@lime-overlay-outline-color: var(--lime-overlay-outline-color, transparent);
@lime-overlay-outline-style: var(--lime-overlay-outline-style, none);

@lime-invalid-color: #ff0000; // TBD

// Overlay Alert
// ---------------------------------------

// common colors
@lime-alert-overlay-bg-color: var(--lime-alert-overlay-bg-color, var(--alias-color-surface-popup));
@lime-alert-overlay-bg-color-opacity: 1;
@lime-alert-overlay-text-color: var(--lime-alert-overlay-text-color, var(--alias-color-on-popup-main));
@lime-alert-overlay-text-sub-color: var(--lime-alert-overlay-text-sub-color, var(--ref-color-base-0-a70));
@lime-alert-overlay-focus-text-color: var(--lime-alert-overlay-focus-text-color, var(--alias-color-on-focused));
@lime-alert-overlay-disabled-selected-color: var(--lime-alert-overlay-disabled-selected-color, var(--ref-color-base-65));
@lime-alert-overlay-disabled-selected-bg-color: var(--lime-alert-overlay-disabled-selected-bg-color, var(--ref-color-base-60));
@lime-alert-overlay-disabled-selected-focus-color: var(--lime-alert-overlay-disabled-selected-focus-color, var(--ref-color-base-65));
@lime-alert-overlay-disabled-selected-focus-bg-color: var(--lime-alert-overlay-disabled-selected-focus-bg-color, var(--ref-color-base-60));

// component colors
@lime-alert-overlay-progress-color: var(--lime-alert-overlay-progress-color, var(--alias-color-accent));
@lime-alert-overlay-progress-bg-color: var(--lime-alert-overlay-progress-bg-color, var(--ref-color-base-40));
@lime-alert-overlay-progress-bg-color-opacity: var(--lime-alert-overlay-progress-bg-color-opacity, 1);
@lime-alert-overlay-checkbox-color: var(--lime-alert-overlay-checkbox-color, var(--alias-color-on-selected));
@lime-alert-overlay-checkbox-disabled-selected-text-color: var(--lime-alert-overlay-checkbox-disabled-selected-text-color, var(--ref-color-base-65));
@lime-alert-overlay-formcheckboxitem-focus-text-color: var(--lime-alert-overlay-formcheckboxitem-focus-text-color, @lime-alert-overlay-focus-text-color);
@lime-alert-overlay-item-disabled-focus-bg-color: var(--lime-alert-overlay-item-disabled-focus-bg-color, var(--alias-color-container-disabled-focused));

// Disabled Opacity
// ---------------------------------------
@lime-disabled-opacity: 0.3;  // This value brings the standard text-color to the disabled text color specs
@lime-disabled-bg-opacity: @lime-disabled-opacity;
@lime-disabled-focus-content-opacity: 0.4;
@lime-disabled-focus-content-color-opacity: 0.4;
@lime-disabled-focus-bg-opacity: 0.585;  // This value brings the standard focus-background-color to the disabled+focus color specs

// Spotlight and State
// ---------------------------------------
@lime-spotlight-text-color:           var(--alias-color-on-focused); // Used in color-mixins.less, QA Sampler Marquee
@lime-spotlight-bg-color:             var(--alias-color-container-focused); // If this changes, update Button bg-color mixins in color-mixins.less
@lime-spotlight-focus-shadow:         0 24px 36px var(--alias-color-shadow); // Used in color-mixins.less


// ---------------------------------------
// Component Colors
// ---------------------------------------

// ActionGuide
// ---------------------------------------
@lime-actionguide-icon-color: @lime-actionguide-label-color;
@lime-actionguide-label-color: var(--alias-color-on-surface-sub);

// Alert
// ---------------------------------------
@lime-alert-bg-color: var(--alias-color-surface-full);
@lime-alert-overlay-shadow: 0 36px 48px 0 var(--alias-color-shadow);

// Button
// ---------------------------------------
@lime-button-text-color: var(--alias-color-on-container-main);
@lime-button-bg-color: var(--alias-color-container-normal);
@lime-button-bordered-bg-color: var(--alias-color-container-normal-alpha);
@lime-button-border-color: var(--alias-color-on-border-full);
@lime-button-selected-border-color: var(--alias-color-on-border-selected);
@lime-button-focus-bg-color: var(--alias-color-container-focused);
@lime-button-selected-text-color: var(--alias-color-on-container-main);
@lime-button-selected-bg-color: var(--alias-color-container-selected);
@lime-button-focus-filter: none;
@lime-button-selected-filter: none;
@lime-button-transparent-text-color: var(--alias-color-on-surface-main);
@lime-button-focus-icononly-bg-color: '';
@lime-button-text-shadow: @lime-header-text-shadow;

// Card
// ---------------------------------------
@lime-card-bg: var(--alias-color-container-group);
@lime-card-selection-icon-color: transparent;
@lime-card-selected-selection-icon-color: var(--alias-color-on-selection-icon-selected);
@lime-card-selected-selection-icon-bg-color: var(--alias-color-accent);
@lime-card-selected-image-border-color: var(--alias-color-on-border-selected);
@lime-card-focused-bg-color: var(--alias-color-container-focused);
@lime-card-focused-image-border-color: var(--alias-color-on-border-full);
@lime-card-scrim-bg-color: var(--alias-color-scrim-a50);
@lime-card-caption-color: var(--alias-color-on-surface-main);
@lime-card-label-color: var(--alias-color-on-surface-sub);
@lime-card-focus-caption-color: var(--alias-color-on-focused);
@lime-card-focus-label-color: var(--alias-color-on-sub-focused);

// Checkbox
// ---------------------------------------
@lime-checkbox-bg: transparent;
@lime-checkbox-bg-focused: @lime-checkbox-bg;
@lime-checkbox-bg-selected: var(--alias-color-accent);
@lime-checkbox-bg-selected-focused: @lime-checkbox-bg-selected;
@lime-checkbox-bg-selected-disabled: var(--alias-color-selection-bg-active-disabled);
@lime-checkbox-bg-selected-disabled-focused:  @lime-checkbox-bg-selected-focused;
@lime-checkbox-bg-indeterminate: @lime-checkbox-bg;
@lime-checkbox-bg-indeterminate-focused: @lime-checkbox-bg-indeterminate;
@lime-checkbox-bg-standalone-disabled-focused: @lime-item-bg-disabled-focused;
@lime-checkbox-icon: transparent;
@lime-checkbox-icon-focused: @lime-checkbox-icon;
@lime-checkbox-icon-selected: var(--alias-color-on-selected);
@lime-checkbox-icon-selected-focused: @lime-checkbox-icon-selected;
@lime-checkbox-icon-selected-disabled: var(--alias-color-selection-icon-selected-disabled);
@lime-checkbox-icon-selected-disabled-focused: @lime-checkbox-icon-selected-focused;
@lime-checkbox-icon-indeterminate: @lime-checkbox-border;
@lime-checkbox-icon-indeterminate-focused: @lime-checkbox-border-focused;
@lime-checkbox-border: var(--alias-color-on-surface-main);
@lime-checkbox-border-focused: var(--alias-color-on-focused);
@lime-checkbox-border-selected: @lime-checkbox-bg-selected;
@lime-checkbox-border-selected-focused: @lime-checkbox-bg-selected;
@lime-checkbox-border-selected-disabled: @lime-checkbox-bg-selected-disabled;
@lime-checkbox-border-selected-disabled-focused: @lime-checkbox-border-selected;
@lime-checkbox-border-disabled: var(--alias-color-selection-border-disabled);
@lime-checkbox-border-disabled-focused: var(--alias-selection-border-disabled-focused);
@lime-checkbox-border-indeterminate: var(--alias-color-on-surface-main);
@lime-checkbox-border-indeterminate-focused: var(--alias-color-on-focused);
@lime-checkbox-border-indeterminate-disabled: var(--alias-color-selection-border-indeterminate-disabled);
@lime-checkbox-border-indeterminate-disabled-focused: var(--alias-color-selection-border-indeterminate-disabled-focused);

// ContextualPopup
// ---------------------------------------
@lime-contextualpopup-bg-color: var(--alias-color-surface-overlay);
@lime-contextualpopup-shadow: 0 24px 60px var(--alias-color-shadow);

// Dropdown
// ---------------------------------------
@lime-dropdown-title-color: var(--alias-color-on-surface-sub);
@lime-dropdown-selected-text-color: var(--alias-color-on-selected);

// FixedPopupPanels
// ---------------------------------------
@lime-fixedpopuppanels-bg-color: @lime-popup-bg-color;
@lime-fixedpopuppanels-scrimtransparent-bg-color: @lime-popup-scrimtransparent-bg-color;
@lime-fixedpopuppanels-shadow: 0 36px 36px var(--alias-color-shadow);

// FlexiblePopupPanels
// ---------------------------------------
@lime-flexiblepopuppanels-panel-bg-color: @lime-popup-bg-color;
@lime-flexiblepopuppanels-panel-scrimtransparent-bg-color: @lime-popup-scrimtransparent-bg-color;
@lime-flexiblepopuppanels-panel-shadow: 0 36px 36px var(--alias-color-shadow);

// FormCheckboxItem
// ---------------------------------------
@lime-formcheckboxitem-disabled-text-color: inherit;
@lime-formcheckboxitem-disabled-focus-text-color: @lime-formcheckboxitem-disabled-text-color;
@lime-formcheckboxitem-focus-text-color: var(--alias-color-on-surface-main);

// Header
// ---------------------------------------
@lime-header-text-shadow: 6px 12px 12px var(--alias-color-shadow);

// Heading
// ---------------------------------------
@lime-heading-text-color: var(--alias-color-on-surface-main);
@lime-heading-border-color: @lime-heading-text-color;
@lime-heading-subtitle-text-color: var(--alias-color-on-surface-sub);

// HolePunchScrim
// ---------------------------------------
@lime-holepunchscrim-bg-color: fade(#000000, 60%); // should be black

// IconItem
// ---------------------------------------
@lime-iconitem-disabled-opacity: 0.4;
@lime-iconitem-label-color: var(--alias-color-on-surface-main);
@lime-iconitem-label-dark-color: var(--alias-color-on-focused);
@lime-iconitem-border-color: var(--ref-color-base-100-a30);

// ImageItem
// ---------------------------------------
@lime-imageitem-caption-color: var(--alias-color-on-surface-main);
@lime-imageitem-label-color: var(--alias-color-on-surface-sub);
@lime-imageitem-image-border-color: transparent;
@lime-imageitem-selection-icon-color: transparent;
@lime-imageitem-selection-icon-bg-color: transparent;
@lime-imageitem-focus-bg-shadow: 0 36px 36px var(--alias-color-shadow);
@lime-imageitem-focus-selection-icon-color: @lime-imageitem-selection-icon-color;
@lime-imageitem-focus-selection-icon-bg-color: @lime-imageitem-selection-icon-bg-color;
@lime-imageitem-selected-selection-icon-color: var(--alias-color-on-selected);
@lime-imageitem-selected-selection-icon-bg-color: var(--alias-color-accent-green);
@lime-imageitem-selected-image-border-color: ~"color(from" var(--alias-color-on-selected) ~"srgb r g b / 0.7)";
@lime-imageitem-selected-focus-selection-icon-color: @lime-imageitem-selected-selection-icon-color;
@lime-imageitem-selected-focus-selection-icon-bg-color: @lime-imageitem-selected-selection-icon-bg-color;

// Input
// ---------------------------------------
@lime-input-fullscreen-background-color: var(--alias-color-surface-full);
@lime-input-overlay-background-color: @lime-popup-bg-color;
@lime-input-numbercell-background-color: ~"color(from" var(--alias-color-on-surface-main) ~"srgb r g b / 0.2)";
@lime-input-invalid-tooltip-color: @lime-inputfield-invalid-tooltip-color;
@lime-input-numberfield-disabled-color: ~"color(from" var(--alias-color-on-focused) ~"srgb r g b /" @lime-disabled-focus-content-color-opacity ~")";
@lime-input-numberfield-disabled-opacity: @lime-disabled-focus-bg-opacity;
@lime-input-selection-color: #4c5059;
@lime-input-selection-bg-color: #3399ff;

// InputField
// ---------------------------------------
@lime-inputfield-text-color: var(--alias-color-on-surface-main);
@lime-inputfield-placeholder-color: ~"color(from" var(--alias-color-on-container-main) ~"srgb r g b / 0.2)";
@lime-inputfield-placeholder-active-color: ~"color(from" var(--alias-color-on-focused) ~"srgb r g b / 0.4)";
@lime-inputfield-focus-text-color: var(--alias-color-on-focused);
@lime-inputfield-disabled-text-color: inherit;
@lime-inputfield-invalid-color: @lime-invalid-color;
@lime-inputfield-invalid-tooltip-color: var(--alias-color-invalid);

// Item
// ---------------------------------------
@lime-item-text: var(--alias-color-on-surface-main);
@lime-item-text-focused: var(--alias-color-on-focused);
@lime-item-text-selected: var(--alias-color-on-selected);
@lime-item-text-sub: var(--alias-color-on-surface-sub);
@lime-item-text-sub-focused: var(--alias-color-on-sub-focused);
@lime-item-text-sub-selected: var(--alias-color-on-sub-selected);
@lime-item-bg-focused: var(--alias-color-container-focused);
@lime-item-bg-selected: var(--alias-color-container-selected-alpha10);
@lime-item-bg-disabled-focused: var(--alias-color-container-disabled-focused);

// KeyGuide
// ---------------------------------------
@lime-keyguide-bg-color: var(--alias-color-surface-overlay);
@lime-keyguide-item-color: var(--alias-color-on-surface-sub);
@lime-keyguide-colordot-red-color: @lime-remote-button-red-color;
@lime-keyguide-colordot-green-color: @lime-remote-button-green-color;
@lime-keyguide-colordot-yellow-color: @lime-remote-button-yellow-color;
@lime-keyguide-colordot-blue-color: @lime-remote-button-blue-color;
@lime-keyguide-icon-shadow: 0px 36px 48px 0px rgba(0, 0, 0, 0.35);
@lime-keyguide-image-shadow: 0px 24px 36px 0px rgba(0, 0, 0, 0.35);

// MediaOverlay
// ---------------------------------------
@lime-mediaoverlay-caption-color: var(--alias-color-on-surface-main);
@lime-mediaoverlay-subtitle-color: var(--alias-color-on-surface-sub);

// MediaPlayer
// ---------------------------------------
@lime-mediaplayer-slider-knob-color: var(--alias-color-progress-bar);
@lime-mediaplayer-slider-tooltip-text-shadow: 0 4px 4px var(--alias-color-shadow);

// MediaSlider
// ---------------------------------------
@lime-mediaslider-bar-bg-color: ~"color(from" var(--alias-color-progress-bar) ~"srgb r g b / 0.3)";
@lime-mediaslider-disabled-bar-opacity: 0.3;
@lime-mediaslider-fill-bg-color: var(--alias-color-progress-bar);

// Picker
// ---------------------------------------
@lime-picker-text-color: var(--alias-color-on-surface-main);
@lime-picker-indicator-active-bg-color: var(--alias-color-indicator-icon-active);
@lime-picker-indicator-active-focus-bg-color: var(--alias-color-indicator-icon-active-focused);
@lime-picker-indicator-inactive-bg-color: var(--alias-color-indicator-icon-inactive);
@lime-picker-indicator-inactive-focus-bg-color: var(--alias-color-indicator-icon-inactive-focused);
@lime-picker-joined-horizontal-text-color: var(--alias-color-on-container-main);
@lime-picker-joined-horizontal-bg-color: var(--alias-color-container-normal);
@lime-picker-joined-text-color: var(--alias-color-on-surface-main);
@lime-picker-joined-incrementer-color: ~"color(from" var(--alias-color-on-container-sub) ~"srgb r g b / 0.5)";
@lime-picker-joined-focus-incrementer-color: var(--alias-color-on-focused);
@lime-picker-joined-focus-disabled-text-color: @lime-picker-indicator-active-focus-bg-color;
@lime-picker-joined-focus-disabled-indicator-bg-color: @lime-picker-indicator-active-focus-bg-color;
@lime-picker-joined-focus-disabled-indicator-opacity: 0.9;
@lime-picker-joined-focus-disabled-indicator-active-opacity: 1;

// Popup
// ---------------------------------------
@lime-popup-bg-color: ~"color(from" var(--alias-color-surface-overlay) ~"srgb r g b / 0.9)";
@lime-popup-scrimtransparent-bg-color: ~"color(from" var(--alias-color-surface-overlay) ~"srgb r g b / 0.95)";

// PopupTabLayout
// ---------------------------------------
@lime-popuptablayout-bg-color: @lime-popup-bg-color;
@lime-popuptablayout-scrimtransparent-bg-color: @lime-popup-scrimtransparent-bg-color;
@lime-popuptablayout-shadow: 0 42px 24px var(--alias-color-shadow);

// ProgressBar
// ---------------------------------------
@lime-progressbar-bar-bg-color: var(--alias-color-progress-bg);
@lime-progressbar-load-bg-color: var(--ref-color-base-60);
@lime-progressbar-fill-bg-color: var(--alias-color-progress-bar);
@lime-progressbar-highlighted-fill-bg-color: var(--ref-color-base-100);

// ProgressButton
// ---------------------------------------
@lime-progressbutton-bar-color: var(--alias-color-on-container-sub);
@lime-progressbutton-focus-fill-color: var(--alias-color-on-focused);

// RadioItem
// ---------------------------------------
@lime-radioitem-indicator-color: transparent;
@lime-radioitem-indicator-bg-color: transparent;
@lime-radioitem-indicator-border-color: var(--alias-color-on-surface-main);
@lime-radioitem-focus-indicator-color: transparent;
@lime-radioitem-focus-indicator-bg-color: transparent;
@lime-radioitem-focus-indicator-border-color: var(--alias-color-on-focused);
@lime-radioitem-selected-indicator-color: var(--alias-color-on-selected);
@lime-radioitem-selected-indicator-bg-color: var(--alias-color-selection-bg-active);
@lime-radioitem-selected-indicator-border-color: @lime-radioitem-selected-indicator-bg-color;
@lime-radioitem-selected-focus-indicator-color: @lime-radioitem-selected-indicator-color;
@lime-radioitem-selected-focus-indicator-bg-color:  @lime-radioitem-selected-indicator-bg-color;
@lime-radioitem-selected-focus-indicator-border-color: @lime-radioitem-selected-focus-indicator-bg-color;
@lime-radioitem-disabled-selected-color: var(--alias-color-selection-icon-selected-disabled);
@lime-radioitem-disabled-selected-bg-color: var(--alias-color-selection-bg-active-disabled);
@lime-radioitem-disabled-selected-border-color: @lime-radioitem-disabled-selected-bg-color;
@lime-radioitem-focus-disabled-selected-color: var(--alias-color-selection-icon-selected-disabled-focused);
@lime-radioitem-focus-disabled-selected-bg-color: var(--alias-color-selection-bg-active-disabled-focused);
@lime-radioitem-focus-disabled-selected-border-color: @lime-radioitem-focus-disabled-selected-bg-color;

// Scrollbar
// ---------------------------------------
@lime-scrollbar-track-bg-color: transparent;
@lime-scrollbar-thumb-bg-color: var(--ref-color-base-25);
@lime-scrollbar-thumb-focus-bg-color: var(--alias-color-container-focused);
@lime-scrollbar-thumb-focus-direction-indicator-color: ~"color(from" var(--alias-color-on-focused) ~"srgb r g b / 0.4)";
@lime-scrollbar-thumb-focus-box-shadow-color: var(--alias-color-shadow);

// Scroller
// ---------------------------------------
@lime-scroll-focusablebody-focus-bg-color: ~"color(from" var(--alias-color-container-focused) ~"srgb r g b / 0.1)";

// Slider
// ---------------------------------------
@lime-slider-bar-bg-color: @lime-progressbar-bar-bg-color;
@lime-slider-load-bg-color: @lime-progressbar-load-bg-color;
@lime-slider-fill-bg-color: var(--alias-color-progress-bar);
@lime-slider-knob-bg-color: @lime-slider-fill-bg-color;
@lime-slider-knob-border-color: transparent;
@lime-slider-focus-bar-bg-color: @lime-slider-bar-bg-color;
@lime-slider-focus-load-bg-color: @lime-slider-load-bg-color;
@lime-slider-focus-fill-bg-color: var(--alias-color-container-focused);
@lime-slider-focus-knob-bg-color: @lime-slider-focus-fill-bg-color;
@lime-slider-focus-knob-border-color: @lime-slider-knob-border-color;
@lime-slider-focus-knob-shadow: 0 6px 12px var(--alias-color-shadow);
@lime-slider-active-bar-bg-color: @lime-slider-focus-bar-bg-color;
@lime-slider-active-load-bg-color: @lime-slider-focus-load-bg-color;
@lime-slider-active-fill-bg-color: @lime-slider-focus-fill-bg-color;
@lime-slider-disabled-bar-opacity: 0.4;
@lime-slider-disabled-focus-knob-bg-color: @lime-slider-focus-knob-bg-color;
@lime-slider-disabled-knob-bg-color: var(--alias-color-accent-sub);

// Spinner
// ---------------------------------------
@lime-spinner-color: var(--ref-color-base-100);
@lime-spinner-head-color: @lime-spinner-color;
@lime-spinner-empty-color: ~"color(from" @lime-spinner-color ~"srgb r g b / 0.2)";
@lime-spinner-bg-color: var(--alias-color-container-normal);
@lime-spinner-text-color: var(--alias-color-on-container-main);
@lime-spinner-text-shadow-color: var(--alias-color-shadow);

// Steps
// ---------------------------------------
@lime-steps-pageindicator-bg-color: var(--ref-color-secondary-60);
@lime-steps-pageindicator-current-bg-color: var(--alias-color-on-container-main);

// Switch
// ---------------------------------------
@lime-switch-icon-bg-color: var(--ref-color-base-70);
@lime-switch-bg-color: var(--ref-color-base-45);
@lime-switch-focus-icon-bg-color: @lime-switch-icon-bg-color;
@lime-switch-selected-icon-bg-color: var(--alias-color-on-container-main);
@lime-switch-selected-bg-color: var(--alias-color-accent-green);
@lime-switch-selected-focus-icon-bg-color: @lime-switch-selected-icon-bg-color;
@lime-switch-disabled-selected-bg-color: #303030;
@lime-switch-disabled-selected-icon-bg-color: var(--ref-color-base-25);


// TabLayout
// ---------------------------------------
@lime-tablayout-tab-horizontal-border-color: ~"color(from" var(--alias-color-on-surface-main) ~"srgb r g b / 0.5)";
@lime-tablayout-tab-horizontal-selected-border-color: var(--alias-color-on-selected);

// Tooltip
// ---------------------------------------
@lime-tooltip-bg-color:               var(--alias-color-container-focused);
@lime-tooltip-text-color:             var(--alias-color-on-focused);
@lime-tooltip-shadow:                 0 18px 12px var(--alias-color-shadow);

// VideoPlayer
// ---------------------------------------
@lime-video-feedback-mini-bg-color: fade(#000000, 50%); // should be black
@lime-video-feedback-mini-text-color: var(--alias-color-on-surface-main);
@lime-video-slider-tooltip-color: var(--alias-color-on-surface-main);
@lime-video-slider-tooltip-thumbnail-border-color: var(--alias-color-on-surface-main);
@lime-video-player-bottom-bg-color: transparent;
@lime-video-player-title-color: var(--alias-color-on-surface-main);
@lime-video-player-title-text-shadow: 0 4px 4px var(--alias-color-shadow);
@lime-video-player-scrim-gradient-color: linear-gradient(180deg, transparent 0%, #000 100%);
