// color-mixins.less
//
// Mixins specifically dependent on theme colors.
// Shortcuts for easily getting consistent colorization rules onto components.
//

@import "./mixins.less";

// ---------------------------------------
// Focus Shadow and background setup
// ---------------------------------------
.lime-bg-colors (@bg) {
	@bg();
}

// Establish rules assignment for before focus has happened
.lime-spotlight-resting-bg-colors (@opacity: 0, @bg: {}, @shadow: {}) {
	opacity: @opacity;

	// Background coloration
	.lime-bg-colors({
		background-color: @lime-spotlight-bg-color;
		will-change+: box-shadow;

		@bg();
		@shadow();
	});
}

// Establish rules assignment for after focus has happened
.lime-spotlight-focus-bg-colors (@bg: {}, @shadow: {}) {
	opacity: 1;

	// Background coloration
	.lime-bg-colors({
		background-color: @lime-spotlight-bg-color;
		box-shadow: @lime-spotlight-focus-shadow;

		@bg();
		@shadow();
	});
}

.lime-spotlight-focus-text-colors () {
	color: @lime-spotlight-text-color;
}

//
// The following 3 mixins should be used inside the `.lime-disabled()` mixin's ruleset.
//

// Assign the standard disabled rules
.lime-disabled-colors () {
	opacity: @lime-disabled-opacity;
}

.lime-disabled-bg-colors () {
	opacity: @lime-disabled-bg-opacity;
}

// Assign the standard disabled rules of content to content nodes.
// This should be used on children of a root component node.
.lime-disabled-focus-content-colors () {
	opacity: @lime-disabled-focus-content-opacity;
}

// Assign the standard disabled rules of backgrounds to bg nodes.
// This should be used on children of a root component node.
.lime-disabled-focus-bg-colors (@bg: {}, @shadow: {}) {
	opacity: @lime-disabled-focus-bg-opacity;

	.lime-bg-colors({
		@bg();
		@shadow();
	});
}

// The technique below is special handling for opaque buttons, which have an opaque
// color defined for the initial background-color. This means we can't use the
// traditional opacity change to animate the difference. Instead, this smoothly applies
// (via transition) a series of filters that match the spotlight-focus bg color. The
// values were manually calculated to perfectly match, taking the resting bg-color and
// adjusting it to become the focus-bg-color. If either color value changes, these
// adjustments must be recalculated. This is not automatic. It may be possible to
// autonomously calculate this in the future...
// Button single-color mixins
.lime-button-resting-bg-color () {
	background-color: @lime-button-fill-container-color;
}

.lime-button-selected-bg-color () {
	background-color: @lime-button-fill-container-selected-color;
	filter+_: @lime-button-filter-selected;
}

.lime-button-outline-selected-bg-color () {
	background-color: @lime-button-outline-container-selected-color;
	filter+_: @lime-button-filter-selected;
}

.lime-button-transparent-selected-bg-color () {
	background-color: @lime-button-transparent-container-selected-color;
	filter+_: @lime-button-filter-selected;
}

.lime-button-focus-bg-color () {
	background-color: @lime-button-fill-container-focused-color;
	filter+_: @lime-button-filter-focused;
}

.lime-button-outline-focus-bg-color () {
	background-color: @lime-button-outline-container-focused-color;
	filter+_: @lime-button-filter-focused;
}

.lime-button-transparent-focus-bg-color () {
	background-color: @lime-button-transparent-container-focused-color;
	filter+_: @lime-button-filter-focused;
}

// Button state mixins
.lime-button-resting-bg-colors (@bg: {}, @shadow: {}) {
	.lime-spotlight-resting-bg-colors(@opacity: 0, @bg: {
		.lime-button-resting-bg-color();
		will-change+: transform, filter;
		transition+: transform @lime-button-focus-duration ease-out;
		@bg();
	}, @shadow);
}

.lime-button-selected-colors (@bg: {}, @shadow: {}) {
	.lime-bg-colors({
		.lime-button-selected-bg-color();
		@bg();
		@shadow();
	});
}

.lime-button-outline-selected-colors (@bg: {}, @shadow: {}) {
	.lime-bg-colors({
		.lime-button-outline-selected-bg-color();
		@bg();
		@shadow();
	});
}

.lime-button-transparent-selected-colors (@bg: {}, @shadow: {}) {
	.lime-bg-colors({
		.lime-button-transparent-selected-bg-color();
		@bg();
		@shadow();
	});
}

.lime-button-focus-bg-colors (@bg: {}, @shadow: {}) {
	.lime-spotlight-focus-bg-colors(@bg: {
		.lime-button-focus-bg-color();
		@bg();
	}, @shadow);
}

.lime-button-outline-focus-bg-colors (@bg: {}, @shadow: {}) {
	.lime-spotlight-focus-bg-colors(@bg: {
		.lime-button-outline-focus-bg-color();
		@bg();
	}, @shadow);
}

.lime-button-transparent-focus-bg-colors (@bg: {}, @shadow: {}) {
	.lime-spotlight-focus-bg-colors(@bg: {
		.lime-button-transparent-focus-bg-color();
		@bg();
	}, @shadow);
}
