// colors-light.less (light skin)
//

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

// UI Conceptual Colors
// ---------------------------------------
// common colors
@lime-progressbar-bar-focused: #000000;

// component colors
@lime-checkbox-color: var(--lime-checkbox-color, #858b92);
@lime-item-disabled-focus-bg-color: var(--lime-item-disabled-focus-bg-color, #989ca2);
@lime-keyguide-bg-base-color: var(--lime-keyguide-bg-color, #bbbbbb);

// Overlay Alert
// --------------------------------------

// common colors
@lime-alert-overlay-bg-color: var(--lime-alert-overlay-bg-color, #000000);
@lime-alert-overlay-text-color: var(--lime-alert-overlay-text-color, #e6e6e6);
@lime-alert-overlay-text-sub-color: var(--lime-alert-overlay-text-sub-color, #abaeb3);
@lime-alert-overlay-focus-text-color: var(--lime-alert-overlay-focus-text-color, #ffffff);

// component colors
@lime-alert-overlay-progress-color: var(--lime-alert-overlay-progress-color, #e6e6e6);
@lime-alert-overlay-progress-bg-color: var(--lime-alert-overlay-progress-bg-color, #373a41);
@lime-alert-overlay-progress-bg-color-opacity: var(--lime-alert-overlay-progress-bg-color-opacity, 1);
@lime-alert-overlay-checkbox-color: var(--lime-alert-overlay-checkbox-color, #e6e6e6);
@lime-alert-overlay-checkbox-disabled-selected-text-color: var(--lime-alert-overlay-checkbox-disabled-selected-text-color, #4c5059);
@lime-alert-overlay-item-disabled-focus-bg-color: var(--lime-alert-overlay-item-disabled-focus-bg-color, #e6e6e6);
