// colors.less (neutral skin)
//

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

// Remote button colors
// ---------------------------------------
@lime-remote-button-red-color:     #e1777e; // #ff6d78; // #da3c3c; // #e71b1c;
@lime-remote-button-green-color:   #7fd563; // #6ff467; // #21c171; // #339966;
@lime-remote-button-yellow-color:  #d3b85f; // #ffc600; // #dac139; // #fddb24;
@lime-remote-button-blue-color:    #5185c1; // #0084ff; // #5677d0; // #4764b4;


// UI Conceptual Colors
// ---------------------------------------

// common colors
@lime-bg-color: var(--lime-bg-color, #000000);

@lime-text-color: var(--lime-text-color, #ffffff); // #ffffff
@lime-text-sub-color: var(--lime-text-sub-color, #ffffff);
@lime-shadow-base-color: var(--lime-shadow-color, #000000);
@lime-shadow-color: ~"color(from" @lime-shadow-base-color ~"srgb r g b / 0.3)";
@lime-component-text-color: var(--lime-component-text-color, #e6e6e6);
@lime-component-text-sub-color: var(--lime-component-text-sub-color, #abaeb3);
@lime-component-bg-color: var(--lime-component-bg-color, #7d848c);
@lime-component-active-indicator-bg-color: var(--lime-component-active-indicator-bg-color, #e6e6e6);
@lime-component-inactive-indicator-bg-color: var(--lime-component-inactive-indicator-bg-color, #9da2a7);

@lime-focus-text-color: var(--lime-focus-text-color, #ffffff);
@lime-focus-bg-color: var(--lime-focus-bg-color, #e6e6e6);
@lime-component-focus-text-color: var(--lime-component-focus-text-color, #4c5059);
@lime-component-focus-active-indicator-bg-color: var(--lime-component-focus-active-indicator-bg-color, #4c5059);
@lime-component-focus-inactive-indicator-bg-color: var(--lime-component-focus-inactive-indicator-bg-color, #b8b9bb);

@lime-selected-color: var(--lime-selected-color, #e6e6e6);
@lime-selected-text-color: var(--lime-selected-text-color, @lime-text-color);
@lime-selected-bg-color: var(--lime-selected-bg-color, #3e454d);

//@lime-selected-focus-text-color: var(--lime-selected-focus-text-color);
//@lime-selected-focus-bg-color: var(--lime-selected-focus-bg-color);

//@lime-disabled-text-color: var(--lime-disabled-text-color);
//@lime-disabled-bg-color: var(--lime-disabled-bg-color);

//@lime-disabled-focus-text-color: var(--lime-disabled-focus-text-color);
@lime-disabled-focus-bg-color: var(--lime-disabled-focus-bg-color, #abaeb3);

@lime-disabled-selected-color: var(--lime-disabled-selected-color, #4c5059);
//@lime-disabled-selected-text-color: var(--lime-disabled-selected-text-color);
@lime-disabled-selected-bg-color: var(--lime-disabled-selected-bg-color, #e6e6e6);

@lime-disabled-selected-focus-color: var(--lime-disabled-selected-focus-color, @lime-disabled-selected-bg-color);
//@lime-disabled-selected-focus-text-color: var(--lime-disabled-selected-focus-text-color);
@lime-disabled-selected-focus-bg-color: var(--lime-disabled-selected-focus-bg-color, @lime-disabled-selected-color);

//@lime-fullscreen-text-color: var(--lime-fullscreen-text-color);
@lime-fullscreen-bg-color: var(--lime-fullscreen-bg-color, @lime-bg-color);

//@lime-overlay-text-color: var(--lime-overlay-text-color);
@lime-overlay-text-shadow: 0 4px 4px ~"color(from" @lime-shadow-base-color ~"srgb r g b / 0.75)";
@lime-overlay-bg-color: var(--lime-overlay-bg-color, #575e66);
@lime-overlay-outline-color: var(--lime-overlay-outline-color, transparent);
@lime-overlay-outline-style: var(--lime-overlay-outline-style, none);

@lime-selection-color: var(--lime-selection-color, #4c5059);
@lime-selection-bg-color: var(--lime-selection-bg-color, #3399ff);

@lime-toggle-off-color: var(--lime-toggle-off-color, #aeaeae);
@lime-toggle-off-bg-color: var(--lime-toggle-off-bg-color, #777777);
@lime-toggle-on-color: var(--lime-toggle-on-color, @lime-selected-color);
@lime-toggle-on-bg-color: var(--lime-toggle-on-bg-color, #30ad6b);

@lime-progress-color: var(--lime-progress-color, #e6e6e6);
@lime-progress-bg-color: var(--lime-progress-bg-color, #373a41);
@lime-progress-bg-color-opacity: var(--lime-progress-bg-color-opacity, 1);
@lime-progress-highlighted-color: var(--lime-progress-highlighted-color, #ffffff);
@lime-progress-slider-color: var(--lime-progress-slider-color, #8d9298);

@lime-invalid-color: #ff0000;
@lime-invalid-sub-color: #fb5656;

// component colors
@lime-checkbox-color: var(--lime-checkbox-color, @lime-text-color);
@lime-checkbox-disabled-selected-text-color: var(--lime-checkbox-disabled-selected-text-color, @lime-disabled-selected-color);
@lime-formcheckboxitem-focus-text-color: var(--lime-formcheckboxitem-focus-text-color, @lime-focus-text-color);
@lime-iconitem-border-color: var(--lime-iconitem-border-color, #707070);
@lime-item-disabled-focus-bg-color: var(--lime-item-disabled-focus-bg-color, #e6e6e6);
@lime-keyguide-bg-base-color: var(--lime-keyguide-bg-color, #373a41);
@lime-keyguide-bg-color-opacity: var(--lime-keyguide-bg-color-opacity, 0.9);
@lime-slider-disabled-knob-bg-color: var(--lime-slider-disabled-knob-bg-color, #666666);
@lime-spinner-color: var(--lime-spinner-color, #ffffff);
@lime-steps-pageindicator-bg-color: var(--lime-steps-pageindicator-bg-color, #6f7680);

// Overlay Alert
// ---------------------------------------

// common colors
@lime-alert-overlay-bg-color: var(--lime-alert-overlay-bg-color, #cacbcc);
@lime-alert-overlay-bg-color-opacity: 0.95;
@lime-alert-overlay-text-color: var(--lime-alert-overlay-text-color, #2e3239);
@lime-alert-overlay-text-sub-color: var(--lime-alert-overlay-text-sub-color, #2e3239);
@lime-alert-overlay-focus-text-color: var(--lime-alert-overlay-focus-text-color, #575e66);
@lime-alert-overlay-disabled-selected-color: var(--lime-alert-overlay-disabled-selected-color, #ffffff);
@lime-alert-overlay-disabled-selected-bg-color: var(--lime-alert-overlay-disabled-selected-bg-color, #788688);
@lime-alert-overlay-disabled-selected-focus-color: var(--lime-alert-overlay-disabled-selected-focus-color, #e6e6e6);
@lime-alert-overlay-disabled-selected-focus-bg-color: var(--lime-alert-overlay-disabled-selected-focus-bg-color, #4c5059);

// component colors
@lime-alert-overlay-progress-color: var(--lime-alert-overlay-progress-color, #373a41);
@lime-alert-overlay-progress-bg-color: var(--lime-alert-overlay-progress-bg-color, #a1a1a1);
@lime-alert-overlay-progress-bg-color-opacity: var(--lime-alert-overlay-progress-bg-color-opacity, 0.4);
@lime-alert-overlay-checkbox-color: var(--lime-alert-overlay-checkbox-color, #858b92);
@lime-alert-overlay-checkbox-disabled-selected-text-color: var(--lime-alert-overlay-checkbox-disabled-selected-text-color, #ffffff);
@lime-alert-overlay-formcheckboxitem-focus-text-color: var(--lime-alert-overlay-formcheckboxitem-focus-text-color, @lime-alert-overlay-focus-text-color);
@lime-alert-overlay-item-disabled-focus-bg-color: var(--lime-alert-overlay-item-disabled-focus-bg-color, #989ca2);


// Disabled Opacity
// ---------------------------------------
@lime-disabled-opacity: 0.28;  // This value brings the standard text-color to the disabled text color specs
@lime-disabled-bg-opacity: @lime-disabled-opacity;
@lime-disabled-focus-content-opacity: 0.4;
@lime-disabled-focus-content-color-opacity: 0.4;
@lime-disabled-focus-bg-opacity: 0.585;  // This value brings the standard focus-background-color to the disabled+focus color specs


// Spotlight and State
// ---------------------------------------
@lime-spotlight-text-color:           @lime-component-focus-text-color; // Used in color-mixins.less, QA Sampler Marquee
@lime-spotlight-bg-color:             @lime-focus-bg-color; // If this changes, update Button bg-color mixins in color-mixins.less
@lime-spotlight-focus-shadow:         0 36px 36px @lime-shadow-color; // Used in color-mixins.less


// ---------------------------------------
// Component Colors
// ---------------------------------------

// ActionGuide
// ---------------------------------------
@lime-actionguide-icon-color: @lime-actionguide-label-color;
@lime-actionguide-label-color: @lime-text-sub-color;

// Alert
// ---------------------------------------
@lime-alert-bg-color: @lime-fullscreen-bg-color;
@lime-alert-overlay-shadow: 0 36px 36px @lime-shadow-color;

// Button
// ---------------------------------------
@lime-button-text-color: @lime-component-text-color;
@lime-button-bg-color: @lime-component-bg-color;
@lime-button-border-color: transparent;
@lime-button-focus-bg-color: @lime-focus-bg-color;
@lime-button-selected-text-color: @lime-component-text-color;
@lime-button-selected-bg-color: @lime-selected-bg-color;
@lime-button-focus-filter: none;
@lime-button-selected-filter: none;
@lime-button-transparent-text-color: @lime-text-color;
@lime-button-focus-icononly-bg-color: '';
@lime-button-text-shadow: @lime-header-text-shadow;

// Checkbox
// ---------------------------------------
@lime-checkbox-text-color: transparent;
@lime-checkbox-bg-color: transparent;
@lime-checkbox-border-color: @lime-checkbox-color;
@lime-checkbox-disabled-selected-bg-color: @lime-disabled-selected-bg-color;
@lime-checkbox-disabled-selected-border-color: @lime-checkbox-disabled-selected-bg-color;
@lime-checkbox-focus-disabled-selected-text-color: @lime-disabled-selected-focus-color;
@lime-checkbox-focus-disabled-selected-bg-color: @lime-disabled-selected-focus-bg-color;
@lime-checkbox-focus-disabled-selected-border-color: @lime-checkbox-focus-disabled-selected-bg-color;
@lime-checkbox-focus-text-color: @lime-checkbox-text-color;
@lime-checkbox-focus-bg-color: @lime-checkbox-bg-color;
@lime-checkbox-focus-border-color: @lime-component-focus-text-color;
@lime-checkbox-selected-text-color: @lime-selected-color;
@lime-checkbox-selected-bg-color: @lime-toggle-on-bg-color;
@lime-checkbox-selected-border-color: @lime-checkbox-selected-bg-color;
@lime-checkbox-selected-focus-text-color: @lime-checkbox-selected-text-color;
@lime-checkbox-selected-focus-bg-color: @lime-checkbox-selected-bg-color;
@lime-checkbox-selected-focus-border-color: @lime-checkbox-selected-focus-bg-color;
@lime-checkbox-indeterminate-text-color: @lime-checkbox-border-color;
@lime-checkbox-indeterminate-bg-color: @lime-checkbox-bg-color;
@lime-checkbox-indeterminate-border-color: @lime-checkbox-border-color;
@lime-checkbox-indeterminate-focus-text-color: @lime-component-focus-text-color;
@lime-checkbox-indeterminate-focus-bg-color: @lime-checkbox-focus-bg-color;
@lime-checkbox-indeterminate-focus-border-color: @lime-checkbox-focus-border-color;
@lime-checkbox-standalone-bg-disabled-focus-bg-color: @lime-disabled-focus-bg-color;

// ContextualPopup
// ---------------------------------------
@lime-contextualpopup-bg-color: @lime-overlay-bg-color;
@lime-contextualpopup-shadow: 0 24px 60px @lime-shadow-color;

// Dropdown
// ---------------------------------------
@lime-dropdown-title-color: @lime-text-sub-color;
@lime-dropdown-selected-text-color: @lime-selected-text-color;

// FixedPopupPanels
// ---------------------------------------
@lime-fixedpopuppanels-bg-color: @lime-popup-bg-color;
@lime-fixedpopuppanels-scrimtransparent-bg-color: @lime-popup-scrimtransparent-bg-color;
@lime-fixedpopuppanels-shadow: 0 36px 36px @lime-shadow-color;

// FlexiblePopupPanels
// ---------------------------------------
@lime-flexiblepopuppanels-panel-bg-color: @lime-popup-bg-color;
@lime-flexiblepopuppanels-panel-scrimtransparent-bg-color: @lime-popup-scrimtransparent-bg-color;
@lime-flexiblepopuppanels-panel-shadow: 0 36px 36px @lime-shadow-color;

// FormCheckboxItem
// ---------------------------------------
@lime-formcheckboxitem-disabled-text-color: inherit;
@lime-formcheckboxitem-disabled-focus-text-color: @lime-formcheckboxitem-disabled-text-color;

// Header
// ---------------------------------------
@lime-header-text-shadow: 6px 12px 12px @lime-shadow-color;

// Heading
// ---------------------------------------
@lime-heading-text-color: @lime-text-color;
@lime-heading-border-color: @lime-heading-text-color;
@lime-heading-subtitle-text-color: @lime-text-sub-color;

// HolePunchScrim
// ---------------------------------------
@lime-holepunchscrim-bg-color: fade(#000000, 60%); // should be black

// IconItem
// ---------------------------------------
@lime-iconitem-disabled-opacity: 0.4;
@lime-iconitem-label-color: @lime-text-color;
@lime-iconitem-label-dark-color: @lime-component-focus-text-color;

// ImageItem
// ---------------------------------------
@lime-imageitem-caption-color: @lime-text-color;
@lime-imageitem-label-color: @lime-text-sub-color;
@lime-imageitem-image-border-color: transparent;
@lime-imageitem-selection-icon-color: transparent;
@lime-imageitem-selection-icon-bg-color: transparent;
@lime-imageitem-focus-bg-shadow: 0 36px 36px @lime-shadow-color;
@lime-imageitem-focus-selection-icon-color: @lime-imageitem-selection-icon-color;
@lime-imageitem-focus-selection-icon-bg-color: @lime-imageitem-selection-icon-bg-color;
@lime-imageitem-selected-selection-icon-color: @lime-selected-color;
@lime-imageitem-selected-selection-icon-bg-color: @lime-toggle-on-bg-color;
@lime-imageitem-selected-image-border-color: ~"color(from" @lime-selected-color ~"srgb r g b / 0.7)";
@lime-imageitem-selected-focus-selection-icon-color: @lime-imageitem-selected-selection-icon-color;
@lime-imageitem-selected-focus-selection-icon-bg-color: @lime-imageitem-selected-selection-icon-bg-color;

// Input
// ---------------------------------------
@lime-input-fullscreen-background-color: @lime-fullscreen-bg-color;
@lime-input-overlay-background-color: @lime-popup-bg-color;
@lime-input-numbercell-background-color: ~"color(from" @lime-text-color ~"srgb r g b / 0.2)";
@lime-input-invalid-tooltip-color: @lime-inputfield-invalid-tooltip-color;
@lime-input-numberfield-disabled-color: ~"color(from" @lime-component-focus-text-color ~"srgb r g b /" @lime-disabled-focus-content-color-opacity ~")";
@lime-input-numberfield-disabled-opacity: @lime-disabled-focus-bg-opacity;

// InputField
// ---------------------------------------
@lime-inputfield-text-color: @lime-text-color;
@lime-inputfield-placeholder-color: ~"color(from" @lime-component-text-color ~"srgb r g b / 0.2)";
@lime-inputfield-placeholder-active-color: ~"color(from" @lime-component-focus-text-color ~"srgb r g b / 0.4)";
@lime-inputfield-focus-text-color: @lime-component-focus-text-color;
@lime-inputfield-disabled-text-color: inherit;
@lime-inputfield-invalid-color: @lime-invalid-color;
@lime-inputfield-invalid-tooltip-color: @lime-invalid-sub-color;

// Item
// ---------------------------------------
@lime-item-label-color: @lime-text-sub-color;
@lime-item-focus-label-color: inherit;
@lime-item-focus-background: '';

// KeyGuide
// ---------------------------------------
@lime-keyguide-bg-color: ~"color(from" @lime-keyguide-bg-base-color ~"srgb r g b /" @lime-keyguide-bg-color-opacity ~")";
@lime-keyguide-item-color: @lime-text-sub-color;
@lime-keyguide-colordot-red-color: @lime-remote-button-red-color;
@lime-keyguide-colordot-green-color: @lime-remote-button-green-color;
@lime-keyguide-colordot-yellow-color: @lime-remote-button-yellow-color;
@lime-keyguide-colordot-blue-color: @lime-remote-button-blue-color;

// MediaOverlay
// ---------------------------------------
@lime-mediaoverlay-caption-color: @lime-text-color;
@lime-mediaoverlay-subtitle-color: @lime-text-sub-color;

// MediaPlayer
// ---------------------------------------
@lime-mediaplayer-slider-knob-color: @lime-progress-color;
@lime-mediaplayer-slider-tooltip-text-shadow: @lime-overlay-text-shadow;

// MediaSlider
// ---------------------------------------
@lime-mediaslider-bar-bg-color: ~"color(from" @lime-progress-color ~"srgb r g b / 0.3)";
@lime-mediaslider-disabled-bar-opacity: 0.3;
@lime-mediaslider-fill-bg-color: @lime-progress-color;

// Picker
// ---------------------------------------
@lime-picker-text-color: @lime-text-color;
@lime-picker-indicator-active-bg-color: @lime-component-active-indicator-bg-color;
@lime-picker-indicator-active-focus-bg-color: @lime-component-focus-active-indicator-bg-color;
@lime-picker-indicator-inactive-bg-color: @lime-component-inactive-indicator-bg-color;
@lime-picker-indicator-inactive-focus-bg-color: @lime-component-focus-inactive-indicator-bg-color;
@lime-picker-joined-horizontal-text-color: @lime-component-text-color;
@lime-picker-joined-horizontal-bg-color: @lime-component-bg-color;
@lime-picker-joined-text-color: @lime-text-color;
@lime-picker-joined-incrementer-color: ~"color(from" @lime-component-text-sub-color ~"srgb r g b / 0.5)";
@lime-picker-joined-focus-incrementer-color: @lime-component-focus-text-color;
@lime-picker-joined-focus-disabled-text-color: @lime-picker-indicator-active-focus-bg-color;
@lime-picker-joined-focus-disabled-indicator-bg-color: @lime-picker-indicator-active-focus-bg-color;
@lime-picker-joined-focus-disabled-indicator-opacity: 0.9;
@lime-picker-joined-focus-disabled-indicator-active-opacity: 1;

// Popup
// ---------------------------------------
@lime-popup-bg-color: ~"color(from" @lime-overlay-bg-color ~"srgb r g b / 0.9)";
@lime-popup-scrimtransparent-bg-color: ~"color(from" @lime-overlay-bg-color ~"srgb r g b / 0.95)";

// PopupTabLayout
// ---------------------------------------
@lime-popuptablayout-bg-color: @lime-popup-bg-color;
@lime-popuptablayout-scrimtransparent-bg-color: @lime-popup-scrimtransparent-bg-color;
@lime-popuptablayout-shadow: 0 42px 24px @lime-shadow-color;

// ProgressBar
// ---------------------------------------
@lime-progressbar-bar-bg-color: ~"color(from" @lime-progress-bg-color ~"srgb r g b /" @lime-progress-bg-color-opacity ~")";
@lime-progressbar-load-bg-color: ~"color(from" @lime-progress-color ~"srgb r g b / 0.3)";
@lime-progressbar-fill-bg-color: @lime-progress-color;
@lime-progressbar-highlighted-fill-bg-color: @lime-progress-highlighted-color;

// ProgressButton
// ---------------------------------------
@lime-progressbutton-bar-color: @lime-component-text-sub-color;
@lime-progressbutton-focus-fill-color: @lime-component-focus-text-color;

// RadioItem
// ---------------------------------------
@lime-radioitem-indicator-color: transparent;
@lime-radioitem-indicator-bg-color: transparent;
@lime-radioitem-indicator-border-color: @lime-text-color;
@lime-radioitem-focus-indicator-color: transparent;
@lime-radioitem-focus-indicator-bg-color: transparent;
@lime-radioitem-focus-indicator-border-color: @lime-component-focus-text-color;
@lime-radioitem-selected-indicator-color: @lime-selected-color;
@lime-radioitem-selected-indicator-bg-color: @lime-toggle-on-bg-color;
@lime-radioitem-selected-indicator-border-color: @lime-radioitem-selected-indicator-bg-color;
@lime-radioitem-selected-focus-indicator-color: @lime-radioitem-selected-indicator-color;
@lime-radioitem-selected-focus-indicator-bg-color:  @lime-radioitem-selected-indicator-bg-color;
@lime-radioitem-selected-focus-indicator-border-color: @lime-radioitem-selected-focus-indicator-bg-color;
@lime-radioitem-disabled-selected-color: @lime-disabled-selected-color;
@lime-radioitem-disabled-selected-bg-color: @lime-disabled-selected-bg-color;
@lime-radioitem-disabled-selected-border-color: @lime-radioitem-disabled-selected-bg-color;
@lime-radioitem-focus-disabled-selected-color: @lime-disabled-selected-focus-color;
@lime-radioitem-focus-disabled-selected-bg-color: @lime-disabled-selected-focus-bg-color;
@lime-radioitem-focus-disabled-selected-border-color: @lime-radioitem-focus-disabled-selected-bg-color;

// Scrollbar
// ---------------------------------------
@lime-scrollbar-track-bg-color: ~"color(from" @lime-progress-bg-color ~"srgb r g b / 0.5)";
@lime-scrollbar-thumb-bg-color: ~"color(from" @lime-progress-color ~"srgb r g b / 0.6)";
@lime-scrollbar-thumb-focus-bg-color: @lime-focus-bg-color;
@lime-scrollbar-thumb-focus-direction-indicator-color: ~"color(from" @lime-component-focus-text-color ~"srgb r g b / 0.4)";
@lime-scrollbar-thumb-focus-box-shadow-color: @lime-shadow-color;

// Scroller
// ---------------------------------------
@lime-scroll-focusablebody-focus-bg-color: ~"color(from" @lime-focus-bg-color ~"srgb r g b / 0.1)";

// Slider
// ---------------------------------------
@lime-slider-bar-bg-color: @lime-progressbar-bar-bg-color;
@lime-slider-load-bg-color: @lime-progressbar-load-bg-color;
@lime-slider-fill-bg-color: @lime-progress-slider-color;
@lime-slider-knob-bg-color: @lime-slider-fill-bg-color;
@lime-slider-knob-border-color: transparent;
@lime-slider-focus-bar-bg-color: @lime-slider-bar-bg-color;
@lime-slider-focus-load-bg-color: @lime-slider-load-bg-color;
@lime-slider-focus-fill-bg-color: @lime-focus-bg-color;
@lime-slider-focus-knob-bg-color: @lime-slider-focus-fill-bg-color;
@lime-slider-focus-knob-border-color: @lime-slider-knob-border-color;
@lime-slider-focus-knob-shadow: 0 6px 12px ~"color(from" @lime-shadow-base-color ~"srgb r g b / 0.5)";
@lime-slider-active-bar-bg-color: @lime-slider-focus-bar-bg-color;
@lime-slider-active-load-bg-color: @lime-slider-focus-load-bg-color;
@lime-slider-active-fill-bg-color: @lime-slider-focus-fill-bg-color;
@lime-slider-disabled-bar-opacity: 0.4;
@lime-slider-disabled-focus-knob-bg-color: @lime-slider-focus-knob-bg-color;

// Spinner
// ---------------------------------------
@lime-spinner-head-color: @lime-spinner-color;
@lime-spinner-empty-color: ~"color(from" @lime-spinner-color ~"srgb r g b / 0.2)";
@lime-spinner-bg-color: @lime-component-bg-color;
@lime-spinner-text-color: @lime-component-text-color;
@lime-spinner-text-shadow-color: @lime-shadow-color;

// Steps
// ---------------------------------------
@lime-steps-pageindicator-current-bg-color: @lime-component-text-color;

// Switch
// ---------------------------------------
@lime-switch-color: @lime-toggle-off-color;
@lime-switch-bg-color: @lime-toggle-off-bg-color;
@lime-switch-focus-color: @lime-switch-color;
@lime-switch-selected-color: @lime-toggle-on-color;
@lime-switch-selected-bg-color: @lime-toggle-on-bg-color;
@lime-switch-selected-focus-color: @lime-switch-selected-color;
@lime-switch-disabled-selected-color: @lime-switch-color;
@lime-switch-disabled-selected-bg-color: @lime-switch-bg-color;

// TabLayout
// ---------------------------------------
@lime-tablayout-tab-horizontal-border-color: ~"color(from" @lime-text-color ~"srgb r g b / 0.5)";
@lime-tablayout-tab-horizontal-selected-border-color: @lime-selected-color;

// Tooltip
// ---------------------------------------
@lime-tooltip-bg-color:               @lime-focus-bg-color;
@lime-tooltip-text-color:             @lime-component-focus-text-color;
@lime-tooltip-shadow:                 0 18px 12px @lime-shadow-color;

// VideoPlayer
// ---------------------------------------
@lime-video-feedback-mini-bg-color: fade(#000000, 50%); // should be black
@lime-video-feedback-mini-text-color: @lime-focus-text-color;
@lime-video-slider-tooltip-color: @lime-text-color;
@lime-video-slider-tooltip-thumbnail-border-color: @lime-text-color;
@lime-video-player-bottom-bg-color: transparent;
@lime-video-player-title-color: @lime-focus-text-color;
@lime-video-player-title-text-shadow: 0 4px 4px ~"color(from" @lime-shadow-base-color ~"srgb r g b / 0.75)";
@lime-video-player-scrim-gradient-color: linear-gradient(180deg, transparent 0%, #000 100%);
