// colors-light.less (light skin)
//

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------


// UI Conceptual Colors
// ---------------------------------------

// common colors
@lime-alias-color-surface-full: var(--lime-bg-color, #cacbcc);
@lime-alias-color-on-surface-main: var(--lime-text-color, #2e3239);
@lime-alias-color-on-sub: var(--lime-text-sub-color, #2e3239);
@lime-focus-text-color: var(--lime-focus-text-color, #575e66);
@lime-disabled-selected-color: var(--lime-disabled-selected-color, #ffffff);
@lime-disabled-selected-bg-color: var(--lime-disabled-selected-bg-color, #788688);
@lime-disabled-selected-focus-color: var(--lime-disabled-selected-focus-color, #e6e6e6);
@lime-disabled-selected-focus-bg-color: var(--lime-disabled-selected-focus-bg-color, #4c5059);
@lime-alias-color-surface-overlay: var(--lime-alert-overlay-bg-color, #bbbbbb);
@lime-progress-color: var(--lime-progress-color, #373a41);
@lime-progress-bg-color: var(--lime-progress-bg-color, #a1a1a1);
@lime-progress-bg-color-opacity: var(--lime-progress-bg-color-opacity, 0.4);
@lime-progress-highlighted-color: var(--lime-progress-highlighted-color, #000000);

// component colors
@lime-checkbox-color: var(--lime-checkbox-color, #858b92);
@lime-item-disabled-focus-bg-color: var(--lime-item-disabled-focus-bg-color, #989ca2);
@lime-keyguide-bg-base-color: var(--lime-keyguide-bg-color, #bbbbbb);


// Overlay Alert
// --------------------------------------

// common colors
@lime-alert-overlay-bg-color: var(--lime-alert-overlay-bg-color, #000000);
@lime-alert-overlay-text-color: var(--lime-alert-overlay-text-color, #e6e6e6);
@lime-alert-overlay-text-sub-color: var(--lime-alert-overlay-text-sub-color, #abaeb3);
@lime-alert-overlay-focus-text-color: var(--lime-alert-overlay-focus-text-color, #ffffff);

// component colors
@lime-alert-overlay-progress-color: var(--lime-alert-overlay-progress-color, #e6e6e6);
@lime-alert-overlay-progress-bg-color: var(--lime-alert-overlay-progress-bg-color, #373a41);
@lime-alert-overlay-progress-bg-color-opacity: var(--lime-alert-overlay-progress-bg-color-opacity, 1);
@lime-alert-overlay-checkbox-color: var(--lime-alert-overlay-checkbox-color, #e6e6e6);
@lime-alert-overlay-checkbox-disabled-selected-text-color: var(--lime-alert-overlay-checkbox-disabled-selected-text-color, #4c5059);
@lime-alert-overlay-item-disabled-focus-bg-color: var(--lime-alert-overlay-item-disabled-focus-bg-color, #e6e6e6);
