// colors-highcontast.less (neutral skin + high-contrast variant)
//

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

// UI Conceptual Colors
// ---------------------------------------

@lime-overlay-outline-color: #7c848b;
@lime-overlay-outline-style: solid;

// ---------------------------------------
// Component Colors
// ---------------------------------------

// Popup
// ---------------------------------------
@lime-popup-bg-color: var(--semantic-color-background-overlay-default); // opaque
@lime-popup-scrimtransparent-bg-color: var(--semantic-color-background-overlay-default); // opaque
