// colors.less (neutral skin)
//

// ---------------------------------------
// Universal Color Definitions
// ---------------------------------------

// Remote button colors
// ---------------------------------------
@lime-colorkey-icon-red:     #ff6d78;
@lime-colorkey-icon-green:   #93d371;
@lime-colorkey-icon-yellow:  #ffc600;
@lime-colorkey-icon-blue:    #0084ff;

// UI Conceptual Colors
// ---------------------------------------

@lime-overlay-outline-color: var(--semantic-color-stroke-overlay-default);
@lime-overlay-outline-style: solid;

@lime-invalid-color: #ff0000; // TBD
@lime-shadow-color: ~"color(from" var(--semantic-color-on-background-black) ~"srgb r g b / 0.35)";

// Overlay Alert
// ---------------------------------------

// common colors
@lime-alert-overlay-bg-color: var(--lime-alert-overlay-bg-color, var(--semantic-color-background-popup-default));
@lime-alert-overlay-bg-color-opacity: 1;
@lime-alert-overlay-text-color: var(--lime-alert-overlay-text-color, var(--semantic-color-on-background-popup-main));
@lime-alert-overlay-text-sub-color: var(--lime-alert-overlay-text-sub-color, var(--semantic-color-on-background-popup-sub));
@lime-alert-overlay-focus-text-color: var(--lime-alert-overlay-focus-text-color, var(--semantic-color-on-surface-main-focused));
@lime-alert-overlay-disabled-selected-color: var(--lime-alert-overlay-disabled-selected-color, var(--primitive-color-neutral-gray-65));
@lime-alert-overlay-disabled-selected-bg-color: var(--lime-alert-overlay-disabled-selected-bg-color, var(--primitive-color-neutral-gray-60));
@lime-alert-overlay-disabled-selected-focus-color: var(--lime-alert-overlay-disabled-selected-focus-color, var(--primitive-color-neutral-gray-65));
@lime-alert-overlay-disabled-selected-focus-bg-color: var(--lime-alert-overlay-disabled-selected-focus-bg-color, var(--primitive-color-neutral-gray-60));
@lime-alert-overlay-outline-style: none;

// component colors
@lime-alert-overlay-progress-color: var(--lime-alert-overlay-progress-color, var(--semantic-color-surface-accent));
@lime-alert-overlay-progress-bg-color: var(--lime-alert-overlay-progress-bg-color, var(--semantic-color-surface-popup-default-track));
@lime-alert-overlay-progress-bg-color-opacity: var(--lime-alert-overlay-progress-bg-color-opacity, 1);
@lime-alert-overlay-checkbox-color: var(--lime-alert-overlay-checkbox-color, var(--semantic-color-on-surface-main-selected));
@lime-alert-overlay-checkbox-disabled-selected-text-color: var(--lime-alert-overlay-checkbox-disabled-selected-text-color, var(--primitive-color-neutral-gray-65));
@lime-alert-overlay-formcheckboxitem-focus-text-color: var(--lime-alert-overlay-formcheckboxitem-focus-text-color, @lime-alert-overlay-focus-text-color);
@lime-alert-overlay-item-disabled-focus-bg-color: var(--lime-alert-overlay-item-disabled-focus-bg-color, var(--semantic-color-surface-default-disabled-focused));

// Disabled Opacity
// ---------------------------------------
@lime-disabled-opacity: 0.3;  // This value brings the standard text-color to the disabled text color specs
@lime-disabled-bg-opacity: @lime-disabled-opacity;
@lime-disabled-focus-content-opacity: 0.4;
@lime-disabled-focus-content-color-opacity: 0.4;
@lime-disabled-focus-bg-opacity: 0.585;  // This value brings the standard focus-background-color to the disabled+focus color specs

// Spotlight and State
// ---------------------------------------
@lime-spotlight-text-color:           var(--semantic-color-on-surface-main-focused); // Used in color-mixins.less, QA Sampler Marquee
@lime-spotlight-bg-color:             var(--semantic-color-surface-default-focused); // If this changes, update Button bg-color mixins in color-mixins.less
@lime-spotlight-focus-shadow:         0 24px 36px @lime-shadow-color; // Used in color-mixins.less


// ---------------------------------------
// Component Colors
// ---------------------------------------

// ActionGuide
// ---------------------------------------
@lime-actionguide-icon-color: @lime-actionguide-label-color;
@lime-actionguide-label-color: var(--semantic-color-on-background-sub);

// Alert
// ---------------------------------------
@lime-alert-bg-color: var(--semantic-color-background-full-default);
@lime-alert-overlay-shadow: 0 36px 48px 0 @lime-shadow-color;

// Button
// ---------------------------------------
@lime-button-fill-label-color: var(--semantic-color-on-surface-main);
@lime-button-fill-container-color: var(--semantic-color-surface-default);
@lime-button-outline-container-color: ~"color(from" var(--semantic-color-surface-default) ~"srgb r g b / 0.5)";
@lime-button-outline-border-color: var(--semantic-color-stroke-button-outline);
@lime-button-outline-border-selected-color: var(--semantic-color-stroke-default-selected);
@lime-button-fill-container-focused-color: var(--semantic-color-surface-default-focused);
@lime-button-fill-label-selected-color: var(--semantic-color-on-surface-main);
@lime-button-fill-container-selected-color: var(--semantic-color-surface-default-selected);
@lime-button-filter-focused: none;
@lime-button-filter-selected: none;
@lime-button-transparent-fill-text-color: var(--semantic-color-on-background-main);
@lime-button-icononly-bg-focused-color: '';
@lime-button-text-shadow: @lime-header-text-shadow;

// Card
// ---------------------------------------
@lime-card-container-color: ~"color(from" var(--semantic-color-surface-default-translucent) ~"srgb r g b / 0.1)";
@lime-card-selection-icon-color: transparent;
@lime-card-selection-icon-selected-color: var(--semantic-color-on-surface-main-selected);
@lime-card-selection-container-selected-color: var(--semantic-color-surface-accent);
@lime-card-border-selected-color: var(--semantic-color-stroke-default-selected);
@lime-card-container-focused-color: var(--semantic-color-surface-default-focused);
@lime-card-border-focused-color: var(--semantic-color-stroke-default-focused);
@lime-card-scrim-color: ~"color(from" var(--semantic-color-scrim-default) ~"srgb r g b / 0.5)";
@lime-card-label-main-color: var(--semantic-color-on-background-main);
@lime-card-label-sub-color: var(--semantic-color-on-background-sub);
@lime-card-label-main-focused-color: var(--semantic-color-on-surface-main-focused);
@lime-card-label-sub-focused-color: var(--semantic-color-on-surface-sub-focused);

// Checkbox
// ---------------------------------------
@lime-checkbox-container-color: transparent;
@lime-checkbox-container-focused-color: @lime-checkbox-container-color;
@lime-checkbox-container-selected-color: var(--semantic-color-surface-accent);
@lime-checkbox-container-selected-focused-color: @lime-checkbox-container-selected-color;
@lime-checkbox-container-selected-disabled-color: @lime-checkbox-container-selected-color;
@lime-checkbox-container-selected-disabled-focused-color:  @lime-checkbox-container-selected-color;
@lime-checkbox-container-indeterminate-color: @lime-checkbox-container-color;
@lime-checkbox-container-indeterminate-focused-color: @lime-checkbox-container-indeterminate-color;
@lime-checkbox-container-standalone-disabled-focused-color: @lime-item-container-disabled-focused-color;
@lime-checkbox-icon-color: transparent;
@lime-checkbox-icon-focused-color: @lime-checkbox-icon-color;
@lime-checkbox-icon-selected-color: var(--semantic-color-on-surface-main-selected);
@lime-checkbox-icon-selected-focused-color: @lime-checkbox-icon-selected-color;
@lime-checkbox-icon-selected-disabled-color: @lime-checkbox-icon-selected-color;
@lime-checkbox-icon-selected-disabled-focused-color: @lime-checkbox-icon-selected-color;
@lime-checkbox-icon-indeterminate-color: @lime-checkbox-border-color;
@lime-checkbox-icon-indeterminate-focused-color: @lime-checkbox-border-focused-color;
@lime-checkbox-border-color: var(--semantic-color-stroke-selection-inactive);
@lime-checkbox-border-focused-color: var(--semantic-color-stroke-selection-inactive-focused);
@lime-checkbox-border-selected-color: @lime-checkbox-container-selected-color;
@lime-checkbox-border-selected-focused-color: @lime-checkbox-border-selected-color;
@lime-checkbox-border-selected-disabled-color: @lime-checkbox-border-selected-color;
@lime-checkbox-border-selected-disabled-focused-color: @lime-checkbox-border-selected-color;
@lime-checkbox-border-disabled-color: @lime-checkbox-border-color;
@lime-checkbox-border-disabled-focused-color: @lime-checkbox-border-focused-color;
@lime-checkbox-border-indeterminate-color: var(--semantic-color-stroke-selection-inactive);
@lime-checkbox-border-indeterminate-focused-color: var(--semantic-color-stroke-selection-inactive-focused);
@lime-checkbox-border-indeterminate-disabled-color: @lime-checkbox-border-indeterminate-color;
@lime-checkbox-border-indeterminate-disabled-focused-color: @lime-checkbox-border-indeterminate-focused-color;

// ContextualPopup
// ---------------------------------------
@lime-contextGroup-container-color: var(--semantic-color-surface-context-group);
@lime-contextGroup-border-color: var(--primitive-color-cool-gray-30);
@lime-contextualpopup-shadow: 0px 36px 48px 0px @lime-shadow-color;

// DateTime
// ---------------------------------------
@lime-datetime-label-color: @lime-heading-label-main-color;

// Dropdown
// ---------------------------------------
@lime-dropdown-title-text-color: var(--semantic-color-on-surface-sub);
@lime-dropdown-label-selected-color: var(--semantic-color-on-surface-main-selected);

// FixedPopupPanels
// ---------------------------------------
@lime-fixedpopuppanels-bg-color: @lime-popup-bg-color;
@lime-fixedpopuppanels-scrimtransparent-bg-color: @lime-popup-scrimtransparent-bg-color;
@lime-fixedpopuppanels-shadow: 0 36px 36px @lime-shadow-color;

// FlexiblePopupPanels
// ---------------------------------------
@lime-flexiblepopuppanels-panel-bg-color: @lime-popup-bg-color;
@lime-flexiblepopuppanels-panel-scrimtransparent-bg-color: @lime-popup-scrimtransparent-bg-color;
@lime-flexiblepopuppanels-panel-shadow: 0 36px 36px @lime-shadow-color;

// FormCheckboxItem
// ---------------------------------------
@lime-formcheckboxitem-disabled-text-color: inherit;
@lime-formcheckboxitem-disabled-focus-text-color: @lime-formcheckboxitem-disabled-text-color;
@lime-formcheckboxitem-focus-text-color: var(--semantic-color-on-background-main);

// Header
// ---------------------------------------
@lime-header-text-shadow: 6px 12px 12px @lime-shadow-color;

// Heading
// ---------------------------------------
@lime-heading-label-main-color: var(--semantic-color-on-background-main);
@lime-heading-label-sub-color: var(--semantic-color-on-background-sub);
@lime-heading-label-tiny-color: var(--semantic-color-on-background-heading);
@lime-heading-border-color: @lime-heading-label-main-color;

// HolePunchScrim
// ---------------------------------------
@lime-holepunchscrim-bg-color: fade(#000000, 60%); // should be black

// IconItem
// ---------------------------------------
@lime-iconitem-disabled-opacity: 0.4;
@lime-iconitem-label-color: var(--semantic-color-on-background-main);
@lime-iconitem-label-dark-color: var(--semantic-color-on-surface-main-focused);
@lime-iconitem-border-color: ~"color(from" var(--semantic-color-stroke-default-focused) ~"srgb r g b / 0.3)";

// ImageItem
// ---------------------------------------
@lime-imageitem-caption-color: var(--semantic-color-on-background-main);
@lime-imageitem-label-color: var(--semantic-color-on-background-sub);
@lime-imageitem-image-border-color: transparent;
@lime-imageitem-selection-icon-color: transparent;
@lime-imageitem-selection-icon-bg-color: transparent;
@lime-imageitem-focus-bg-shadow: 0 36px 36px @lime-shadow-color;
@lime-imageitem-focus-selection-icon-color: @lime-imageitem-selection-icon-color;
@lime-imageitem-focus-selection-icon-bg-color: @lime-imageitem-selection-icon-bg-color;
@lime-imageitem-selected-selection-icon-color: var(--semantic-color-on-surface-main-selected);
@lime-imageitem-selected-selection-icon-bg-color: var(--semantic-color-surface-toggle-active);
@lime-imageitem-selected-image-border-color: ~"color(from" var(--semantic-color-on-surface-main-selected) ~"srgb r g b / 0.7)";
@lime-imageitem-selected-focus-selection-icon-color: @lime-imageitem-selected-selection-icon-color;
@lime-imageitem-selected-focus-selection-icon-bg-color: @lime-imageitem-selected-selection-icon-bg-color;

// Input
// ---------------------------------------
@lime-input-bg-color: var(--semantic-color-surface-input);
@lime-input-disabled-bg-focused-color: var(--semantic-color-surface-default-disabled-focused);
@lime-input-dot-focused-color: var(--semantic-color-on-surface-main-focused);
@lime-input-fullscreen-background-color: var(--semantic-color-background-full-default);
@lime-input-overlay-background-color: @lime-popup-bg-color;
@lime-input-invalid-tooltip-color: @lime-inputfield-invalid-tooltip-color;
@lime-input-numberfield-disabled-color: ~"color(from" var(--semantic-color-on-surface-main-focused) ~"srgb r g b /" @lime-disabled-focus-content-color-opacity ~")";
@lime-input-numberfield-disabled-opacity: @lime-disabled-focus-bg-opacity;
@lime-input-selection-color: #4c5059;
@lime-input-selection-bg-color: #3399ff;

// InputField
// ---------------------------------------
@lime-inputfield-container-color: @lime-input-bg-color;
@lime-inputfield-container-disabled-focused-color: @lime-input-disabled-bg-focused-color;
@lime-inputfield-cursor-color: var(--semantic-color-on-surface-accent);
@lime-inputfield-label-active-color: var(--semantic-color-on-surface-main-focused);
@lime-inputfield-label-inactive-color: var(--semantic-color-on-surface-input);
@lime-inputfield-label-inactive-focused-color: var(--semantic-color-on-surface-main-focused);
@lime-inputfield-label-inactive-focused-opacity: 0.4;
@lime-inputfield-invalid-color: @lime-invalid-color;
@lime-inputfield-invalid-tooltip-color: var(--semantic-color-on-background-error);

// Item
// ---------------------------------------
@lime-item-label-main-selected-color: var(--semantic-color-on-background-main);
@lime-item-label-sub-color: var(--semantic-color-on-background-sub);
@lime-item-label-sub-focused-color: var(--semantic-color-on-surface-sub-focused);
@lime-item-label-sub-selected-color: var(--semantic-color-on-background-sub);
@lime-item-container-selected-color: ~"color(from" var(--semantic-color-surface-default-translucent) ~"srgb r g b / 0.1)";
@lime-item-container-disabled-focused-color: var(--semantic-color-surface-default-disabled-focused);

// KeyGuide
// ---------------------------------------
@lime-keyguide-bg-color: var(--semantic-color-background-overlay-default);
@lime-keyguide-item-color: var(--semantic-color-on-surface-overlay-main);
@lime-keyguide-colordot-red-color: @lime-colorkey-icon-red;
@lime-keyguide-colordot-green-color: @lime-colorkey-icon-green;
@lime-keyguide-colordot-yellow-color: @lime-colorkey-icon-yellow;
@lime-keyguide-colordot-blue-color: @lime-colorkey-icon-blue;
@lime-keyguide-icon-shadow: 0px 36px 48px 0px rgba(0, 0, 0, 0.35);
@lime-keyguide-image-shadow: 0px 24px 36px 0px rgba(0, 0, 0, 0.35);

// MediaOverlay
// ---------------------------------------
@lime-mediaoverlay-caption-color: var(--semantic-color-on-background-main);
@lime-mediaoverlay-subtitle-color: var(--semantic-color-on-background-sub);

// MediaPlayer
// ---------------------------------------
@lime-mediaplayer-slider-knob-color: var(--semantic-color-on-surface-accent);
@lime-mediaplayer-slider-tooltip-text-shadow: 0 4px 4px @lime-shadow-color;

// MediaSlider
// ---------------------------------------
@lime-mediaslider-bar-bg-color: @lime-slider-track-color;
@lime-mediaslider-disabled-bar-opacity: 0.3;
@lime-mediaslider-fill-bg-color: var(--semantic-color-on-surface-accent);

// PageViews
// ---------------------------------------
@lime-pageviews-bg-color: ~"color(from" var(--semantic-color-surface-default-group) ~"srgb r g b / 0.1)";

// Picker
// ---------------------------------------
@lime-picker-label-color: var(--semantic-color-on-background-main);
@lime-picker-container-color: var(--semantic-color-surface-default);
@lime-picker-indicator-color: var(--semantic-color-on-surface-main);
@lime-picker-indicator-focused-color: var(--semantic-color-on-surface-main-focused);
@lime-picker-joined-label-color: var(--semantic-color-on-surface-main);

// Popup
// ---------------------------------------
@lime-popup-bg-color: ~"color(from" var(--semantic-color-background-overlay-default) ~"srgb r g b / 0.9)";
@lime-popup-scrimtransparent-bg-color: ~"color(from" var(--semantic-color-background-overlay-default) ~"srgb r g b / 0.95)";

// PopupTabLayout
// ---------------------------------------
@lime-popuptablayout-content-background-color: var(--semantic-color-background-overlay-default);
@lime-popuptablayout-shadow: 0 36px 48px @lime-shadow-color;

// ProgressBar
// ---------------------------------------
@lime-progressbar-track-color: ~"color(from" var(--semantic-color-surface-default-track) ~"srgb r g b / 0.7)";
@lime-progressbar-track-buffer-color: ~"color(from" var(--semantic-color-surface-white) ~"srgb r g b / 0.5)";
@lime-progressbar-track-active-color: var(--semantic-color-surface-accent);
@lime-progressbar-track-active-focused-color: var(--semantic-color-surface-default-focused);

// ProgressButton
// ---------------------------------------
@lime-progressbutton-track-color: ~"color(from" var(--semantic-color-on-surface-white) ~"srgb r g b / 0.2)";
@lime-progressbutton-track-active-color: var(--semantic-color-on-surface-main);
@lime-progressbutton-track-focused-color: ~"color(from" var(--semantic-color-on-surface-main-focused) ~"srgb r g b / 0.2)";
@lime-progressbutton-track-active-focused-color: var(--semantic-color-on-surface-main-focused);

// RadioItem
// ---------------------------------------
@lime-radioitem-icon-color: transparent;
@lime-radioitem-icon-focused-color: transparent;
@lime-radioitem-icon-selected-color: var(--semantic-color-on-surface-main-selected);
@lime-radioitem-icon-selected-focused-color: @lime-radioitem-icon-selected-color;
@lime-radioitem-container-color: transparent;
@lime-radioitem-container-focused-color: transparent;
@lime-radioitem-container-selected-color: var(--semantic-color-surface-accent);
@lime-radioitem-container-selected-focused-color: @lime-radioitem-container-selected-color;
@lime-radioitem-border-color: var(--semantic-color-stroke-selection-inactive);
@lime-radioitem-border-focused-color: var(--semantic-color-stroke-selection-inactive-focused);
@lime-radioitem-border-selected-color: @lime-radioitem-container-selected-color;
@lime-radioitem-border-selected-focused-color: @lime-radioitem-container-selected-focused-color;

// Scrollbar
// ---------------------------------------
@lime-scroll-track-color: transparent;
@lime-scroll-track-focused-color: ~"color(from" var(--semantic-color-surface-default-track) ~"srgb r g b / 0.5)" ;
@lime-scroll-handle-color: var(--semantic-color-surface-scroll-handle);
@lime-scroll-handle-focused-color: var(--semantic-color-surface-default-focused);
@lime-scroll-arrow-color: var(--semantic-color-on-surface-accent);
@lime-scrollbar-thumb-focus-box-shadow-color: @lime-shadow-color;

// Scroller
// ---------------------------------------
@lime-scroll-focusablebody-focus-bg-color: ~"color(from" var(--semantic-color-surface-default-focused) ~"srgb r g b / 0.1)";

// Slider
// ---------------------------------------
@lime-slider-track-color: ~"color(from" var(--semantic-color-surface-default-track) ~"srgb r g b / 0.7)";
@lime-slider-track-buffer-color: ~"color(from" var(--semantic-color-surface-white) ~"srgb r g b / 0.5)";
@lime-slider-track-active-color: var(--semantic-color-surface-accent);
@lime-slider-track-active-focused-color: var(--semantic-color-surface-accent);
@lime-slider-handle-color: var(--semantic-color-surface-handle);
@lime-slider-handle-border-color: transparent;
@lime-slider-handle-focused-border-color: @lime-slider-handle-border-color;
@lime-slider-handle-focused-color: var(--semantic-color-surface-default-focused);
@lime-slider-handle-disabled-color: var(--semantic-color-surface-handle);
@lime-slider-handle-focused-shadow: 0 6px 12px @lime-shadow-color;
@lime-slider-disabled-bar-opacity: 0.3;

// Spinner
// ---------------------------------------
@lime-spinner-color: var(--semantic-color-on-background-main);
@lime-spinner-head-color: @lime-spinner-color;
@lime-spinner-empty-color: ~"color(from" @lime-spinner-color ~"srgb r g b / 0.2)";
@lime-spinner-bg-color: var(--semantic-color-surface-default);
@lime-spinner-text-color: var(--semantic-color-on-surface-main);
@lime-spinner-text-shadow-color: @lime-shadow-color;

// Steps
// ---------------------------------------
@lime-steps-indicator-icon-active-color: var(--semantic-color-surface-indicator);
@lime-steps-indicator-icon-inactive-color: ~"color(from" var(--semantic-color-surface-indicator) ~"srgb r g b / 0.4)";
@lime-steps-step-icon-success-color: var(--semantic-color-on-background-main);
@lime-steps-step-label-active-color: var(--semantic-color-on-background-accent);
@lime-steps-step-label-inactive-color: var(--semantic-color-on-background-main);

// Switch
// ---------------------------------------
@lime-switch-handle-inactive-color: var(--semantic-color-surface-toggle-handle);
@lime-switch-container-inactive-color: var(--semantic-color-surface-toggle);
@lime-switch-handle-inactive-focused-color: @lime-switch-handle-inactive-color;
@lime-switch-handle-active-color: var(--semantic-color-on-surface-main);
@lime-switch-container-active-color: var(--semantic-color-surface-toggle-active);
@lime-switch-handle-active-focused-color: @lime-switch-handle-active-color;
@lime-switch-container-active-disabled-color: var(--semantic-color-surface-toggle-active);
@lime-switch-handle-active-disabled-color: var(--semantic-color-on-surface-main);

// SwitchItem
// ---------------------------------------
@lime-switchitem-item-selected-container-color: transparent;

// TabLayout
// ---------------------------------------
@lime-tablayout-tab-container-selected-color: ~"color(from" var(--semantic-color-surface-default-translucent) ~"srgb r g b / 0.1)";
@lime-tablayout-tab-group-container-color: ~"color(from" var(--semantic-color-surface-default-group) ~"srgb r g b / 0.1)";

// Tooltip
// ---------------------------------------
@lime-tooltip-bg-color:               var(--semantic-color-surface-default-focused);
@lime-tooltip-text-color:             var(--semantic-color-on-surface-main-focused);
@lime-tooltip-shadow:                 0 18px 12px @lime-shadow-color;

// VideoPlayer
// ---------------------------------------
@lime-video-feedback-mini-bg-color: fade(#000000, 50%); // should be black
@lime-video-feedback-mini-text-color: var(--semantic-color-on-background-main);
@lime-video-slider-tooltip-color: var(--semantic-color-on-background-main);
@lime-video-slider-tooltip-thumbnail-border-color: var(--semantic-color-on-background-main);
@lime-video-player-bottom-bg-color: transparent;
@lime-video-player-title-color: var(--semantic-color-on-background-main);
@lime-video-player-title-text-shadow: 0 4px 4px @lime-shadow-color;
@lime-video-player-scrim-gradient-color: linear-gradient(180deg, transparent 0%, #000 100%);

// VirtualList
// ---------------------------------------
@lime-virtuallist-container-color: ~"color(from" var(--semantic-color-surface-default-group) ~"srgb r g b / 0.1)";
