@import "../styles/variables.less";

// Motion Tokens

/* ---------------------------------------
Global Motions
------------------------------------------ */
:root {
	/* ---------------------------------------
	Durations
	------------------------------------------ */
	--lime-motion-short1-duration: 50ms;
	--lime-motion-short2-duration: 100ms;
	--lime-motion-short3-duration: 150ms;
	--lime-motion-short4-duration: 200ms;

	--lime-motion-medium1-duration: 250ms;
	--lime-motion-medium2-duration: 300ms;
	--lime-motion-medium3-duration: 350ms;
	--lime-motion-medium4-duration: 400ms;

	--lime-motion-long1-duration: 450ms;
	--lime-motion-long2-duration: 500ms;
	--lime-motion-long3-duration: 550ms;
	--lime-motion-long4-duration: 600ms;

	--lime-motion-extra1-duration: 700ms;
	--lime-motion-extra2-duration: 800ms;
	--lime-motion-extra3-duration: 900ms;
	--lime-motion-extra4-duration: 1000ms;

	/* ---------------------------------------
	Delays
	------------------------------------------ */
	--lime-motion-30-delay: 30ms;
	--lime-motion-50-delay: 50ms;
	--lime-motion-60-delay: 60ms;
	--lime-motion-120-delay: 120ms;
	--lime-motion-130-delay: 130ms;

	/* ---------------------------------------
	Easing functions
	------------------------------------------ */
	--lime-EIO-motion-easing-function: cubic-bezier(0.2, 0.0, 0.05, 1.0);
	--lime-EO-motion-easing-function: cubic-bezier(0.1, 0.6, 0.15, 1.0);
	--lime-EI-motion-easing-function: cubic-bezier(0.4, 0.0, 1.0, 1.0);
	--lime-Linear-motion-easing-function: cubic-bezier(0.0, 0.0, 1.0, 1.0);
}

/* ---------------------------------------
Component Specific Motions - Keyframes
------------------------------------------ */

/* Bounce
	------------------------------------------ */
@keyframes bounce-motion {
	@offset-value: var(--lime-bounce-motion-offset-value);

	0% {transform: translateX(0)}
	50% {transform: translateX(@offset-value)}
	80% {transform: translateX(~"calc(@{offset-value} / -2)")}
	100% {transform: translateX(0)}
}

/* Check
	------------------------------------------ */
@keyframes check-motion {
	0% {transform: translateX(0)}
	100% {transform: translateX(100%)}
}
