// Motion Variables
@import "./motions.less";
@import "./mixins.less";

/* ---------------------------------------
Motion Mixins
------------------------------------------ */
.lime-toggle-motion(@offset: var(--lime-bounce-motion-offset-default-value), @duration: var(--lime-bounce-motion-duration)) {
	animation: var(--lime-bounce-animation-name) @duration var(--lime-bounce-motion-easing-function);
	--lime-bounce-motion-offset-value: @offset;
}

.lime-check-motion() {
	&::after {
		content: '';
		position: absolute;
		.position(0);
		background-color: inherit;
		animation: var(--lime-check-animation-name) var(--lime-check-motion-duration) forwards;
	}
}

.lime-focus-in-motion() {
	transform: @lime-focusexpand-focus-transform;
	transition: transform var(--lime-focus-in-motion-duration) var(--lime-focus-in-motion-easing-function);
}

.lime-focus-out-motion() {
	transition: transform var(--lime-focus-out-motion-duration) var(--lime-focus-out-motion-easing-function);
}

.lime-press-motion() {
	transform: @lime-focusexpand-pressed-transform;
	transition: transform var(--lime-press-motion-duration) var(--lime-press-motion-easing-function);
}

.lime-release-motion() {
	transform: @lime-focusexpand-focus-transform;
	transition: transform var(--lime-release-motion-duration) var(--lime-release-motion-easing-function);
}

.lime-slider-focus-in-motion() {
	transform: @lime-translate-center @lime-slider-focusin-transform;
	transition: transform var(--lime-focus-in-motion-duration) var(--lime-focus-in-motion-easing-function);
}

.lime-slider-focus-out-motion() {
	transform: @lime-translate-center @lime-slider-focusout-transform;
	transition: transform var(--lime-focus-out-motion-duration) var(--lime-focus-out-motion-easing-function);
}

.lime-slider-press-motion() {
	transform: @lime-translate-center @lime-slider-press-transform;
	transition: transform var(--lime-press-motion-duration) var(--lime-press-motion-easing-function);
}

.lime-slider-release-motion() {
	transform: @lime-translate-center @lime-slider-release-transform;
	transition: transform var(--lime-release-motion-duration) var(--lime-release-motion-easing-function);
}

.lime-iconitem-focus-in-motion() {
	transform: @lime-iconitem-focus-transform;
	transition: transform var(--lime-focus-in-motion-duration) var(--lime-focus-in-motion-easing-function);
}

.lime-iconitem-press-motion() {
	transform: @lime-iconitem-pressed-transform;
	transition: transform var(--lime-press-motion-duration) var(--lime-press-motion-easing-function);
}

.lime-iconitem-release-motion() {
	transform: @lime-iconitem-release-transform;
	transition: transform var(--lime-release-motion-duration) var(--lime-release-motion-easing-function);
}
