// Alert
// ---------------------------------------
@lime-alert-overlay-border-radius: 0;

// Button
// ---------------------------------------
@lime-button-border-radius: 0;
@lime-button-bg-border-width: 6px;
@lime-button-bg-border-style: solid;
@lime-button-icononly-border-radius: var(--primitive-radius-12);
@lime-button-icononly-bg-border: 6px;

// Heading
// ---------------------------------------
@lime-heading-font-style: italic;
@lime-heading-padding: 18px 48px;

// Item
// ---------------------------------------
@lime-item-font-weight: var(--primitive-font-weight-regular);
@lime-item-border-radius: 0;

// Scroller
// ---------------------------------------
@lime-scrollbar-track-border-radius: var(--primitive-radius-6);
