// Alert
// ---------------------------------------
@lime-alert-overlay-border-radius: 60px;

// Button
// ---------------------------------------
@lime-button-border-radius: 24px;
@lime-button-bg-border-width: '';
@lime-button-bg-border-style: none;
@lime-button-icononly-border-radius: '';
@lime-button-icononly-bg-border: '';

// ContextualPopup
// ---------------------------------------
@lime-contextualpopup-border-radius: var(--semantic-radius-container);

// Heading
@lime-heading-font-style: normal;
@lime-heading-padding: 0 0 18px 0;

// HolePunchScrim
// ---------------------------------------
@lime-holepunchscrim-border-radius: @lime-button-border-radius;

// Item
// ---------------------------------------
@lime-item-font-weight: 600;
@lime-item-border-radius: 12px;

// Scroller
// ---------------------------------------
// @lime-scrollbar-track-border-radius:
