// Indicator.module.less
//
@import "../styles/mixins.less";
@import '../styles/skin.less';
@import "../styles/variables.less";

.indicator {
  gap: @lime-indicator-gap;
  height: @lime-indicator-height;

  display: flex;
  justify-content: center;
  align-items: center;

  .step {
    margin: 0;
  }

  .applySkins({
    .step {
      &.current {
        color: @lime-indicator-current-dot-color;
      }

      &.inactive {
        color: @lime-indicator-inactive-dot-color;
      }
    }
  });
}

.pageIndicator {
  height: @lime-page-indicator-height;
  width: @lime-page-indicator-width;

  .iconButton {
    margin: 0;
    padding: 0;
  }

  .numberIndicator {
    gap: @lime-number-indicator-gap;
    margin: @lime-number-indicator-margin;
    width: @lime-number-indicator-width;

    display: flex;
    justify-content: center;

    .divider {
      width: @lime-page-indicator-divider-width;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}