// ContextualPopup.module.less
//
@import '../styles/variables.less';
@import '../styles/mixins.less';
@import '../styles/skin.less';

.contextualPopup {
	.lime-body-text();
	position: absolute;

	.container {
		position: absolute;
		min-height: 192px;
		min-width: 192px;
		padding: @lime-contextualpopup-padding;
		background-clip: padding-box;
		box-sizing: border-box;

		&.none,
		&.center { /* Needed to prevent global class being added in the DOM */ }

		&.above {
			&.overlap {	margin-top: @lime-contextualpopup-offset-overlap; }
			&.small { margin-top: ~"calc(@{lime-contextualpopup-offset-small} * -1)"; }
			&.large { margin-top: ~"calc(@{lime-contextualpopup-offset-large} * -1)"; }
		}
		&.below {
			&.overlap {	margin-top: ~"calc(@{lime-contextualpopup-offset-overlap} * -1)"; }
			&.small { margin-top: @lime-contextualpopup-offset-small; }
			&.large { margin-top: @lime-contextualpopup-offset-large; }
		}
		&.right {
			&.top,
			&.middle,
			&.bottom {
				&.overlap { margin-left: ~"calc(@{lime-contextualpopup-offset-overlap} * -1)"; }
				&.small { margin-left: @lime-contextualpopup-offset-small; }
				&.large { margin-left: @lime-contextualpopup-offset-large; }
			}
		}
		&.left  {
			&.top,
			&.middle,
			&.bottom {
				&.overlap { margin-left: @lime-contextualpopup-offset-overlap; }
				&.small { margin-left: ~"calc(@{lime-contextualpopup-offset-small} * -1)"; }
				&.large { margin-left: ~"calc(@{lime-contextualpopup-offset-large} * -1)"; }
			}
		}

		&.fixedSize {
			overflow: hidden;
		}
	}

	.enact-locale-rtl({
		.container {
			direction: rtl;
		}
	});

	.arrow {
		position: absolute;
		height: @lime-contextualpopup-arrow-height;
		width: @lime-contextualpopup-arrow-width;

		&.above {
			transform: rotate(180deg);
		}
		&.left {
			transform: rotate(90deg);
		}
		&.right {
			transform: rotate(-90deg);
		}
	}

	// Skin colors
	.applySkins({
		.container {
			background-color: @lime-contextualpopup-container-color;
			border: 1px solid @lime-contextualpopup-border-color;
			border-radius: @lime-contextualpopup-border-radius;
			box-shadow: @lime-contextualpopup-shadow;

			:global(.noAnimation) & {
				box-shadow: none;
			}
		}

		.arrow {
			stroke: @lime-overlay-outline-color;
			stroke-width: @lime-overlay-outline-width;

			.arrowFill {
				fill: @lime-contextualpopup-container-color;
			}
		}

		.outline {
			outline-color: @lime-overlay-outline-color;
			outline-style: @lime-overlay-outline-style;
			outline-width: @lime-overlay-outline-width;
			outline-offset: ~"calc(@{lime-overlay-outline-width} * -1)";
		}
	});
}
