// Steps.module.less
//
@import "../styles/mixins.less";
@import '../styles/skin.less';
@import "../styles/variables.less";

.steps {
	margin: @lime-steps-margin;

	.step {
		margin: @lime-steps-step-margin;

		&.numbers {
			.lime-font-number();
			font-size: @lime-steps-step-number-font-size;
			font-weight: @lime-steps-step-number-font-weight;
			margin: @lime-steps-step-number-margin;

			&.past {
				opacity:  @lime-steps-step-number-past-opacity;
			}

			&.current {
				opacity: @lime-steps-step-number-current-opacity;
			}

			&.future {
				opacity: @lime-steps-step-number-future-opacity;
			}
		}

		&.hasNumbers {
			margin: @lime-steps-step-margin;

			&.past {
				opacity:  @lime-steps-step-number-past-opacity;
			}

			&.future {
				opacity: @lime-steps-step-number-future-opacity;
			}
		}

		&.highlightCurrentOnly {
			&.future {
				opacity: @lime-steps-step-highlight-current-only-future-opacity;
			}
		}

		&.past {
			opacity: @lime-steps-step-past-opacity;
		}

		&.current {
			opacity: @lime-steps-step-current-opacity;
		}

		&.future {
			opacity: @lime-steps-step-future-opacity;
		}
	}

	.pageIndicator {
		width: @lime-steps-pageindicator-size;
		height: @lime-steps-pageindicator-size;
		margin: @lime-steps-pageindicator-margin;
		border-radius: @lime-steps-pageindicator-border-radius;

		&.current {
			width: @lime-steps-pageindicator-current-size;
			height: @lime-steps-pageindicator-current-size;
			margin: @lime-steps-pageindicator-current-margin;
		}
	}

	.applySkins({
		.step {
			&.numbers {
				&.current {
					color: @lime-steps-step-text-now;
				}

				&.future {
					color: @lime-steps-step-text-next;

				}

				&.past {
					color: @lime-steps-step-text-past
				}
			}

			&.hasNumbers {
				&.current {
					color: @lime-steps-step-text-now;
				}

				&.future {
					color: @lime-steps-step-text-next;

				}

				&.past {
					color: @lime-steps-step-text-past
				}
			}
		}

		.pageIndicator {
			background-color: @lime-steps-pageindicator-bg-color;

			&.current {
				background-color: @lime-steps-pageindicator-current-bg-color;
			}
		}
	});
}
