// Steps.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";
@import "../styles/variables.less";

.steps {
	.step {
		margin: @lime-steps-step-margin;

		&.numbers {
			font-size: @lime-steps-step-number-font-size;
			font-weight: @lime-steps-step-number-font-weight;

			.lime-custom-text({
				font-size: @lime-steps-step-number-font-size-large;
			})
		}

		&.highlightCurrentOnly {
			&.future {
				opacity: @lime-steps-step-highlight-current-only-future-opacity;
			}
		}

		&.current {
			opacity: @lime-steps-step-current-opacity;
		}

		&.future {
			opacity: @lime-steps-step-future-opacity;
		}
	}

	&.highlightCurrentOnly {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: @lime-steps-highlight-current-only-gap;
		margin-top: @lime-steps-highlight-current-only-margin-top;
		min-height: @lime-steps-highlight-current-only-min-height;
	}

	.pageIndicator {
		width: @lime-steps-pageindicator-size;
		height: @lime-steps-pageindicator-size;
		margin: 0;
		border-radius: @lime-steps-pageindicator-border-radius;

		&.current {
			width: @lime-steps-pageindicator-current-size;
			height: @lime-steps-pageindicator-current-size;
			margin: @lime-steps-pageindicator-current-margin;
		}
	}

	.lime-custom-text({
		.pageIndicator {
			width: @lime-steps-pageindicator-size-large;
			height: @lime-steps-pageindicator-size-large;

			&.current {
				width: @lime-steps-pageindicator-current-size-large;
				height: @lime-steps-pageindicator-current-size-large;
			}
		}
	});

	.applySkins({
		.step:not(.pageIndicator) {
			&.past {
				color: @lime-steps-step-icon-success-color;
			}
			
			&.current {
				color: @lime-steps-step-label-active-color;
			}
			
			&.future {
				color: @lime-steps-step-label-inactive-color;
			}
		}

		.pageIndicator {
			background-color: @lime-steps-indicator-icon-inactive-color;

			&.current {
				background-color: @lime-steps-indicator-icon-active-color;
			}
		}
	});
}
